/* -----------------------------------------------------------------------------
Import CORE LIBS, GLOBALS
----------------------------------------------------------------------------- */

/* BOOTSTRAP ---------------------------------------------------------------- */
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min";
@import "../../../node_modules/datatables-bootstrap/css/dataTables.bootstrap.min";
@import "../../../node_modules/font-awesome/css/font-awesome";
/* CUSTOM ---------------------------------------------------------------- */
@import "globals/variables"; 
@import "globals/fonts";
@import "globals/mixins";
@import "globals/base";
@import "globals/common";
@import "globals/rte";
@import "globals/motion";
@import "globals/print";
@import "globals/styles";

