@import "../../globals/variables";
@import "../../globals/mixins";
/* -----------------------------------------------------
	alltrips page
-------------------------------------------------------*/
#add-travelers-page{
	padding:0px;
	& #confirmModal{
		margin:80px auto;
	}
	& .body-content{
		& .row{
			& .col-md-5{
				& .nav-tabs > li.active > a, & .nav-tabs > li.active > a:hover, & .nav-tabs > li.active > a:focus{
					background-color: rgba(255, 255, 255, 0.45);
    				border: 1px solid #ffffff;
    				border-bottom-color: transparent;
				}
				& #add-travelers, & #personal-info{
					background-color: rgba(255, 255, 255, 0.45);
				    border: 1px solid #ffffff;
				    border-radius: 3px;
				    padding: .9375rem;
				}
			}
			& p{
				font-weight:bold;
			}
			& #template{
				p{
					text-align:left;
					font-size:12px;
					& a{
						border-bottom:solid 1px #5DB9BE;
						padding-bottom:5px;
						color:#333333;
					}
				}
			}
			#tabs li.active{
				
			}
			& #bulkTable{
				& #bulkLoad{
							width:100%;
							border:1px solid $teal;
							& td{
								line-height:1.5em;
								padding:5px;
							}
				}
			}
			& #bulk.col-sm-12{
				& p{
					text-transform: uppercase;
					color:#1a4666;
					font-size:16px;
					font-weight:normal;
					& a{
						text-decoration: underline!important;
						color:#5DB9BE;
					}

				}
				& button[type=submit], & input[type=file], & label{
				    background-color: #5DB9BE;
    				border-color: #5DB9BE; 
    				color:#ffffff;
    				text-transform:uppercase;
    				text-align:center;
				}
				& input[type=file]{
					opacity:0;
					position:absolute;
					z-index: 2;
				}
				& .file-return {
					position: relative;
					z-index: 1;
					width:100%;
					text-align:center;
					background-color: #5DB9BE;
	    			border-color: #5DB9BE; 
	    			color:#ffffff;
	    			text-transform:uppercase;
	    			cursor:pointer;
	    			padding: 14px 20px;
				    margin: 8px 0;
				    border: none;
				    cursor: pointer;
				    width: 100%;
				    height:49px;
				    font-size:14px;
				    display: inline-block;
				    border-radius: 2px;
				    letter-spacing: 1.2px;
				    line-height: 1.5em;
				}
				& .file-return:empty:before{
					content: "Select a file ";
				}
				& .file-return:not(:empty):before {
				  content: "Selected file: ";
				  font-style: normal;
				  font-weight: normal;
				}
			}
			& button[type=submit]{
				    background-color:#5DB9BE;
    				border-color: #5DB9BE; 
    				color:#ffffff;
    				text-transform:uppercase;
			}

			& #addTravelers_wrapper, & .addTravelerWrapper{
				background-color: rgba(255,255,255,0.45);
    			border: 1px solid #ffffff;
    			border-radius:3px;
    			padding:15px 0px;
    			margin-bottom:10px;
    			& #addTravelers_length{
					position:relative;
					width:100%;
					& select{
						width:100%;
						height:auto;
						margin:0px 5px;
						border-radius:3px;
						&:focus{
							background-color: #FFFFFF;
						    border: 1px solid #AAAAAA;
						    box-shadow: none;
						    outline: 0 !important;
						}

					}
				}
    			& .col-sm-12{
    				& h5{
    					text-transform:uppercase;
    					color:$teal;
    				}
    				& table.dataTable{
						box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
					}
					& table.dataTable tbody tr td input[type=button]{
						margin:0px auto;
						background: #5DB9BE;
					}
					& table.dataTable tbody tr.selected{
						background-color:$orange;
						border-radius:3px;
						color:$white;
					}
					& table.dataTable tbody td.select-checkbox{
						font-family:$FontAwesome;
					}
					& table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before{
						top:1.9em;
						width:15px;
						height:15px;
					}
					& .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td{
						border:0px solid #dddddd;
					}
					table.dataTable tr.selected td.select-checkbox:before{
						border-color:$white;
					}
					table.dataTable > thead > tr > th:before, table.dataTable > thead > tr > th:after{
						display:none;
					}
					table.dataTable > thead > tr > th:first-child{
						background:none;
					}
					table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after{
						text-shadow:none!important;
						content:'\f00d';
						margin-top: -1px;
						color:$white;
					}
					& table.dataTable tbody th, table.dataTable tbody td{
						padding:15px 10px;
						line-height:2.5rem;
					}
					& table.dataTable.no-footer{
						border:1px solid transparent
					}
					& table.dataTable thead tr{
						color:#ffffff;
						background-color: $grey-blue;
					}
					& .dataTables_wrapper .dataTables_paginate .paginate_button:active{
						background:none;
						box-shadow:none;
					}
					& div.dataTables_wrapper div.dataTables_info{
						padding:8px 10px;
					}
    			}
    			& .col-sm-5{
					display:none;
				}
			}
			#add-travelers-page .body-content .col-sm-12 .table > thead > tr > th:focus{
				outline: transparent auto 5px;
			}
			& #addTravelers_wrapper .row:last-child .col-sm-7 .dataTables_paginate{
				width:100%;
				& ul{
					width:100%;
					display:table;
					& li{
						
					}
				}
			}
			& .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
				border: 1px solid transparent;
				background-color: transparent;
				background:transparent;
			}
			& .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
				background-color: #5DB9BE;
				border-color:#5DB9BE;
			}
		}
		
	}
	.card{
		border-radius:0px 4px 4px 4px;
	}
	.card form [class*="col-"] {
    	padding: 0px;
  	}
  	.card form [class*="col-"]:first-child {
    	padding-left: 0px;
  	}
  	.card form [class*="col-"]:last-child {
    	padding-right: 0px;
  	}
  	.card form [class="col-md-6"]:first-child{
  		padding-left:0px;
  		padding-right:15px;
  	}
  	.card form [class="col-md-6"]:last-child {
  		padding-left:15px;
    	padding-right: 0px;
  	}
	& input ~ label{
	    position: absolute;
	    left: 0px;
	    width: 100%;
	    top: 0px;
	    font-size:14px;
	    transition: 0.3s;
	    z-index: 1;
	    letter-spacing: 1.2px;
	    line-height: 1.5em;
	    text-transform:none;
	  }
	  & input{
	    margin-top:24px;
	    margin-bottom:0px;
	    position:relative;
	    z-index: 5;
	    transition: 0.3s;
	    &:focus, &.has-content{
				border-color:#5DB9BE !important;
			}
	  }
	  & input:focus ~ label, & input.has-content ~ label {
	    color: #5DB9BE!important;
	  }
		input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
		  	background-color: rgba(255,255,255,0.0)!important;
		}
		& .focus-border{
		    height: 50px;
		    margin-top: 23px;
		    margin-bottom: 0px;
		    position: absolute;
		    border-radius:3px;
		    top: 0px;
		    left: -1px;
		    width: 100%;
			 	& input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:after {
				    left: auto;
				    right: 0;
			}
		 }
		& input ~ .focus-border:before, & input ~ .focus-border:after {
		    content: "";
		    position: absolute;
		    top: -1px;
		    left: 50%;
		    width: 0;
		    height: 3px;
		    background-color: #5DB9BE;
		    transition: 0.4s;
	  	}
	  	& input ~ .focus-border i:before, & input ~ .focus-border i:after {
		    content: "";
		    position: absolute;
		    top: 50%;
		    left: 0;
		    width: 3px;
		    height: 0;
		    background-color: #5DB9BE;
		    transition: 0.6s;
		}

	  & input ~ .focus-border:after {
	    top: auto;
	    bottom: 0;
	    left:4px;
	  }
	  & input:focus ~ .focus-border:before, & input:focus ~ .focus-border:after, & input.has-content ~ .focus-border:before, & input.has-content ~ .focus-border:after {
	    left: 0;
	    width: 100%;
	    transition: 0.4s;
	  }
	  & input:focus ~ .focus-border i:before, & input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:before, & input.has-content ~ .focus-border i:after {
	    top: -1px;
	    height: 100%;
	    transition: 0.6s;
	  }
	  & input:focus ~ .focus-border i:before, & input.has-content ~ .focus-border i:before {
	    left: -1px;
	    height:102%

	  }
	  & input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:after {
	    left: auto;
	    right: -3px;
	  }
	  &:last-child{
	  	margin-bottom:0px;
	  	& input{
	  		margin-bottom:10px !important;
	  	}
	  }
	  	.card form .airlineMiles {
    		& input{
    			margin-top:30px!important;
    		}
    		.focus-border{
    			top:50px;
    		}
    		& select{
    			position:relative;
    			top:30px;
    			border-radius:3px;
    			&:focus{
    				border-color: #5DB9BE !important;
    				box-shaow:none;
    			}
    		}
    		& select:focus ~ label{
    			color: #5DB9BE!important;
    		}
    		
  		}
  		& #ffSection{
  			position:relative;
  		}
  		& .plusBtn, & .minusBtn{
			color: #5DB9BE!important;
			position:absolute;
			right:0px; top:0px;
			font-size:20px;
			z-index: 3;
			cursor:pointer;
    	}
	  .dataTables_filter input{
	  	margin-top:0px!important
	  }
	  .dataTables_filter:last-child input{
	  	margin-bottom:0px!important;
	  }
	  .dataTables_length select{
	  	margin-bottom:0px!important;
	  }
	  & .col-sm-12#remove{
	  	padding:0px;
	  	& .remove{
	  		background-color:$orange;
	  		color:$white;
	  	}
	  }


}

@import "mobile/addtravelers-mobile";