@import "../../globals/variables";
@import "../../globals/mixins";
/* -----------------------------------------------------
	alltrips page
-------------------------------------------------------*/
#all-trips-page{
	padding:0px;
	& .body-content{
		& .col-md-7, & .col-md-5{
			#allTrips_wrapper{
				background-color: rgba(255,255,255,0.45);
    			border: 1px solid #ffffff;
    			border-radius:3px;
    			padding:15px 0px;
    			& .dataTables_length{
    				& select{
    					margin:0px 5px !important;
    				}
    			}
    			& .dataTables_filter{
    				
    			}
			}
			& table.dataTable{
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
			}
			& table.dataTable tbody tr.selected{
				background-color:$orange;
				border-radius:3px;
				color:$white;
			}
			& .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td{
				border:0px solid #dddddd;
				text-align:center;
				padding-left:0px;
				padding-right:0px;
			}
			& table.dataTable tbody th, table.dataTable tbody td{
				padding:15px 10px;
				text-align:center;
			}
			table.dataTable.no-footer{
				border:1px solid transparent
			}
			table.dataTable thead tr{
				color:#ffffff;
				background-color:$grey-blue;
			}
			table.dataTable tbody td .fa-check-circle{
				font-size:20px;
				color:$teal;
			}
			table.dataTable tbody td .fa-check-circle-o{
				font-size:20px;
				color:$teal;
			}
			table.dataTable tbody td .fa-exclamation-triangle{
				font-size:20px;
				color:$yellow;
			}
			table.dataTable tbody td .fa-ban{
				font-size:20px;
				color:$red;
			}
			.dataTables_wrapper .dataTables_paginate .paginate_button:active{
				background:none;
				box-shadow:none;
			}
			.dataTables_wrapper .dataTables_info{
				padding:8px 10px;
			}
			& #allTrips_wrapper .row:last-child .col-md-5, & #allTrips_wrapper .row:last-child .col-m-7{
				width:100%;
				float:left;
			}
			#allTrips-page .body-content .col-md-7 .table > thead > tr > th:focus{
				outline: transparent auto 5px;
			}
			& #allTrips_wrapper .row:last-child .col-md-7 .dataTables_paginate{
				width:100%;
				& ul{
					width:100%;
					display:table;
					
				}
			}
			& .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
				border: 1px solid transparent;
				background-color: transparent;
				background:transparent;
			}
			& .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
				background-color: $grey-blue;
				border-color:$grey-blue;
			}
		}
		& .col-md-5{
			.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
				background-color: rgba(255, 255, 255, .45);
    			border: 1px solid #ffffff;
    			border-bottom-color:transparent
			}
			& #approvals{
				background-color: rgba(255, 255, 255, .45);
    			border: 1px solid #ffffff;
    			border-radius: 3px;
    			padding: .9375rem;
				& .content{
					padding:0px;
					background: #ffffff;
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
					& .row{
							border-bottom:1px solid #ddd;
						& .travellerName, & #flightInfo{
							margin-bottom:0px;
							padding:15px;
							& .card-title{
								margin-top:0px;
								margin-bottom:0px;
								font-weight:normal;
								font-size:32px;
							}
							& .traveller_email{
								font-size:12px;
								width:auto;
								padding:0px;
								margin:0px;
							}
						}
						& .travellerName{
							border-right:1px solid #ddd;
						}
						& #approvalID{
								text-align:center;
								padding:0px;
								& i{
									margin:5px auto 0px;
									font-size:32px;
									text-align:center;
									&:before{
										margin:0px auto;
									}
								}
								& p {
									font-size:10px;
								}
								&.isApproved{
									color:$teal!important;
								}
								&.isDenied{
									color:$red!important;
								}
								&.isPending{
									color:$yellow!important;
								}
						}
						& #flightInfo{
							.deptHeader{
								font-family: $Source-Sans-Pro;
							    font-size: 32px;
							    font-weight: bold;
							    line-height: 1.25;
							    letter-spacing: 0.5px;
							    color: #000000;
							    float:left;
							    margin-top:15px;
								&:after{
									font-family:$FontAwesome;
									color:$black;
									float:right;
									margin:0px 10px;
									content: "\f072";
									/* Rotate div */
								    -ms-transform: rotate(45deg); /* IE 9 */
								    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
								    transform: rotate(45deg);
								}
							}
							.arrvHeader{
								font-family: $Source-Sans-Pro;
							    font-size: 32px;
							    font-weight: bold;
							    line-height: 1.25;
							    letter-spacing: 0.5px;
							    color: #000000;
							    float:left;
							    margin-top:15px;
							    margin-left:5px;
							}
						}
						& #costs{
							margin:0px;
							width:50%;
							padding:15px;
							border-right:1px solid #ddd;
							& .card-title{
								margin-top:0px;
								margin-bottom:0px;
								font-weight:normal;
								font-size:32px;
							}
							& p{
								font-size:12px;
								width:auto;
								padding:0px;
								margin:0px;
								text-align:left;
							}
						}
						& #status{
							margin-bottom:0px;
							padding:15px;
							& .row{
								border-bottom:none;
								& #clock{
									margin-bottom:0px;
									padding:5px 0px;
									& .approval-card-title{
										margin-top:0px;
										margin-bottom:0px;
										font-weight:normal;
										font-size:18px;
										text-align:center;
									}
									& p{
										font-size:12px;
										width:auto;
										padding:0px;
										margin:0px;
										text-align:center;
									}
									&.isApproved{
										.approval-card-title{
											color:$teal;
										}
									}
									&.isDenied{
										.approval-card-title{
											color:$red;
										}
									}
									&.isPending{
										.approval-card-title{
											color:$yellow;
										}
									}
								}
								
							}
						}
						&#app-status{
							& .col-sm-12{
								padding:0px 15px;
								&:first-child{
									padding-right:0px;
								}
								&:last-child{
									padding-left:0px;
								}
								& .approve{
									& button{
										background-color:$teal;
									}
								}
								& .deny{
									& button{
										background-color:$red;
									}
								}
							}
							&.isApproved{
								& .approve{
									& button{
										opacity:0.5;
										cursor:text;
									}
									
								}
								& .deny{
									
								}
							}
							&.isDenied{
								& .approve, & .deny{
									& button{
										opacity:0.5;
										cursor:text;
									}
								}
							}
							&.isPending{
							}
						}
						& #sites{
							margin-bottom:0px;
							padding:15px;
							& .card-title{
								margin-top:0px;
								margin-bottom:0px;
								font-weight:normal;
								font-size:18px;
								color:$orange;
							}
							& .traveller_email{
								font-size:10px;
								width:auto;
								padding:0px;
								margin:0px;
							}
						}
						&#comments{
							& .col-sm-12{
								padding:15px;
								& textarea{
									resize:none;
									width:100%;
									margin:0px;
									border-color:#dddddd;
								}
							}
						}
						&:last-child{
							border-bottom:none;
						}
					}
				}
			}
			& #itinerary{
				background-color: rgba(255, 255, 255, .45);
    			border: 1px solid #ffffff;
    			border-radius: 3px;
    			padding: .9375rem;
				& .content{
					padding:0px;
					background: #ffffff;
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
					& .row{
						&:first-child, &:nth-child(2){
							border-bottom:1px solid #ddd;
						}
						&:nth-child(2) .col-sm-12{
							padding:0px 15px 15px;
							& h4{
								margin-bottom:0px;
							}
							& span{
								font-size:12px;
								margin-bottom:15px;
							}
						}
						& .travellerName, & #flightInfo2{
							margin-bottom:0px;
							padding:15px;
							& .card-title{
								margin-top:0px;
								margin-bottom:0px;
								font-weight:normal;
								font-size:32px;
							}
							& .traveller_email{
								font-size:12px;
								width:auto;
								padding:0px;
								margin:0px;
							}
						}
						& .travellerName{
							border-right:1px solid #ddd;
						}
						& #flightInfo2{
							.deptHeader{
								font-family: $Source-Sans-Pro;
							    font-size: 32px;
							    font-weight: bold;
							    line-height: 1.25;
							    letter-spacing: 0.5px;
							    color: #000000;
							    float:left;
							    margin-top:15px;
								&:after{
									font-family:$FontAwesome;
									color:$black;
									float:right;
									margin:0px 10px;
									content: "\f072";
									/* Rotate div */
								    -ms-transform: rotate(45deg); /* IE 9 */
								    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
								    transform: rotate(45deg);
								}
							}
							.arrvHeader{
								font-family: $Source-Sans-Pro;
							    font-size: 32px;
							    font-weight: bold;
							    line-height: 1.25;
							    letter-spacing: 0.5px;
							    color: #000000;
							    float:left;
							    margin-top:15px;
							    margin-left:5px;
							}
						}
						
						&:last-child{
							& ul{
								border-bottom:none;
								& li{
									padding:15px;
								}
							}
						}
					}
					& #departureDetails{
						& .col-sm-12{
							padding:0px;
							& #itinerary-accordian{
								& .item{
									& a{
										padding:15px;
										display:block;
										width:100%;
										background-color: #eceff1;
										border-top:1px solid #a5aab2;
										border-bottom:1px solid #a5aab2;
										& .fa-angle-double-down:before{
											content:"\f102";
										}
										&.collapsed .fa-angle-double-down:before{
											content:"\f103";
										}
									}
									& #departure-travel, & #return-travel{
										background-color: #ffffff;
										& .list-group{
											margin-bottom:0px;
										}
										& .departureDetails{
											& ul{
												width:100%;
												display:table;
												margin:0px;
												padding:0px;
												list-style-type: none;
												font-size:10px;
												color:$grey-blue;
												border-bottom:1px solid #a5aab2;
												& li{
													display:table-cell;
													padding:5px;
													text-align:center;
													border-right:1px solid #a5aab2;
													&:last-child{
														border-right:0px solid #a5aab2;
													}
													& p{
														margin-top:10px;
													}
												}
											}
										}
										& .departureTime{
											& ul{
												width:100%;
												display:block;
												margin:0px;
												padding:0px;
												list-style-type: none;
												font-size:10px;
												border-bottom:none;
												& li{
													display:block;
													padding:0px;
														& ul{
														width:100%;
														display:table;
														margin:0px;
														padding:0px;
														list-style-type: none;
														font-size:10px;
														& li{
															display:table-cell;
															padding:5px;
															text-align:center;
															font-family:$Raleway;
    														font-size: 14px;
    														color: #54565b;
															& p{
																margin-top:10px;
															}
														}
													}
													&.arrive{
														& ul{
															border-bottom:1px solid #a5aab2;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
					& ul{
						width:100%;
						display:table;
						margin:0px;
						padding:0px;
						list-style-type: none;
						font-size:10px;
						border-bottom:1px solid #a5aab2;
						& li{
							display:table-cell;
							padding:5px;
							text-align:center;
							&:last-child{
								border-right:0px solid #a5aab2;
							}
							& p{
								margin-top:10px;
							}
							& a{
								font-size:12px;
							}
						}
					}
				}
			}
		}
	}
}
& #printdiv{
			background-color: #ffffff;
			height:auto;
			z-index: 9999;
			border:1px solid #a5aab2;
			display:none;
			max-width:950px;
			width:100%;
			margin:0px auto;
			padding:15px;
			& #hidden_div{
			}
			& .print-wrapper{
				margin-left:0px;
				margin-right:0px;
				& .print-header{
					background-color: rgba(0,110,141,0.25);
					border-bottom:2px solid #006e8d;
					& .logo{
						width:auto;
						float:left;
						&:before{
							top:20%;
						}
					}
					& h1{
						float:right;
						color:#006e8d;
						padding-top:0px;
						text-transform: uppercase;
						font-weight:normal;
						font-size:32px;
						font-family:$Source-Sans-Pro;

					}
				}
				& .print-footer{
					background-color:#eceff1;
					border-top:2px solid #006e8d;
					& .logo{
						width:auto;
						float:right;
						margin-top:0px;
						padding-left:65px;
						padding-right:5px;
						&:before{
							top:20%;
						}
					}
					& h1{
						float:right;
						color:#006e8d;
						padding-top:0px;
						text-transform: uppercase;
						font-weight:normal;
						font-size:32px;
						font-family:$Source-Sans-Pro;

					}
				}
				& .departureHeader, & .returnHeader{
					background-color: #eceff1;
					margin-bottom:15px;
					& h3{
						margin-top:10px;
						color: #a5aab2;
						text-transform: uppercase;
						font-weight:normal;
						font-size:24px;
						font-family:$Source-Sans-Pro;
					}
				}
				& .traveller, & .recordLocator{
					margin-top:0px;
				}
				& .departureDetails, & .returnDetails{
					& .row{
						padding-bottom:15px;
					}
					& .col-sm-5{
						padding-left:0px;
						border-right:1px solid #a5aab2;
						& h5{
							color:#a5aab2;
							border-bottom:1px solid #a5aab2;
						}
						& h3{font-size:24px;}
						& h4{font-size:18px;}
						& .col-sm-6{
							
						}
					}
					& .col-sm-5:last-child{
						padding-right:0px;
						padding-left:15px;
						border-left:1px solid #a5aab2;
						border-right:0px solid #a5aab2;
					}
					& .col-sm-2{
						text-align:center;
						& h5{
							color:#a5aab2;
							border-bottom:1px solid #a5aab2;
							text-align:center;
							font-size:16px;
						}
					}
					& .col-sm-12{
						padding-left:0px;
						padding-right:0px;
					}
					& h3, & h6{
						margin-top:0px;
						margin-bottom:0px;
					}
					& .flightTitles{
						margin-top:15px;
						padding-top:10px;
						padding-left:0px;
						padding-right:0px;
						border-top:1px solid #a5aab2;
						& .col-sm-4{
							padding-left:0px;
							margin-bottom:0px;
							color:#a5aab2;
						}
					}
					& .flightDetails{
						padding-top:0px;
						padding-left:0px;
						padding-right:0px;
						& .col-sm-4{
							padding-left:0px;
						}
					}
				}
			}
		}
@import "mobile/alltrips-mobile";