#events-page{
  & .body-content{
    & .row{
      height:100%;
      & .content-events{
        & #tabs{
          & li{
            border:1px solid none;
            & a{
              border:1px solid #ffffff;
            }
          }
        }
        & .tab-content{
          position:relative;
          resize: vertical;
          border-bottom: 2px solid #ffffff;
          & .col-sm-12{
            padding:0px;
          }
          & .tab-pane{
            width:100%;
            min-height:600px;
            position:relative;
            & .card{
              border-radius:0px 4px 4px 4px;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0), 0 0 0 1px rgba(63, 63, 68, 0.0);
              background-color: transparent;
              margin-bottom: 10px;
              height:100%;
              width:100%;
              position:absolute;
              &:hover{
                
              }
              & .header{
                padding: 15px 15px 0;
                & .title{
                  margin: 0;
                  color: #333333;
                  font-weight: 300;
                }
              }
              & .content{
                width:100%;
                height:100%;
                padding:0px;
                background-color: #ffffff;
                border:1px solid #ffffff;
                & .row{
                  position:relative;
                  & .col-sm-12{
                    padding:0px;
                  }
                  & iframe{
                    display:block;
                    width: 100%;
                    
                    border:none;
                    border-width:0px;
                    border-color:transparent;
                    overflow-x:hidden;
                    overflow-y:scroll;
                    padding:0.25rem;
                    & html,body{
                      background-color:transparent!important;
                    }
                  }
                }
              }
              
            }
          }
        }
      }
    }
  }
}

@import "mobile/events-mobile";