body{
	#global-header{
		padding:0px;
		& .btn-warning{
			background-color: #FEA34B;
		}
		& #header {
			background: $white;
			border-bottom:1px solid #b5b8b3;
			height:56px;
			width:100%;
			position:fixed;
			z-index: 999;
			padding:0px 0px;
			& .nav{
				font-family: $Source-Sans-Pro;
				font-size:20px;
				letter-spacing:0.3px;
				color:$black;
				padding:0px 0px 0px;
				position:relative;
				left:0%;
				-webkit-transition-property:all;
			    -moz-transition-property: all;
			    transition-property: all;
			    -webkit-transition-duration: 0.5s;
			    -moz-transition-duration: 0.5s;
			    transition-duration: 0.5s;
		    	& .row{
			    	padding-left:10px;
			    	padding-right:10px;
					margin:0px auto;
					max-width:100%;
					& .col-sm-3, & .col-sm-6{
						padding-left:0px;
						padding-right:0px;
						float:left;
						
						/*Hamburger Button*/
						& .navCase{
						    float:left;
						    width:55px;
						    height:55px;
						    margin-top:0px;
						    z-index: 9995;
						    display:block;
						    position: absolute;
						    top: 0px;
						    left: -10px;
						    padding: 10px;
						    background: #65879c;
						    -webkit-transition-property:all;
						    -moz-transition-property: all;
						    transition-property: all;
						    -webkit-transition-duration: 0.45s;
						    -moz-transition-duration: 0.45s;
						    transition-duration: 0.45s;
						    & .circle{
						    	width:35px;
						    	height:35px;
						    	position: absolute;
						    	top:10px;
						    	left:10px;
						    	z-index: 1;
						    	border-radius:50%;
						    	border:0px solid #ffffff;
						    	-webkit-transform-origin: center;
							    -moz-transform-origin: center;
							    -ms-transform-origin: center;
							    -o-transform-origin: center;
							    transform-origin: center;
							    -webkit-transition-property:all;
							    -moz-transition-property: all;
							    transition-property: all;
							    -webkit-transition-duration: 0.5s;
							    -moz-transition-duration: 0.5s;
							    transition-duration: 0.5s;
						    	& .circlePath{
						    		stroke-dasharray: 120;
  									stroke-dashoffset:120;
  									 -webkit-transition-property:all;
								    -moz-transition-property: all;
								    transition-property: all;
								    -webkit-transition-duration: 1s;
								    -moz-transition-duration: 1s;
								    transition-duration: 1s;
								    stroke:#ffffff;
								    stroke-width:1px;
								    width:37px;
								    height:37px;
								    display:none;
						    	}
						    }
						}
						& .navToggle{
						    display: block;
						    width: 35px;
						    height: 35px;
						    padding: 7px 0px;
						    -webkit-transition-property:all;
						    -moz-transition-property: all;
						    transition-property: all;
						    -webkit-transition-duration: 0.5s;
						    -moz-transition-duration: 0.5s;
						    transition-duration: 0.5s;
						    position:relative;
						    top:0px;
						    left:0px;
						    & span {
							    font-size: 0;
							    color: transparent;
							    margin: 7px 0;
							    -webkit-transform-origin: center;
							    -moz-transform-origin: center;
							    -ms-transform-origin: center;
							    -o-transform-origin: center;
							    transform-origin: center;
							    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
							    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
							    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
							}
							& span, &:before, &:after {
							    content: "";
							    display: block;
							    height: 2px;
							    background:#ffffff;
							    -webkit-transform-origin: center;
							    -moz-transform-origin: center;
							    -ms-transform-origin: center;
							    -o-transform-origin: center;
							    transform-origin: center;
							    -webkit-transition-property:all;
							    -moz-transition-property: all;
							    transition-property: all;
							    -webkit-transition-duration: 0.5s;
							    -moz-transition-duration: 0.5s;
							    transition-duration: 0.5s;
							}
						}
						
					}
			   		& .col-sm-6{
			   			&:first-child{

			   			}
			   			& .userName{
			   				float:right;
			   				padding-top:15px;
			   				margin:0px 10px;
			   				& #userTitle{
			   					font-family:$Source-Sans-Pro;
							    color:$grey-blue;
							    font-size: 20px;
							    float: left;
							    letter-spacing: 4px;
							    margin-top:2.5%;
							    line-height:1;
							    font-weight:normal;
							    display:none;
							    & span{
							    	&:first-child{
							    		padding-right:10px;
							    	}
							    }

			   				}
			   			}
			   			& #title_select_carrier{
			   				.dropdown{
			   					margin-right:30px;
			   					position:relative;
			   					&:before{
			   						content:'';
			   						width:1px;
			   						height:75%;
			   						background-color: $grey-blue;
			   						position:absolute;
			   						right:-28px;
			   						top:15px;
			   					}
			   					& .btn{
			   						margin-top:5px;
			   					}
			   				}
			   			}
			   			& .dropdown{
			   				float:right;
			   				padding-top:10px;
			   				margin:0px 10px 0px 10px;
			   				position:relative;
			   				&#allProducts{

			   				}
			   				& .btn{
				   				padding:0px;
				   				margin:0px;
			   					&:active{
			   						box-shadow:none;
			   					}
			   					&.account{
			   						color:#a5aab2;
									width:35px;
							   		height:35px;
							   		float:right;
							   		padding-left:40px;
							   		border:none;
						   			outline:none;
						   			margin-right:10px;
						   			opacity:0.8;
						   			font-size:20px;
						   			background:url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/user-new.svg') center center no-repeat;
						   			background-size: contain;
						   			&:before{
			   						content:'';
			   						width:1px;
			   						height:73%;
			   						background-color: $grey-blue;
			   						position:absolute;
			   						left:-8px;
			   						top:13px;
			   						}
						   			& .caret{
						   				border-top:0px solid transparent;
						   				&:before{
						   					left:0px;
						   					top:-4px
						   				};
						   				&:after{
						   					left:2px;
						   					top:-4px;
						   				}
						   			}
								}
								&.products{
			   						color:#a5aab2;
									width:28px;
							   		height:28px;
							   		float:right;
							   		margin-top:5px;
							   		padding-left:0px;
							   		border:none;
						   			outline:none;
						   			border-radius:0px;
						   			opacity:0.8;
						   			font-size:20px;
						   			background:url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/allproducts-icon.png') center center no-repeat;
						   			background-size: contain;
						   			& .caret{
						   				
						   				&:before{
						   					display:none;
						   				};
						   				&:after{
						   					display:none;
						   				}
						   			}
								}
								&.title_select{
									background:transparent;
									color:$grey-blue;
									&:focus{
										outline:none;
									}
									& .caret{
						   				border-top:0px solid transparent;
						   				&:before{
						   					left:5px;
						   					top:-4px
						   				};
						   				&:after{
						   					left:7px;
						   					top:-4px;
						   				}
						   			}
								}
			   				}
			   				& #wrapper{
			   					position: absolute;
							    left:auto;
				   				right:-70px;
				   				user-select: none;
				   				/* for long menu// width:250px;*/
				   				width:auto;
				   				min-width:225px;
				   				/* for long menu//height:225px;*/
				   				height:auto;
							    box-shadow:none;
				   				border:1px solid #b5b8b3;
				   				border-top-color:#ffffff;
				   				background-color:#ffffff;
				   				border-radius:0px 0px 4px 4px;
				   				padding:10px;
							    z-index: 1;
							    top: 55px;
							    overflow-y: auto;
							    /* width */
							    
								&::-webkit-scrollbar {
								    width: 10px;
								}

								/* Track */
								&::-webkit-scrollbar-track {
								    background: $light-grey; 
								}
								 
								/* Handle */
								&::-webkit-scrollbar-thumb {
								    background: #a5aab2; 
								}

								/* Handle on hover */
								&::-webkit-scrollbar-thumb:hover {
								    background: #555; 
								}
				   					& #products-menu{
					   					list-style: none;
									    padding: 0;
									    margin: 0;
									    width: 100%;
						   				& a{
						   					color:$grey-blue;
						   					width:90px;
						   					height:110px;
						   					padding:10px;
						   					float:left;
						   					margin:5px;
						   					position:relative;
						   					border-radius:0px;
						   					cursor:pointer;
						   					font-size:12px;
						   					border: 1px solid #a6bbc7;
						   					& i{
						   						width:100%;
						   						text-align:center;
						   						font-size:3em;
						   						color:$grey-blue;
						   						padding:10px;
						   					}
						   					& span{
						   						padding:0px 0px;
						   						text-align:center;
						   						color:$grey-blue;
						   						width:100%;
						   						font-size:12px;
						   						position:absolute;
						   						bottom:10px;
						   						left:0px;
						   						text-transform:uppercase;
						   						
						   					}
						   				}
					   				}
				   				
			   				}
			   				& .dropdown-menu{
				   				left:auto;
				   				right:-25px;
				   				top:55px;
				   				min-width:120px;
				   				box-shadow:none;
				   				border-left-color:#b5b8b3;
				   				border-right-color:#b5b8b3;
				   				border-bottom-color:#b5b8b3;
				   				border-top-color:#ffffff;
				   				background-color:#ffffff;
				   				margin-top:0px;
				   				border-top:0px;
				   				border-radius: 0px 0px 4px 4px;
				   				padding-top:0px;
				   				padding-bottom:0px;
				   				& li{
				   					color:#1a4666;
				   					& a{
				   						padding:5px 20px;
				   						text-align:center;
				   						color:#a5aab2;
				   						text-transform:uppercase;
				   						&:hover{
				   							background-color:#ffffff;
				   							color:#1a4666;
				   						}
				   					}
				   				}
				   			}
			   			}
			   		}
		   		}
			}
		}
		& .caret {
	  		position: relative;
	  		&:before {
			  content: '';
			  position: absolute;
			  top: 0;
			  left: 23px;
			  border-top: 7px solid $grey-blue;
			  border-left: 7px solid transparent;
			  border-right: 7px solid transparent;
			}
			&:after {
			  content: '';
			  position: absolute;
			  left: 25px;
			  top: 0;
			  border-top: 5px solid #ffffff;
			  border-left: 5px solid transparent;
			  border-right: 5px solid transparent;
			}
		}
		& .btn:hover, & .btn:focus{
			color:transparent;
		}
	}
	/*SidebarNav*/
		& .sideBarNav {
		    height: 100%; /* 100% Full-height */
		    width: 55px; /* 0 width - change this with JavaScript */
		    position: fixed; /* Stay in place */
		    z-index: 998; /* Stay on top */
		    top:0px;
		    left: 0px;
		    border-right:1px solid #65879c;
		    border-top:1px solid $white;
		    background-color: #65879c;
		    overflow:hidden; 
		    padding:54px 0px 20px; 
		    transition: 0.5s;

		    & p{
		    	color:#ffffff;
		    	text-transform:uppercase;
		    	font-size:12px;
		    	position:relative;
		    	border-bottom:1px solid #dfe2e5;
		    	border-top:1px solid #dfe2e5;
		    	display:inline-block;
		    	padding:5px 0px;
		    	width:100%;
		    	margin:10px 0px 0px;
		    }
		    & a#adminAccordian, & a#travellerAccordian, & a#logOut{
		    	color:#7f8fa4;
		    	text-transform:uppercase;
		    	font-size:16px;
		    	position:relative;
		    	border-bottom:1px solid #dfe2e5;
		    	border-top:1px solid #dfe2e5;
		    	display:inline-block;
		    	padding:5px 0px;
		    	width:130px;
		    	margin-left:50px;
		    	transition: 0.3s;
		    	&:before {
				  content: '';
				  position: absolute;
				  top: 11px;
				  right: 0px;
				  border-top: 7px solid #a5aab2;
				  border-left: 7px solid transparent;
				  border-right: 7px solid transparent;
				}
				&:after {
				  content: '';
				  position: absolute;
				  right: 2px;
				  top: 11px;
				  border-top: 5px solid #ffffff;
				  border-left: 5px solid transparent;
				  border-right: 5px solid transparent;
				}  	
		    }
		    & a#logOut{
		    	display:none;
		    }
		    & ul{
		    	padding:0px 0px 0px 0px;
		    	margin:0px 0px 0px 0px;
		    	list-style-type:none;
		    	float:left;
		    	width:270px;
		    	height:auto;
		    	position:relative;
		    	& li{
		    		float:left;
		    		clear:both;
		    		width:100%;
		    		height:50px;
		    		padding:15px 0px 15px 55px;
		    		font-size:16px;
		    		text-align:left;
		    		position:relative;
		    		&.active{
		    			color:#FEA34B;
		    			& i{
		    				color:#FEA34B;
		    			}
		    			& a{
		    				color:#FEA34B;
		    			}
		    		}
		    		& i{
			    		color:#ffffff;
			    		margin-right:0px;
			    		float:left;
			    		margin-left:-40px;
			    		font-size:1.45em;
			    		width:20px;
			    		cursor:pointer;
			 			float:left;
			    		height:20px
			    	}
		    		& a {
					    color:#ffffff;
					    text-transform:uppercase;
					    font-family:$Source-Sans-Pro;
					    font-size:14px;
					    letter-spacing:2px;
					    transition: 0.3s;
    					float:left;
					    &:hover{

					    }&:before{
					    	font-family:$FontAwesome;
					    	font-size:20px;
		    				width:20px;
		    				margin-right:15px;
					    }
					    & hr{
					    	border-color:#dfe2e5;
					    	border-width:1px;
					    	margin-left:20px;
					    	width:85%;
					    }
					}
					&#profile-page{
						
					}
					&#profilesite-create-page{
						
					}
					&#alltrips-page{
						
					}
					
		    	}
		    	&#productMenuItems{
		    		color:red;
		    		& li {
		    			border-bottom:1px solid $white;
		    			&:first-child{
		    				border-bottom:1px solid $white;
		    			}
		    			& #dynamic-menu{
		    				margin-left:-55px;
		    				background-color:$grey-blue;
		    				border-right:1px solid $white;
		    				box-shadow: inset 0px 1px 10px #333, inset 1px -1px 10px #333;
		    				
		    				& li{
		    					height:50px;
		    					background-color: $white-25;
		    					border-top:0px solid $white;
		    					border-bottom:0px solid $white;
		    					font-size:12px;
		    					& i{
		    						margin-top:10px;
		    						font-size:1.2em;
		    					}
		    					
		    				}
		    			}
		    			&.active{
		    				background-color:$orange;
		    				
		    				height:auto;
		    				padding-bottom:0px;
		    				& i{
		    					color:$white;
		    				}
		    				& a{
		    					color:$white;
		    				}
		    				& .caret {
						  		position: relative;
						  		float:right;
						  		margin-right:10px;
						  		border-top-color: transparent;
						  		&:before {
								  content: '';
								  position: absolute;
								  top: 3px;
								  left: -6px;
								  border-top: 7px solid #ffffff;
								  border-left: 7px solid transparent;
								  border-right: 7px solid transparent;
								}
								&:after {
								  content: '';
								  position: absolute;
								  left: -4px;
								  top: 3px;
								  border-top: 5px solid $orange;
								  border-left: 5px solid transparent;
								  border-right: 5px solid transparent;
								}
							}
		    				& #dynamic-menu{
		    					margin-top:10px;
		    					box-shadow: inset 0px 1px 10px #333;
		    					padding-top:0px;
		    					background-color:$grey-blue;
		    					border-right:1px solid $white;
		    					height:0px;
		    					overflow:hidden;
		    					& li{
		    						padding:15px 0px 15px 15px;
		    						&:first-child{
		    							border-top:1px solid $white;
		    						}
		    						&:hover{
		    							& a{
		    								color:$white;
		    							}
		    							& i{
		    								color:$white;
		    							}
		    						}
		    						&.active{
					    				background-color: rgba(255,255,255,0.5);
					    				border-top:1px solid #1a4666;
					    				border-bottom:1px solid #1a4666;
					    				& a{
					    					color:$blue;
					    					font-weight:bold;
					    				}
					    				& i{
					    					color:$blue;

					    				}
		    						}
		    						&:last-child{
		    							&.active{
		    								border-bottom:1px solid transparent;
		    							}
		    						}
		    					}
		    					& a{
		    						color:$skyblue;
		    						margin-left:20px;
		    						margin-top:0px;
		    						font-size:13px;
		    					}
		    					& i{
		    						color:$skyblue;
		    						margin-left:2px;
		    						margin-top:2px;
		    						font-size:1.35em
		    						
		    					}
		    				}
		    			}
		    		}
		    	}
		    }
		    & #adminNav, #travellerNav{
		    	transition: 0.5s;
		    	overflow:hidden;
		    	position:relative;
		    	height:100%;
		    		&.open{
		    			height:auto!important;
		    		}
		    }
		    & #travellerAccordian{
		    	margin-top:10px;
		    }
		}
	&.hamburgerNavActive .navCase{
	    & .circle{
	    	border:1px solid #FEA34B!important;
	    	& .circlePath{
	    		stroke-dashoffset: 0!important;
	    	}
	    }
	}
	&.hamburgerNavActive .navToggle{width:20px!important; height:20px!important;left:8px!important;}
	&.hamburgerNavActive .navToggle:before {
	    -webkit-transform: translateY(10px) rotate(45deg);
	    -moz-transform: translateY(10px) rotate(45deg);
	    -ms-transform: translateY(10px) rotate(45deg);
	    -o-transform: translateY(10px) rotate(45deg);
	    transform: translateY(10px) rotate(45deg);
	    background:#FEA34B!important;
	}
	&.hamburgerNavActive .navToggle span {
	    -webkit-transform: translateY(1px) rotate(-45deg);
	    -moz-transform: translateY(1px) rotate(-45deg);
	    -ms-transform: translateY(1px) rotate(-45deg);
	    -o-transform: translateY(1px) rotate(-45deg);
	    transform: translateY(1px) rotate(-45deg);
	    background:#FEA34B!important;
	}
	&.hamburgerNavActive .navToggle:after {
	    opacity: 0;
	}
	&.hamburgerNavActive .sideBarNav{
		width:270px!important;
		& ul{
			& li{
				&:last-child{
					width:270px!important;
				}
				&.active{
					& #dynamic-menu{
						height:auto;
					}
				}
			}
		}
	}
	&.hamburgerNavActive a#adminAccordian, &.hamburgerNavActive a#travellerAccordian, &.hamburgerNavActive a#logOut{
    	margin-left:35px!important;
    }
    &.hamburgerNavActive .body-content{
		left:80px;
	}
	&.hamburgerNavActive .sideBarNav ul#productMenuItems li.active #dynamic-menu{
		height:auto;
	}
}
@import "mobile/global-header-mobile";