@import "../../globals/variables";
@import "../../globals/mixins";

footer {
    font-family:$Source-Sans-Pro-Bold;
    position:relative;
    bottom:0px;
    padding:10px 10px;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    margin-top:5%;
    background:transparent;
    z-index:10;
    & .row{
        padding-left:0px;
        padding-right:0px;
        margin:0px auto;
        & .col-sm-6{
            & .logo{
                float:right;
            }
        }
    }
}

@import "mobile/global-footer-mobile";