@import "../../globals/variables";
@import "../../globals/mixins";
body{
	#global-header{
		padding:0px;
		& .btn-warning{
			background-color: #FEA34B;
		}
		& #header {
			background: $white;
			border-bottom:1px solid #dfe2e5;
			height:auto;
			width:100%;
			position:fixed;
			z-index: 9999;
			padding:0px 0px;
			& .nav{
				font-family: $Source-Sans-Pro;
				font-size:20px;
				letter-spacing:0.3px;
				color:$black;
				padding:10px 0px;
				position:relative;
				left:0%;
				-webkit-transition-property:all;
			    -moz-transition-property: all;
			    transition-property: all;
			    -webkit-transition-duration: 0.5s;
			    -moz-transition-duration: 0.5s;
			    transition-duration: 0.5s;
		    	& .row{
			    	padding-left:10px;
			    	padding-right:10px;
					margin:0px auto;
					max-width:100%;
					& .col-sm-3, & .col-sm-6{
						padding-left:0px;
						float:left;
						
						/*Hamburger Button*/
						& .navCase{
						    float:left;
						    width:35px;
						    height:35px;
						    margin-top:10px;
						    z-index: 9995;
						    border-radius:50%;
						    display:block;
						    position: relative;
						    border:0px solid #a5aab2;
						    -webkit-transition-property:all;
						    -moz-transition-property: all;
						    transition-property: all;
						    -webkit-transition-duration: 0.45s;
						    -moz-transition-duration: 0.45s;
						    transition-duration: 0.45s;
						    & .circle{
						    	width:35px;
						    	height:35px;
						    	position: absolute;
						    	top:0px;
						    	left:0px;
						    	z-index: 1;
						    	& .circlePath{
						    		stroke-dasharray: 120;
  									stroke-dashoffset:120;
  									 -webkit-transition-property:all;
								    -moz-transition-property: all;
								    transition-property: all;
								    -webkit-transition-duration: 1s;
								    -moz-transition-duration: 1s;
								    transition-duration: 1s;
						    	}
						    }
						}
						& .navToggle{
						    display: block;
						    width: 25px;
						    height: 25px;
						    padding: 0px;
						    -webkit-transition-property:all;
						    -moz-transition-property: all;
						    transition-property: all;
						    -webkit-transition-duration: 0.5s;
						    -moz-transition-duration: 0.5s;
						    transition-duration: 0.5s;
						    position:absolute;
						    top:9px;
						    left:5px;
						    & span {
							    font-size: 0;
							    color: transparent;
							    margin: 5px 0;
							    -webkit-transform-origin: center;
							    -moz-transform-origin: center;
							    -ms-transform-origin: center;
							    -o-transform-origin: center;
							    transform-origin: center;
							    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
							    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
							    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
							}
							& span, &:before, &:after {
							    content: "";
							    display: block;
							    height: 2px;
							    background:#a5aab2;
							    -webkit-transform-origin: center;
							    -moz-transform-origin: center;
							    -ms-transform-origin: center;
							    -o-transform-origin: center;
							    transform-origin: center;
							    -webkit-transition-property:all;
							    -moz-transition-property: all;
							    transition-property: all;
							    -webkit-transition-duration: 0.5s;
							    -moz-transition-duration: 0.5s;
							    transition-duration: 0.5s;
							}
						}
						
					}
			   		& .col-sm-6{
			   			& .userName{
			   				float:right;
			   				& #userTitle{
			   					font-family:$Source-Sans-Pro;
							    color:#a5aab2;
							    font-size: 20px;
							    float: left;
							    letter-spacing: 4px;
							    margin-top:10%;
							    font-weight:normal;
							    & span{
							    	&:first-child{
							    		padding-right:10px;
							    	}
							    }

			   				}
			   			}
			   			& .dropdown{
			   				float:right;
			   				margin:0px 0px 0px 20px;
			   				& .btn{
				   				padding:0px;
				   				margin:0px;
			   					&:active{
			   						box-shadow:none;
			   					}
			   					&.account{
			   						color:#a5aab2;
									width:60px;
							   		height:60px;
							   		float:right;
							   		padding-left:60px;
							   		border:none;
						   			outline:none;
						   			margin-right:10px;
						   			opacity:0.8;
						   			font-size:60px;
						   			background:url('../images/global/user-new.svg') center center no-repeat;
						   			background-size: contain;
						   			& .caret{
						   				margin-top:-30px;
						   				&:before{
						   					display:none;
						   				};
						   				&:after{
						   					display:none;
						   				}
						   			}
								}
			   				}
			   			}
			   			& .dropdown-menu{
			   				left:auto;
			   				right:-25px;
			   				top:70px;
			   				min-width:120px;
			   				box-shadow:none;
			   				border-left-color:#dfe2e5;
			   				border-right-color:#dfe2e5;
			   				border-bottom-color:#dfe2e5;
			   				border-top-color:#ffffff;
			   				background-color:#ffffff;
			   				margin-top:0px;
			   				border-top:0px;
			   				border-radius: 0px;
			   				padding-top:0px;
			   				padding-bottom:0px;
			   				& li{
			   					color:#1a4666;
			   					& a{
			   						padding:5px 20px;
			   						text-align:center;
			   						color:#a5aab2;
			   						text-transform:uppercase;
			   						&:hover{
			   							background-color:#ffffff;
			   							color:#1a4666;
			   						}
			   					}
			   				}
			   			}
			   		}
		   		}
			}
		}
		& .caret {
	  		position: relative;
	  		&:before {
			  content: '';
			  position: absolute;
			  top: 0;
			  left: 23px;
			  border-top: 7px solid #a5aab2;
			  border-left: 7px solid transparent;
			  border-right: 7px solid transparent;
			}
			&:after {
			  content: '';
			  position: absolute;
			  left: 25px;
			  top: 0;
			  border-top: 5px solid #ffffff;
			  border-left: 5px solid transparent;
			  border-right: 5px solid transparent;
			}
		}
		& .btn:hover, & .btn:focus{
			color:transparent;
		}
	}
	/*SidebarNav*/
		& .sideBarNav {
		    height: 100%; /* 100% Full-height */
		    width: 54px; /* 0 width - change this with JavaScript */
		    position: fixed; /* Stay in place */
		    z-index: 200; /* Stay on top */
		    top:70px;
		    left: 0px;
		    border-right:1px solid #dfe2e5;
		    background-color: #ffffff;
		    overflow:hidden; 
		    padding:30px 15px; 
		    transition: 0.5s;
		    & p{
		    	color:#7f8fa4;
		    	text-transform:uppercase;
		    	font-size:12px;
		    	position:relative;
		    	border-bottom:1px solid #dfe2e5;
		    	border-top:1px solid #dfe2e5;
		    	display:inline-block;
		    	padding:5px 0px;
		    	width:100%;
		    	margin:10px 0px 0px;
		    }
		    & a#adminAccordian, & a#travellerAccordian, & a#logOut{
		    	color:#7f8fa4;
		    	text-transform:uppercase;
		    	font-size:16px;
		    	position:relative;
		    	border-bottom:1px solid #dfe2e5;
		    	border-top:1px solid #dfe2e5;
		    	display:inline-block;
		    	padding:5px 0px;
		    	width:130px;
		    	margin-left:50px;
		    	transition: 0.3s;
		    	&:before {
				  content: '';
				  position: absolute;
				  top: 11px;
				  right: 0px;
				  border-top: 7px solid #a5aab2;
				  border-left: 7px solid transparent;
				  border-right: 7px solid transparent;
				}
				&:after {
				  content: '';
				  position: absolute;
				  right: 2px;
				  top: 11px;
				  border-top: 5px solid #ffffff;
				  border-left: 5px solid transparent;
				  border-right: 5px solid transparent;
				}  	
		    }
		    & a#logOut{
		    	display:none;
		    }
		    & ul{
		    	padding:0px 0px 10px 0px;
		    	margin:0px 0px 10px 0px;
		    	list-style-type:none;
		    	float:left;
		    	width:170px;
		    	height:auto;
		    	transition: 0.5s;
		    	& i{
		    		color:#7f8fa4;
		    		margin-right:15px;
		    		float:left;
		    		margin-left:0px;
		    		font-size:20px;
		    		width:20px;

		    	}
		    	& li{
		    		float:left;
		    		clear:both;
		    		width:100%;
		    		padding:10px 0px;
		    		font-size:16px;
		    		text-align:left;
		    		&.active{
		    			color:#FEA34B;
		    			& i{
		    				color:#FEA34B;
		    			}
		    			& a{
		    				color:#FEA34B;
		    				border-bottom:1px solid #FEA34B;
		    			}
		    		}
		    		& a {
					    color:#7f8fa4;
					    text-transform:uppercase;
					    font-family:$Source-Sans-Pro;
					    font-size:14px;
					    margin-left:0px;
					    transition: 0.3s;
					    line-height: 0.75em;
    					vertical-align: 20%;
					    &:hover{

					    }&:before{
					    	font-family:$FontAwesome;
					    	font-size:20px;
		    				width:20px;
		    				margin-right:15px;
					    }
					    & hr{
					    	border-color:#dfe2e5;
					    	border-width:1px;
					    	margin-left:20px;
					    	width:85%;
					    }
					}
					&:last-child{
						padding-bottom:10px;
					}
		    	}
		    }
		    & #adminNav, #travellerNav{
		    	transition: 0.5s;
		    	overflow:hidden;
		    		&.open{
		    			height:auto!important;
		    		}
		    }
		    & #travellerAccordian{
		    	margin-top:10px;
		    }
		}
	&.hamburgerNavActive .navCase{
	    & .circle{
	    	& .circlePath{
	    		stroke-dashoffset: 0!important;
	    	}
	    }
	}
	&.hamburgerNavActive .navToggle{width:20px!important; height:20px!important;left:8px!important;}
	&.hamburgerNavActive .navToggle:before {
	    -webkit-transform: translateY(7px) rotate(45deg);
	    -moz-transform: translateY(7px) rotate(45deg);
	    -ms-transform: translateY(7px) rotate(45deg);
	    -o-transform: translateY(7px) rotate(45deg);
	    transform: translateY(7px) rotate(45deg);
	}
	&.hamburgerNavActive .navToggle span {
	    -webkit-transform: translateY(0px) rotate(-45deg);
	    -moz-transform: translateY(0px) rotate(-45deg);
	    -ms-transform: translateY(0px) rotate(-45deg);
	    -o-transform: translateY(0px) rotate(-45deg);
	    transform: translateY(0px) rotate(-45deg);
	}
	&.hamburgerNavActive .navToggle:after {
	    opacity: 0;
	}
	&.hamburgerNavActive .sideBarNav{
		width:180px!important;
	}
	&.hamburgerNavActive a#adminAccordian, &.hamburgerNavActive a#travellerAccordian, &.hamburgerNavActive a#logOut{
    	margin-left:35px!important;
    }
}

&.hamburgerNavActive .body-content{
	left:160px;
}
@import "mobile/global-header-mobile";