@import "../../globals/variables";
@import "../../globals/mixins";
/* -----------------------------------------------------
	landing-side
-------------------------------------------------------*/
#login{
	& .row{
		max-width:1024px;
		margin:0px auto;
	}
	& .image-bg{
		background: url(../images/photos/AdobeStock_4202599.jpeg) center center;
		background-size:100% auto;
		& .color-overlay{
			position:absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			background-color:rgba(26,70,102,0.25);
			width:100%;
			height:100%;
		}
	}
}
#flip-form{
	background-color:rgba(255,255,255,0.85);
	border-radius:5px;
	margin:10% auto!important;
	position:relative;
	overflow:hidden;
	#landing-login, #landing-register{
		padding:5% 5%;
		background-color:transparent;
		height:100%;
		& h4{
			color:#1a4666;
			text-transform:uppercase;
			& .logo{
				width:auto;
				padding:0px;
				&:before{
					float:left;
					position:relative;
					padding-left:0px;
				}
			}
		}
		& #login-form{
			margin-top:20px;
			.container-fluid{
				padding:0px;
				& input[type=text], & input[type=password] {
				    &.username{
				    	background:url('../images/global/user.svg') left top no-repeat;
				    	padding-left:50px;
				    	& :invalid{
				 			background:url('../images/global/user.svg') left top no-repeat, url(../images/global/warning.svg) right top no-repeat ;
				 		}
				    }
				    &.password{
				    	background:url('../images/global/key.svg') left top no-repeat;
				    	padding-left:50px;
				    }
				}
				& input[type="checkbox"], & input[type="checkbox"]:checked{
					background-color:white;
				}
				& button, & #login {
				    background-color:#1a4666;
				    color: white;
				    padding: 14px 20px;
				    margin: 8px 0;
				    border: none;
				    cursor: pointer;
				    width: 100%;
				    text-align:center;
				    border-radius:2px;
				    &:hover {
			    		opacity: 0.8;
					}
					&:focus{
						outline-color:white;
					}
				}
				& .container {
				    padding: 16px;
				}
				& span.psw {
				    float: right;
				}
			}
		}
	& .modal{
		&#username-modal, &#forgot-password-modal{
			& .modal-box{
				min-height:35%;
			}
		}
		& .logo span{
			color:$slate-grey;
		}
		& .modal-box{
			& .logo{
				margin-bottom:25px;
				&::before{
					top:0%
				}
			}
			& input[type=text], & input[type=password] {
			    &.username{
			    	background:url('../images/global/user.svg') left top no-repeat;
			    	padding-left:50px;
			    }
			    &.password{
			    	background:url('../images/global/key.svg') left top no-repeat;
			    	padding-left:50px;
			    }
			}
			& .close-btn{

			}
		}
	}
}
}

#landing-login{
	& .logo{
		height:55px;
		&:before{
			top:0px;
			left:-1px;
		}
	}
}
#register-login{
	position:absolute;
	height:100%;
	background:#1a4666;
	right:0px;
	& h4{
		color:#ffffff;
	}
	& button{
		background-color:#5db9be;
	}
}
#register-modal{
	background-color:rgba(255,255,255,0.85);
	& .modal-box{
		width:60%;
		background-color:#1a4666;
		border-radius:5px;
		label{
			color:#ffffff;
		}
		& button{
			background-color: #5db9be;
		}
		& h5{
			color:#ffffff;
		}

	}
}
@import "mobile/landing-login-mobile";