@import "../../globals/variables"; 
@import "../../globals/mixins";
/* -----------------------------------------------------
	landing-side
-------------------------------------------------------*/
#login{
	& .row{
		max-width:1024px;
		margin:0px auto;
		& h4{
			text-align:right;
		}
	}
	/* input animations*/
	& .form-group{
	  position:relative;
	  & input ~ label{
	    position: absolute;
	    left: 0px;
	    width: 100%;
	    top: 0px;
	    font-size:14px;
	    transition: 0.3s;
	    z-index: 1;
	    letter-spacing: 1.2px;
	    line-height: 1.5em;
	    text-transform:none;
	  }
	  & input{
	    margin-top:24px;
	    margin-bottom:0px;
	    position:relative;
	    z-index: 5;
	    transition: 0.3s;
	    &:focus, &.has-content{
				border-color:$grey-blue !important;
			}
	  }
	  & input:focus ~ label, & input.has-content ~ label {
	    top: 0px;
	    left: 0;
	    font-size: 14px;
	    color: $grey-blue!important;
	    transition: 0.3s;
	    z-index: 1;
	  }
		input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
		  	background-color: rgba(255,255,255,0.0)!important;
		}
		& .focus-border{
		    height: 50px;
		    margin-top: 23px;
		    margin-bottom: 0px;
		    position: absolute;
		    border-radius:3px;
		    top: 0px;
		    left: -1px;
		    width: 100%;
			 	& input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:after {
				    left: auto;
				    right: 0;
			}
		 }
		& input ~ .focus-border:before, & input ~ .focus-border:after {
		    content: "";
		    position: absolute;
		    top: -1px;
		    left: 50%;
		    width: 0;
		    height: 3px;
		    background-color: $grey-blue;
		    transition: 0.4s;
	  	}
	  	& input ~ .focus-border i:before, & input ~ .focus-border i:after {
		    content: "";
		    position: absolute;
		    top: 50%;
		    left: 0;
		    width: 3px;
		    height: 0;
		    background-color: $grey-blue;
		    transition: 0.6s;
		}

	  & input ~ .focus-border:after {
	    top: auto;
	    bottom: 0;
	    left:2px;
	  }
	  & input:focus ~ .focus-border:before, & input:focus ~ .focus-border:after, & input.has-content ~ .focus-border:before, & input.has-content ~ .focus-border:after {
	    left: 0;
	    width: 100%;
	    transition: 0.4s;
	  }
	  & input:focus ~ .focus-border i:before, & input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:before, & input.has-content ~ .focus-border i:after {
	    top: -1px;
	    height: 100%;
	    transition: 0.6s;
	  }
	  & input:focus ~ .focus-border i:before, & input.has-content ~ .focus-border i:before {
	    left: -1px;
	    height:102%

	  }
	  & input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:after {
	    left: auto;
	    right: -3px;
	  }
	  &:last-child{
	  	margin-bottom:0px;
	  	& input{
	  		margin-bottom:0px !important;
	  	}
	  }
	}
}
#flip-form, #register-form{
	background-color:rgba(255,255,255,0.85);
	border: 1px solid #E3E3E3;
	border-radius:5px;
	margin:0px auto!important;
	position:relative;
	overflow:hidden;
	max-width:75%;
	& label{
		font-weight: 400;
    	color: #9A9A9A;
    	font-size: 12px;
    	margin-bottom: 5px;
    	text-transform: uppercase;
	}
	& #landing-login, & #landing-login-request, & #register-landing{
		padding:5% 5%;
		background-color:transparent;
		position:relative;
		top:0px;
		left:0px;
		height:100%;
		overflow: hidden;
		border-right:5px solid #5db9be;
		margin:0px 0px;
		& .logo{
			height:55px;
			&:before{
				top:0px;
				left:-1px;
			}
		}
		& .errors, .errors p{
			margin-top:5px!important;
			color: #ff0000!important;
			font-size:12px;
			font-weight:bold;
			text-align:center;
			margin-bottom: 5px;
		}
		& .success, .success p{
			margin-top:5px!important;
			color: #5db9be!important;
			font-size:12px;
			font-weight:bold;
			text-align:center;
			margin-bottom: 5px;
		}
		& h4{
			color:#1a4666;
			font-weight:normal;
		}
		& p{
			margin-top:-10px;
			color:#ffffff;
			font-size:12px;
		}
		& #login-form, & #form-register{
			margin-top:20px;
			& .container-fluid{
				padding:0px;
				& .col-sm-12{
					padding:0px 0px;
					& .form-group{
						margin-bottom:0px;
						position:relative;
						& .userImage, & .passwordImage{
							width:47px;
							height:47px;
							position:absolute;
							top:24px;
							left:0px;
							z-index: 8;
							background:url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/user.svg') left top no-repeat !important;
						}
						& .passwordImage{
							background:url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/key.svg') left top no-repeat !important;
						}
					}
				}
				& input[type=text], & input[type=password] {
					margin-bottom:10px;
					border: 1px solid #E3E3E3;
					color:#1a4666;
				    &.username{
				    	padding-left:50px;
				    	position:relative;
				    	& :invalid{
				 			background:url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/user.svg') left top no-repeat, url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/warning.svg') right top no-repeat ;
				 		}
				    }
				    &.password{
				    	padding-left:50px;
				    }
				}
				& input[type="checkbox"], & input[type="checkbox"]:checked{
					background-color:white;
				}
				& button, & #login {
				    background-color:#1a4666;
				    color: white;
				    padding: 14px 20px;
				    margin: 8px 0;
				    border: none;
				    cursor: pointer;
				    width: 100%;
				    text-align:center;
				    border-radius:3px;
				    display:block;
				    &:hover {
			    		opacity: 0.8;
					}
					&:focus{
						outline-color:$white;
					}
				}
				& .container {
				    padding: 16px;
				}
				& span.psw {
				}
				& .row:nth-child(2){
					& .col-sm-12{
						margin-top:20px;
					}
					& a{

					}
				}
			}
		}
		& .row{
			&:first-child{
				& .col-md-6{
					padding-left:0px;
					padding-right:0px;
					& h4{
						text-transform:uppercase;
						text-align:right;
					}
				}
			}
		}
	}
	& #register-landing{
		& p{
			margin-top:0px;
			color:$blue;
			text-align:center;
		}
	}
	& .col-sm-4{
		height:100%;
		position:absolute;
		top:0px;
		right:0px;
		overflow:hidden;
		padding:0% 0%;
		border-left:0px solid #5db9be;
	}
	& #landing-register{
		height:100%;
		width:100%;
		background:#1a4666;
		position:absolute;
		top:0px;
		left:0px;
		z-index: 2;
		padding:15% 8%;
		transition:all .5s 0.0s linear;
		& .register-title{
			& h4{
				color:#ffffff;
				font-weight:normal;
				text-align:center;
			}
			& p{
				color:#ffffff;
				letter-spacing: 1.2px;
    			line-height: 1.5em;
    			text-align:center;
			}
			& .logo{
				margin-bottom:1rem;
				float:none;
				margin-left:auto;
				margin-right:auto;
				left:15%;
				&:before{color:#ffffff}
			}
			& .col-sm-12{
				padding-left:0px;
				padding-right:0px;
			}
		}
		& .button-switch{
			& button{
				background-color:#5db9be;
			}
		}
		&.open{
			left:100%;
			
		}
	}
	& #register-slider{
		padding:5% 5%;
		height:100%;
		background:#1a4666;
		position:absolute;
		top:0px;
		right:-100%;
		width:100%;
		transition:all .5s 0.0s linear;
		z-index: 8;
		&.open{
			right:0%;
			
		}
		& .form-group{
			margin-bottom:15px;
		}
		& input{
			background-color:#ffffff!important;
			transition: 0.3s;
			&:focus, &.has-content{
				border-color:$grey-blue;
			}
		}

		& label{
			color:#ffffff!important;
		}
		& .focus-border{
		    height: 50px;
		    margin-top: 23px;
		    margin-bottom: 0px;
		    position: absolute;
		    border-radius:3px;
		    top: 0px;
		    left: -2px;
		    width: 100%;
		  }
		& input:focus ~ label, & input.has-content ~ label {
		    top: 0px;
		    left: 0;
		    font-size: 14px;
		    color: $grey-blue!important;
		    transition: 0.3s;
		    z-index: 1;
		}
		& input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:after {
	    	left: auto;
	    	right: -4px;
	    	width:6px;
	    	height:102%
	  	}
	  	& input:focus ~ .focus-border i:before, & input.has-content ~ .focus-border i:before {
	    	left: 0px;
	    	height:102%
	  	}
		& h4{
			color:#ffffff;
			font-weight:normal;
		}
		& .col-sm-12{
			& button, & a{
				background-color:#5db9be;
			}
		}
	}
	& #login-slider{
		height:100%;
		width:100%;
		position:absolute;
		top:0px;
		left:0px;
		z-index: 1;
		padding:10% 15px;
		& .register-title{
			& .logo{
				height:55px;
				margin-bottom:30px;
			}
			& h4{
				color:#1a4666;
				font-weight:normal;
			}
			& p{
				color:#1a4666;
				letter-spacing: 1.2px;
    			line-height: 1.5em;
			}
		}
		& .button-switch{
			& button{
				background-color:#5db9be;
			}
		}
	}
}
#register-page{
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid #e3e3e3;
	border-radius:5px;
	margin:0px auto!important;
	position:relative;
	overflow:hidden;
	max-width:75%;
	padding:0px 0px;
	& #register-slider{
		padding:5% 5%;
		height:100%;
		width:100%;
		transition:all .5s 0.0s linear;
		z-index: 8;
		& .col-md-6{
			margin-bottom:15px;
			& h4 {
				text-align:right;
				color:#1a4666;
				font-weight:normal;
			}
			& p{
				display:block;
				font-size:10px;
				text-align:right;
				font-family:$Source-Sans-Pro;
				
			}
		}
		& .form-group{
			margin-bottom:15px;
		}
		& input{
			background-color:#ffffff!important;
			transition: 0.3s;
			&:focus, &.has-content{
				border-color:#5DB9BE;
			}
		}

		& label{
			color:#9A9A9A!important;
		}
		& .focus-border{
		    height: 50px;
		    margin-top: 23px;
		    margin-bottom: 0px;
		    position: absolute;
		    border-radius:3px;
		    top: 0px;
		    left: -2px;
		    width: 100%;
		  }
		& input:focus ~ label, & input.has-content ~ label {
		    top: 0px;
		    left: 0;
		    font-size: 14px;
		    color: #5DB9BE!important;
		    transition: 0.3s;
		    z-index: 1;
		}
		& input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:after {
	    	left: auto;
	    	right: -4px;
	    	width:6px;
	    	height:102%
	  	}
	  	& input:focus ~ .focus-border i:before, & input.has-content ~ .focus-border i:before {
	    	left: 0px;
	    	height:102%
	  	}
		& h4{
			color:#ffffff;
			font-weight:normal;
		}

		& .col-sm-12{
			padding-right:0px;
			padding-left:0px;
			& button, & a{
				background-color:#1a4666;
			}
		}
		& .col-sm-6{
			padding-left:0px;
			padding-right:0px;
			width:49%;
			&:first-child{
				margin-right:15px;
			}
			&:last-child{
				margin-left:15px;
			}
		}
	}
}


@import "mobile/landing-login-mobile";