@import "../../globals/variables";
@import "../../globals/mixins";
/* -----------------------------------------------------
	mytrips page
-------------------------------------------------------*/
#myTrips-page{
	padding:0px;
	& .body-content{
		& .col-sm-8, & .col-sm-4{
			#myTrips_wrapper{
				background-color: rgba(255,255,255,0.45);
    			border: 1px solid #ffffff;
    			border-radius:3px;
    			padding:.9375rem;
			}
			& table.dataTable tbody tr.selected{
				background-color:#5db9be;
			}
			& .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td{
				border:0px solid #dddddd;
			}
			& table.dataTable tbody th, table.dataTable tbody td{
				padding:15px 10px;
			}
			table.dataTable.no-footer{
				border:1px solid transparent
			}
			table.dataTable thead tr{
				color:#ffffff;
				background-color: #1a4666;
			}
			div.dataTables_wrapper div.dataTables_info{
				padding:8px 10px;
			}
			& #myTrips_wrapper .row:last-child .col-sm-5, & #myTrips_wrapper .row:last-child .col-sm-7{
				width:100%;
				float:left;
			}
			#myTrips-page .body-content .col-sm-8 .table-bordered > thead > tr > th:focus{
				outline: transparent auto 5px;
			}
			& #myTrips_wrapper .row:last-child .col-sm-7 .dataTables_paginate{
				width:100%;
				& ul{
					width:100%;
					display:table;
					& li{
						display:table-cell;
					}
				}
			}
			& .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
				border: 1px solid transparent;
				background-color: transparent;
				background:transparent;
			}
		}
		& .col-sm-4{
			& .card-trips{
				& .content{
					padding:0px;
					& .row{
						& #deptHeader, & #arrvHeader{
						margin-bottom:0px;
						padding:15px;
							& .card-title{
								margin-top:0px;
								margin-bottom:0px;
								font-weight:normal;
								font-size:32px;
							}
							& .CityCountry{
								font-size:10px;
								width:auto;
								padding:0px;
								margin:0px;
							}
						}
						& #arrvHeader{
							border-left:1px solid #ddd;
						}
				
					}
					& #departureDetails{
						& .col-sm-12{
							padding:0px;
							& #itinerary-accordian{
								& .item{
									& a{
										padding:15px;
										display:block;
										width:100%;
										background-color: #eceff1;
										border-top:1px solid #a5aab2;
										border-bottom:1px solid #a5aab2
									}
									& #departure-travel, & #return-travel{
										background-color: #ffffff;
										& #departureDetails{
											& ul{
												width:100%;
												display:table;
												margin:0px;
												padding:0px;
												list-style-type: none;
												font-size:10px;
												border-bottom:1px solid #a5aab2;
												& li{
													display:table-cell;
													padding:5px;
													text-align:center;
													border-right:1px solid #a5aab2;
													&:last-child{
														border-right:0px solid #a5aab2;
													}
													& p{
														margin-top:10px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@import "mobile/mytrips-mobile";