@import "../../globals/variables"; 
@import "../../globals/mixins";
/* -----------------------------------------------------
	landing-side
-------------------------------------------------------*/
#password-change{
	background-color:rgba(255,255,255,0.45);
	border:1px solid $white;
	border-radius:3px;
	width:50%;
	margin:0px auto;
	& .row{
		max-width:1024px;
		margin:0px auto;
	}
	/* input animations*/
	.form-group{
	  position:relative;
	  & input ~ label{
	    position: absolute;
	    left: 0px;
	    width: 100%;
	    top: 0px;
	    font-size:14px;
	    transition: 0.3s;
	    z-index: 1;
	    letter-spacing: 1.2px;
	    line-height: 1.5em;
	    text-transform:none;
	  }
	  & input{
	    margin-top:24px;
	    margin-bottom:0px;
	    position:relative;
	    z-index: 5;
	    transition: 0.3s;
	    &:focus, &.has-content{
				border-color:$grey-blue !important;
		}
		&.dont-match.has-content, &.dont-match:focus{
			border-color:red!important;
		}
	  }
	  & input:focus ~ label, & input.has-content ~ label {
	    top: 0px;
	    left: 0;
	    font-size: 14px;
	    color: $grey-blue!important;
	    transition: 0.3s;
	    z-index: 1;
	  }
	  & input.dont-match:focus ~ label, & input.dont-match.has-content ~ label {
	    top: 0px;
	    left: 0;
	    font-size: 14px;
	    color: red!important;
	    transition: 0.3s;
	    z-index: 1;
	  }
	  & input.dont-match ~ label{
	  		color:red;
	  		&:after{
	    		content: "\f06a";
	    		display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    float:right;
			    color:red;
	    	}
	  }
	  & input.match ~ label{
	  		color:$grey-blue;
	  		&:after{
	    		content: "\f058";
	    		display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    float:right;
			    color:$grey-blue;
	    	}
	  }
	  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	  	background-color: rgba(255,255,255,0.0)!important;
	  }
	  & .focus-border{
	    height: 46px;
	    margin-top: 25px;
	    margin-bottom: 0px;
	    position: absolute;
	    border-radius:3px;
	    top: 0px;
	    left: 0px;
	    width: 100%;
		    & input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:after {
			    left: auto;
			    right: 0;
		  }
	  }
	  & input ~ .focus-border:before, & input ~ .focus-border:after {
	    content: "";
	    position: absolute;
	    top: -1px;
	    left: 50%;
	    width: 0;
	    height: 3px;
	    background-color: $grey-blue;
	    transition: 0.4s;
	  }
	  & input ~ .focus-border i:before, & input ~ .focus-border i:after {
	    content: "";
	    position: absolute;
	    top: 50%;
	    left: 0;
	    width: 3px;
	    height: 0;
	    background-color: $grey-blue;
	    transition: 0.6s;
	  }
	  & input.dont-match ~ .focus-border:before, & input.dont-match ~ .focus-border:after{
	  	background-color: red;
	  }
	  & input.dont-match ~ .focus-border i:before, & input.dont-match ~ .focus-border i:after{
	  	background-color: red;
	  }
	  & input.match ~ .focus-border:before, & input.match ~ .focus-border:after{
	  	background-color: green;
	  }
	  & input.match ~ .focus-border i:before, & input.match ~ .focus-border i:after{
	  	background-color: green;
	  }
	  & input ~ .focus-border:after {
	    top: auto;
	    bottom: 0;
	  }
	  & input:focus ~ .focus-border:before, & input:focus ~ .focus-border:after, & input.has-content ~ .focus-border:before, & input.has-content ~ .focus-border:after {
	    left: 0;
	    width: 100%;
	    transition: 0.4s;
	  }
	  & input:focus ~ .focus-border i:before, & input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:before, & input.has-content ~ .focus-border i:after {
	    top: -1px;
	    height: 100%;
	    transition: 0.6s;
	  }
	  & input:focus ~ .focus-border i:before, & input.has-content ~ .focus-border i:before {
	    left: -1px;
	    height:102%

	  }
	  & input:focus ~ .focus-border i:after, & input.has-content ~ .focus-border i:after {
	    left: auto;
	    right: 0;
	  }
	  &:last-child{
	  	margin-bottom:0px;
	  	& input{
	  		margin-bottom:0px !important;
	  	}
	  }
	}
}
#password{
	& label{
		font-weight: 400;
    	color: #9A9A9A;
    	font-size: 12px;
    	margin-bottom: 5px;
    	text-transform: uppercase;
	}
	& #password-change{
		padding:2% 2%;
		position:relative;
		top:0px;
		left:0px;
		height:100%;
		overflow: hidden;
		& .logo{
			height:55px;
			&:before{
				top:0px;
				left:-1px;
			}
		}
		& h4{
			color:$grey-blue;
			font-weight:normal;
			margin-bottom:0px;
			text-align:right;
		}
		& p{
			margin-top:10px;
			color:#333;
			font-size:12px;
		}
		& #password-form{
			margin-top:20px;
			margin-bottom:10px;
			.container-fluid{
				& .col-sm-12{
					padding:0px 0px;
					& .form-group{
						margin-bottom:0px;
						& .userImage, & .passwordImage{
							width:45px;
							height:45px;
							position:absolute;
							top:25px;
							left:0px;
							z-index: 8;
							background:url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/key.svg') left top no-repeat !important;
						}
						& .passwordImage{
							background:url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/key.svg') left top no-repeat !important;
						}
					}
				}
				padding:0px;
				& input[type=text], & input[type=password] {
					margin-bottom:10px;
					border: 1px solid #E3E3E3;
					color:#1a4666;
				    &.password{
				    	padding-left:50px;
				    }
				    &.dont-match{
				    }
				    &.match{

				    }
				}
				& input[type="checkbox"], & input[type="checkbox"]:checked{
					background-color:white;
				}
				& #save-btn.disabled{
					pointer-events:none;
				}
				& #save-btn:hover{
					opacity:1;
				}
				& button, & #login {
				    background-color:$orange;
				    color: white;
				    padding: 14px 20px;
				    margin: 8px 0;
				    border: none;
				    cursor: pointer;
				    width: 100%;
				    text-align:center;
				    border-radius:3px;
				    display:block;
				    &:hover {
			    		opacity: 0.8;
					}
					&:focus{
						outline-color:white;
					}
				}
				& .container {
				    padding: 16px;
				}
				& span.psw {
				}
				& .row:nth-child(2){
					& .col-sm-12{
						margin-top:20px;
					}
					& a{

					}
				}
			}
		}
		& a{
			color: $grey-blue !important;
			text-decoration: underline;
			cursor:pointer;
		}
	}
	& .col-sm-4{
		height:100%;
		position:absolute;
		top:0px;
		right:0px;
		overflow:hidden;
		padding:0% 0%;
		border-left:5px solid $grey-blue;
	}
}
#password .image-bg .color-overlay{
	background-color:rgba(227,227,227,0.9);
}


@import "mobile/password-change-mobile";