input.form-control.m-t-0 {
    padding: 10px 18px 10px 18px;
    margin: 0px;
    border: 1px solid #E3E3E3;
}
    .content-profile-form {
    margin-top: 0px;
}
a:focus, a:active,
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
}

.ui-slider-handle:focus,
.navbar-toggle,
input:focus {
  outline: 0 !important;
}

/*           Animations              */
.form-control,
.input-group-addon,
.tagsinput,
.navbar,
.navbar .alert {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.form-control::-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control:-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control::-webkit-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control:-ms-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 8px 20px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
select.form-control{
  margin-top:0px;
  border-radius:3px;
  height:47px;
  -webkit-appearance: none;
}
.form-control:focus {
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #333333;
}
.has-success .form-control, .has-error .form-control, .has-success .form-control:focus, .has-error .form-control:focus {
  border-color: #E3E3E3;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .form-control {
  color: #87CB16;
}
.has-success .form-control:focus {
  border-color: #87CB16;
}
.has-error .form-control {
  color: #FF4A55;
}
.has-error .form-control:focus {
  border-color: #FF4A55;
}
.form-control + .form-control-feedback {
  border-radius: 6px;
  font-size: 14px;
  margin-top: -7px;
  position: absolute;
  right: 10px;
  top: 50%;
  vertical-align: middle;
}
.open .form-control {
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
}

.input-lg {
  height: 55px;
  padding: 14px 30px;
}

.has-error .form-control-feedback {
  color: #FF4A55;
}

.has-success .form-control-feedback {
  color: #87CB16;
}

.input-group-addon {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
}
.has-success .input-group-addon, .has-error .input-group-addon {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
}
.has-error .form-control:focus + .input-group-addon {
  border-color: #FF4A55;
  color: #FF4A55;
}
.has-success .form-control:focus + .input-group-addon {
  border-color: #87CB16;
  color: #87CB16;
}
.form-control:focus + .input-group-addon, .form-control:focus ~ .input-group-addon {
  background-color: #FFFFFF;
  border-color: #9A9A9A;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-right: 0 none;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-left: 0 none;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #F5F5F5;
  color: #888888;
  cursor: not-allowed;
}

.input-group-btn .btn {
  border-width: 1px;
  padding: 9px 16px;
}

.input-group-btn .btn-default:not(.btn-fill) {
  border-color: #DDDDDD;
}

.input-group-btn:last-child > .btn {
  margin-left: 0;
}

.input-group-focus .input-group-addon {
  border-color: #9A9A9A;
}
/*      Checkbox and radio         */
.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
}

.checkbox input,
.radio input {
  outline: none !important;
  display: none;
}

.checkbox .icons,
.radio .icons {
  color: #DDDDDD;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox:hover,
.radio:hover {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.checkbox:hover .first-icon,
.radio:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox:hover .second-icon,
.radio:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox.checked,
.radio.checked {
  color: #1DC7EA;
}

.checkbox.checked .first-icon,
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #1DC7EA;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.checkbox.disabled,
.radio.disabled {
  cursor: default;
  color: #DDDDDD !important;
}

.checkbox.disabled .icons,
.radio.disabled .icons {
  color: #DDDDDD !important;
}

.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
  color: #DDDDDD;
}

.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #D9D9D9;
}
.select .dropdown-menu {
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform-origin: 50% -40px;
  -moz-transform-origin: 50% -40px;
  -o-transform-origin: 50% -40px;
  -ms-transform-origin: 50% -40px;
  transform-origin: 50% -40px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
  margin-top: -20px;
}
.select.open .dropdown-menu {
  margin-top: -1px;
}

.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  margin-bottom: 30px;
}
#submit-col{
  padding-left:0px;
  padding-right:0px;
}
.card:hover .filter {
  opacity: 1;
  filter: alpha(opacity=100);
}
.card .btn-hover {
  opacity: 0;
  filter: alpha(opacity=0);
}
.card:hover .btn-hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.card .content {
  padding: 15px 15px 10px 15px;
}
.card .content .col-md-4, .card .content .col-md-6, .card .content .col-sm-12{
padding:0px;
}
.card .content .col-md-4{
  width:31.333%
}
.card .content .col-md-4:nth-child(2){
  margin-left:2%;
  margin-right:2%;
}
.card .content .col-md-6{
  width:49%;
}
.card .content .col-md-6:first-child{
  margin-right:1%
}
.card .content .col-md-6:last-child{
  margin-left:1%
}
.card .header {
  padding: 15px 15px 0;
}
.card .row .header{
  padding-left:0px;
}
.card .category,
.card label {
  font-size: 14px;
  font-weight: 400;
  color: #9A9A9A;
  margin-bottom: 0px;
}
.card .category i,
.card label i {
  font-size: 16px;
}
.card label {
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.card .title {
  margin: 0;
  color: $grey-blue;
  font-weight: 300;
}
#ffSection{
  position:relative;
}
.plusBtn, .minusBtn{
  color: #5DB9BE!important;
  position:absolute;
  right:0px; top:0px;
  font-size:20px;
  z-index: 3;
  cursor:pointer;
}
.airlineMiles input{
  margin-top:30px!important;
}
.airlineMiles .focus-border{
  top:63px;
}
.airlineMiles select{
  position:relative;
  top:30px;
  border-radius:3px;
}
.airlineMiles select:focus{
  border-color: #5DB9BE !important;
  box-shaow:none;
}
.airlineMiles select:focus ~ label{
  color: #5DB9BE!important;
}

@media (min-width: 992px) {

  body > .navbar-collapse.collapse {
    display: none !important;
  }

  .card form [class*="col-"] {
    padding: 6px;
  }
  .card form [class*="col-"]:first-child {
    padding-left: 15px;
  }
  .card form [class*="col-"]:last-child {
    padding-right: 15px;
  }
}

 .form-control + .form-control-feedback {
    margin-top: -8px;
}

input[type=text], & input[type=password], & input[type=email], & input[type=select], & input[type=radio],& input[type=date],& input[type=number], & select, & input[type=tel], & textarea, & input[type=number],{
    width: 100%;
    position:relative;
    padding: 12px 20px;
    margin: 0px;
    height:47px;
    display: inline-block;
    box-sizing: border-box;
    border-radius:0px;
    margin-top:24px;
    margin-bottom:0px;
    position:relative;
    z-index: 5;
    transition: 0.3s;
}
textarea{
  height:200px;
      border: 1px solid #E3E3E3;
      &:focus{
        box-shadow: none;
        outline: 0 !important;
      }
}
input ~ label{
      position: absolute;
      left: 0px;
      width: 100%;
      top: 0px;
      font-size:14px;
      transition: 0.3s;
      z-index: 1;
      letter-spacing: 1.2px;
      line-height: 1.5em;
      text-transform:none;
}
select ~ label{
      position: absolute;
      left: 0px;
      width: 100%;
      top: 0px;
      font-size:14px;
      transition: 0.3s;
      z-index: 1;
      letter-spacing: 1.2px;
      line-height: 1.5em;
      text-transform:none;
}
textarea ~ label{
      position: absolute;
      left: 0px;
      width: 100%;
      top: 0px;
      font-size:14px;
      transition: 0.3s;
      z-index: 1;
      letter-spacing: 1.2px;
      line-height: 1.5em;
      text-transform:none;
}
input:focus, &.has-content, & .has-value{
  border-color:#5DB9BE !important;
}
input:focus ~ label, input.has-content ~ label {
  color: #5DB9BE!important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  background-color: rgba(255,255,255,0.0)!important;
}
.focus-border{
  height: 50px;
  margin-top: 23px;
  margin-bottom: 0px;
  position: absolute;
  border-radius:3px;
  top: 0px;
  left: -1px;
  width: 100%;
}
input:focus ~ .focus-border i:after, input.has-content ~ .focus-border i:after {
      left: auto;
      right: 0;
}
input ~ .focus-border:before, input ~ .focus-border:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #5DB9BE;
  transition: 0.4s;
}
input ~ .focus-border i:before, input ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 3px;
    height: 0;
    background-color: #5DB9BE;
    transition: 0.6s;
}
input ~ .focus-border:after {
      top: auto;
      bottom: 0;
      left:4px;
}
input:focus ~ .focus-border:before, input:focus ~ .focus-border:after, input.has-content ~ .focus-border:before, input.has-content ~ .focus-border:after {
      left: 0;
      width: 100%;
      transition: 0.4s;
    }
input:focus ~ .focus-border i:before, input:focus ~ .focus-border i:after, input.has-content ~ .focus-border i:before, input.has-content ~ .focus-border i:after {
  top: -1px;
  height: 100%;
  transition: 0.6s;
}
input:focus ~ .focus-border i:before, input.has-content ~ .focus-border i:before {
  left: -1px;
  height:102%
}
input:focus ~ .focus-border i:after, input.has-content ~ .focus-border i:after {
  left: auto;
  right: -3px;
}

input.error.has-content ~ .focus-border:before, input.error.has-content ~ .focus-border:after, input.error.has-content ~ .focus-border i:before, input.error.has-content ~ .focus-border i:after {
      background-color: $red;
    }
#travelNumbers .col-sm-12:last-child .form-group{
  margin-bottom:10px;
}
/*airline rewards*/
.points{
    padding-top: 10px!important;
    border-top: 1px solid #ddd;
}
.points .row:first-child .col-sm-12 a label{
  cursor:pointer;
}
.travel-points-row{
  border-bottom:1px solid #dddddd;
  padding:5px 0px;
}
.travel-points-row .col-sm-10, .travel-points-row .col-sm-2{
  padding-left:0px;
  padding-right:0px;
}
.travel-points-row .col-sm-12 select{
  margin-top:5px;
  margin-bottom:5px;
}
.travel-points-row .col-sm-12 input{
  margin-top:0px;
  float:right;
  width:100%;
  height:30px;
}
.travel-points-row .col-sm-12{
  position:relative;
  margin-bottom:10px;
  margin-top:5px;
  border-bottom:1px solid #ddd;
}
.travel-points-row .col-sm-12:last-child{
  border-bottom:0px;
}
.travel-points-row .col-sm-12:first-child{
  border-top:1px solid #ddd;
  padding-top:10px;
}
.travel-points-row .col-sm-12 .col-sm-12{
  border-bottom:none;
  margin-top:0px;
  margin-bottom:0px;
}
.travel-points-row .col-sm-12:first-child .col-sm-12:first-child{
  border-top:none;
  padding-top:0px;
}
.travel-points-row .col-sm-12 .col-sm-12:first-child{
  border-top:none;
  padding-top:0px;
}
.travel-points-row .col-sm-12 label{
      position: relative;
      left:0px;
      width: auto;
      top:0px;
      height:30px;
      font-size:12px;
      transition: 0.3s;
      z-index: 1;
      letter-spacing: 1.2px;
      line-height: 2.5em;
      padding-left:10px;
      text-transform:none;
      margin-bottom:0px;
}
.travel-points-row .col-sm-12 .thirty30{
  position:relative;
  left:0px;
  top:0px;
  float:left;
}
.travel-points-row .col-sm-12 .col-md-5:nth-child(2){
  margin:0px;
}
.travel-points-row .col-sm-12 .focus-border{
  height: 33px;
  margin-top: -1px;
  margin-bottom: 0px;
  position: absolute;
  border-radius:3px;
  top: 0px;
  right: 1px;
  left:auto;
  width: 100%;
}
.travel-points-row .col-sm-12 input:focus ~ .focus-border:after, .travel-points-row .col-sm-12 input.has-content ~ .focus-border:after{
  width:101%;
} 
.travel-points-row .form-group{
  margin-bottom:0px;
}
a.add_field_button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0px .25em;
    display: inline-block;
    border: 1px solid #9A9A9A;
    position: relative;
    margin: 0px 20px;
    color:#333333;
    text-align:center;
    background-color: $orange;
    cursor:pointer;
}
a.add_field_button:before{
  content:'+';
  color:$white;
  margin:10px auto;
  font-size:18px;
  font-weight:bold;
  line-height:0px;
  cursor:pointer;
}
a.remove_field{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding:0 .25em;
    display: inline-block;
    border: 1px solid #9A9A9A;
    position: relative;
    margin: 10px 20px;
    color:#333333;
    text-align:center;
    background-color: $red;
    cursor:pointer;
}
a.remove_field:before{
  content:'-';
  color:$white;
  margin:10px auto;
  font-size:25px;
  font-weight:bold;
  line-height:0px;
  cursor:pointer;
}
@import "mobile/profile-form-mobile";