@import "../../globals/variables";
@import "../../globals/mixins";
/* -----------------------------------------------------
	Right-Side Container
-------------------------------------------------------*/
 #right-side-content {
        margin-top: 0px;
    }
    
    .card-profile,
    .card-testimonial {
        margin-top: 0px;
        text-align: center;
    }
    
    .wrapper {
        position: relative;
        top: 0;
        height: auto;
        background-color: #ffffff;
    }
    
    #overview-accordian .item {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #cfd8dc;
        text-align: left;
        padding: 15px;
    }
    
    #overview-accordian .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        float: right;
        margin-top: 7px;
    }
     .quick-facts-box {
        min-height: 70px;
        margin: 1.5rem;
        text-align: center;
        background: #fff;
        border: 1px solid #cfd8dc;
    }
    
    .quick-facts-box ul , .card-content ul{
        padding: 10px 0;
        list-style: none;
    }
    .card-content ul{
        padding: 10px 10px;
        list-style: none;
    }
    .quick-facts-box ul li {
        display: block;
        float: left;
        width: 33%;
    }
    
    .quick-facts-box ul li:first-child {
        border-right: 1px solid #cfd8dc;
    }
    
    .quick-facts-box ul li:last-child {
        border-left: 1px solid #cfd8dc;
    }
    
    .quick-facts-box ul li strong {
        display: block;
        font-size: 20px;
    }
    
    .quick-facts-box ul li span {
        font-size: 8px;
        font-weight: 500;
        color: #cfd8dc;
        text-transform: uppercase;
    }
    
    .recent-flight-item {
        min-height: 85px;
        margin: 1.5rem;
        text-align: center;
        background: #fff;
        border: 1px solid #cfd8dc;
    }
    
    .recent-flight-item ul {
        padding: 10px 0;
        list-style: none;
        letter-spacing: 0.015em;
    }
    
    .recent-flight-item ul li {
        display: block;
        float: left;
        width: 33%;
    }
    
    .recent-flight-item ul li.recent-date-info {
        display: block;
        float: left;
        width: 50%;
    }
    
    .recent-flight-item ul li:first-child {
        border-right: 1px solid #cfd8dc;
    }
    
    .recent-flight-item ul li:last-child {
        border-left: 1px solid #cfd8dc;
    }
    
    .recent-flight-item ul li strong {
        display: block;
        font-size: 20px;
    }
    
    .recent-flight-item ul li span {
        font-size: 8px;
        font-weight: 500;
        color: #cfd8dc;
        text-transform: uppercase;
    }
    
    .card-footer {
        padding: 0.75rem 1.25rem;
        background-color: #eceff1;
        border-top: 1px solid #cfd8dc;
    }
    
    .bg-grey-light {
        background-color: #eceff1;
    }
@import "mobile/right-side-container-mobile";