@import "../../globals/variables";
@import "../../globals/mixins";
 #landing-page{
 	position:absolute;
 	height:100%;
 	width:100%;
 		& .row{
 			height:100%;
 		}
 }
.image-bg{
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		z-index:-1;
		background: url(../images/photos/Clouds_PNG_Transparent_Clip_Art_Image.png) left top;
		background-size:200% auto;
		animation: animatedBackground 40s linear infinite;
}
ul#tab-menu{
	display: flex; 
	flex-grow: 1; 
	width: 100%; 
	padding: 10px; 
	list-style-type: none;
	& li{
		flex-grow: 1; 
		padding: 25px; 
		margin: 10px; 
		text-align: center;
		background:rgba(255,255,255,0.45);
		border-radius:0px 0px 0px 0px;
		border:1px solid #ffffff;
		display:table-cell;
		& a {
			text-decoration:none;
			color:$orange;
			text-transform:uppercase;
		}
		&:last-child{
			margin-right:0px;
		}
	}
}
@import "mobile/shared-mobile";