@import "../../globals/variables";
@import "../../globals/mixins";
 #landing-page{
 	position:absolute;
 	height:100%;
 	width:100%;
 		& .row{
 			height:100%;
 		}
 }

.image-bg{
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		z-index:-1;
		background: url(../images/photos/AdobeStock_4202599.jpeg) center center;
		background-size:100% auto;
		& .color-overlay{
			position:absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			background-color:rgba(239,243,236,0.75);
			width:100%;
			height:100%;
		}
}
ul#tab-menu{
	display: flex; 
	flex-grow: 1; 
	width: 100%; 
	padding: 10px; 
	list-style-type: none;
	& li{
		flex-grow: 1; 
		padding: 25px; 
		margin: 10px; 
		text-align: center;
		background:rgba(255,255,255,0.45);
		border-radius:0px 0px 0px 0px;
		border:1px solid #ffffff;
		display:table-cell;
		& a {
			text-decoration:none;
			color:$orange;
			text-transform:uppercase;
		}
		&:last-child{
			margin-right:0px;
		}
	}
}
table.dataTable thead .sorting_desc{
	background-image:url("../images/global/sort_desc.png")
}
table.dataTable thead .sorting_asc {
    background-image: url(../images/global/sort_asc.png);
}
table.dataTable thead .sorting {
    background-image: url(../images/global/sort_both.png);
}
table.dataTable thead .sorting:after{
	opacity:0;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
	opacity:0;
}
table.dataTable tr > th:focus{
	outline: none;
}
.table > thead > tr > th {
    vertical-align: middle
}

@import "mobile/shared-mobile";