@import "../../globals/variables"; 
@import "../../globals/mixins";
/*Body content slider*/
.body-content{
	position:relative;
	left:0px;
	transition: 0.5s;
	padding-top:70px;
	padding-left:55px;
	& .row{
		max-width:1280px;
		margin:0px auto;
	}
}
.noShow{
  opacity:0!important;
  z-index:-1;
  & #button_title{
  	cursor:default;
  }
}
.logo{
	margin-top: 0px;
    width: auto;
    height: 60px;
    float: left;
    margin-left: 0rem;
    color: #65879c;
    position: relative;
    z-index: 5;
    background: url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/tempotrip-logo-new.svg') no-repeat top left;
    background-size: contain;
    padding-left: 65px;
    font-family:$Source-Sans-Pro;
    position:relative;
}
.logo:before {
    content: 'Tempo';
    color: #65879c;
    font-size: 20px;
    float: left;
    letter-spacing: 4px;
    margin-top: 10%;
}
.logo:after {
    content: 'TRIP';
    color: #FEA34B;
    font-size: 16px;
    float: left;
    letter-spacing: 4px;
    margin-top: 13%;
    font-weight: bold;
}
.logo span{
	position:absolute;
	top:20%;
	left:-143px;
	letter-spacing: 4px;
	font-size: 20px;
}
.client-logo{
	margin-top: 0px;
    width: auto;
    height: 55px;
    float: left;
    margin-left: 45px;
    padding:5px;
    color: $grey-blue;
    letter-spacing:4px;
    position: relative;
    z-index: 5;
    overflow:hidden;
}
.client-logo img{
	width:auto;
	margin-top:0px;
	height:100%;
	border:none;
}
.newWindowIcon{
	background: url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/new-window.svg') center center no-repeat;
    background-size: contain;
    width:35px;
    height:35px;
    float:right;
    padding:10px;
    border-radius:5px;
    background-color: #FEA34B;
    border:1px solid #ffffff;
    position:absolute;
    top:-40px;
    right:0px;
    z-index: 101;
    &:before{
    	content:'open in a new window';
    	color:#7f8fa4;
    	font-size:10px;
    	position:absolute;
    	top:20%;
    	right:40px;
    	width:130px;
    }
}
.tab-content{
	position:relative;
}
.nav-tabs{
	border-bottom:1px solid transparent;
}
.wait-spinner{
	position: absolute;
	left:0%;
	z-index: 100;
	margin:0% auto;
	width:100%;
	height:100%;
	display:none;
	opacity:0;
	border-radius:0px 3px 3px 3px;
	background-color:rgba(255,255,255,1);
	transition:opacity .45s 0s linear;
	-webkit-transition:opacity .45s 0s linear;
	-moz-transition:opacity .45s 0s linear;
	&.active{
		display:block;
		opacity:1;
	}
  & .spinner{
    background: url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/logo-spinner.svg') center center no-repeat;
    background-size: contain;
    width:60px;
    height:60px;
    margin:45% auto 10px;
    position:relative;
    #spin-inside.half-circle{
      width:60px;
      width:60px;
    }
    & .half-circle{
      width:70px;
      height:70px;
    }
  }
  & p{
    text-align:center;
    & span{
      clear:both;
      display:block;
    }
  }
}
#landing-page{
 	position:absolute;
 	height:100%;
 	width:100%;
 		& .row{
 			height:100%;
 		}
}
.image-bg{
		position:fixed!important;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		z-index:-1;
		background: url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/photos/AdobeStock_4202599.jpg') center center no-repeat;
		background-size:cover;
		& .color-overlay{
			position:absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			background-color:rgba(227,227,227,0.90);
			background-image: url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/pattern.png');
			width:100%;
			height:100%;
		}
}
#bgvid{
	position: fixed;
    left: 0;
    top: 0px;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    width: auto;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
    background-repeat: no-repeat;
} 
#password-page .row .col-sm-8, #thanks .row .col-sm-8, #notification-page .row .col-sm-8{
	float:none;
	margin:0px auto;
	background-color:rgba(255,255,255,0.45);
	border:1px solid $white;
	border-radius:3px;
	padding:10px;
}
#password-page .row .col-sm-8:first-child{
	background-color: transparent!important;
	border:none;
}
#password, #thanks, #notification, #register{
	padding-top:10%;
}
#forgot-password {
    padding: 2% 2%;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow: hidden;
    & h5{
    	text-align:right;
    }
    & .errors, & .success{
    	padding:10px 0px;
    }
}
#password-page{
	& #passord-form{
		margin-top:20px;
	}
	& .color-overlay{
		background-color: rgba(227, 227, 227, 0.9);
	}
}
#thanks-message{
	padding: 2% 2% 5%;
    position: relative;
    height: 100%;
    background-color:#ffffff;
    overflow: hidden;
    -moz-transition:opacity 0.45s 0s linear;
	-webkit-transition:opacity 0.45s 0s linear;
	transition:opacity 0.45s 0s linear;
	& h3{
		margin-top:0px;
		color:#FEA34B;
		text-transform:uppercase;
		font-weight:normal;
		text-align:center;
	}
	& p{
		text-align:center;
	}
	&.on{
		opacity:1;
		display:block;
		z-index: 2;
	}
}
#affiliate-form-page{
	& .body-content{
		.row{
			& .col-sm-12{
				& form{
					& .row{
						& .col-sm-12{
							& .row{
								& .col-sm-12{
									padding:0px;
								}
							}
						}
					}
				}
			}
		}
	}
}
ul#tab-menu{
	display: flex; 
	flex-grow: 1; 
	width: 100%; 
	padding: 10px; 
	list-style-type: none;
	& li{
		flex-grow: 1; 
		padding: 25px; 
		margin: 10px; 
		text-align: center;
		background:rgba(255,255,255,0.45);
		border-radius:0px 0px 0px 0px;
		border:1px solid #ffffff;
		display:table-cell;
		& a {
			text-decoration:none;
			color:$orange;
			text-transform:uppercase;
		}
		&:last-child{
			margin-right:0px;
		}
	}
}
table.dataTable thead .sorting_desc{
	background-image:url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/sort_desc.png')
}
table.dataTable thead .sorting_asc {
    background-image: url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/sort_asc.png');
}
table.dataTable thead .sorting {
    background-image: none;
}
table.dataTable thead .sorting:after{
	opacity:0;
	content:'';
	display:none;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
	opacity:0;
}
table.dataTable tr > th:focus{
	outline: none;
}
.table > thead > tr > th {
    vertical-align: middle;
    padding:10px 10px;
}
.pagination > li > a, .pagination > li > span{
	color:$grey-blue;
}
.load_spinner{
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
	background:rgba(255,255,255,0.85);
	width:100%;
	height:100%;
	box-shadow:2px 2px 10px #f0ad4e, -2px -2px 10px #f0ad4e;
	display:none;
	opacity:0;
	-mox-transition:opacity 0.25s 0s linear;
	-webkit-transition:opacity 0.25s 0s linear;
	transition:opacity 0.25s 0s linear;
	&.active{
		display:block;
		opacity:1;
	}
}
.new-spinner{
    width: 20px;
    height: 20px;
    position: relative;
    margin: 49% auto 20px;
    color:black
}
.errors, .errors p{
	margin-top:0px!important;
	color: #ff0000!important;
	font-size:18px;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	margin-bottom: 10px;
}
.success, .success p{
	margin-top:0px!important;
	color: #5db9be!important;
	font-size:18px;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	margin-bottom: 10px;
}
.disabled {
    opacity: 0.5;
    cursor:default;
}
.disabled:hover{
	opacity:0.5;
}
#spin-outside{
    position: absolute;
    top: -6px;
    left: -6px;
}
#spin-inside{
    position: absolute;
    top: 0px;
    left:0px;
}
.half-circle{
    background: transparent;
    border-top:2px solid #f0ad4e;
    border-right:2px solid #f0ad4e;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#spin-inside.half-circle{
    width: 20px;
    height: 20px;
}
.fa-spin-reverse{-webkit-animation:fa-spin-reverse 2s infinite linear;animation:fa-spin-reverse 2s infinite linear}
@-webkit-keyframes "fa-spin-reverse"{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(-359deg);
        transform:rotate(-359deg);
    }
}
@keyframes "fa-spin-reverse"{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(-359deg);
        transform:rotate(-359deg);
    }
}
/* Affiliate form custon */
#affiliate-form-page{
	& .body-content{
		& .row{
			& .col-sm-12{
				border:1px solid #ffffff;
				background-color: rgba(255,255,255,0.45);
				border-radius:3px;
			}
		}
	}
	& iframe{
		border:none;
		& body{
			& .form-table{
				border:0px solid #ffffff;
				width:100%;
				& #q128{
					& div{
						background: url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/tempotrip-logo-new.svg') no-repeat top left;
    					background-size: contain;
						& img{
							display:none;
						}
					}
				}
			}
		}
	}
}
#ad-report-page{
	& .body-content{
		& .row{
			& .col-sm-12{
				border:1px solid #ffffff;
				background-color: rgba(255,255,255,0.45);
				border-radius:3px;
			}
		}
	}
	& iframe{
		border:none;
		& body{
			& .form-table{
				border:0px solid #ffffff;
				width:100%;
				& #q128{
					& div{
						background: url('https://d25lpdpogv53oe.cloudfront.net/0/0/images/global/tempotrip-logo-new.svg') no-repeat top left;
    					background-size: contain;
						& img{
							display:none;
						}
					}
				}
			}
		}
	}
}
#breadcrumbs{
	font-size:12px!important;
	& ul{
		list-style-type: none;
		margin:0px 0px 20px 0px;
		padding:8px 0px;
		background-color: transparent!important;
		font-size:12px!important;
		& li{
			float:left;
			color:$slate-grey;
			margin:0px 0px 10px 0px;
			font-size:12px!important;
			&:active{
				color:$orange;
				font-size:12px!important;
			}
		}
	}
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
	width:50%;
}
@import "mobile/shared-mobile";