@import "../../globals/variables";
@import "../../globals/mixins";
 #landing-page{
 	position:absolute;
 	height:100%;
 	width:100%;
 		& .row{
 			height:100%;
 		}
 }

.image-bg{
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		z-index:-1;
		background: url(../images/photos/AdobeStock_4202599.jpg) center center no-repeat;
		background-size:cover;
		& .color-overlay{
			position:absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			background-color:rgba(239,243,236,0.75);
			width:100%;
			height:100%;
		}
}
#password-page .row .col-sm-8, #thanks .row .col-sm-8, #notification-page .row .col-sm-8{
	float:none;
	margin:0px auto;
	border: 5px solid #5db9be;
	background-color: #ffffff;
}
#password, #thanks, #notification{
	padding-top:10%;
}
#forgot-password {
    padding: 2% 2%;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow: hidden;
    & h5{
    	text-align:right;
    }
}
#password-page{
	& #passord-form{
		margin-top:20px;
	}
	& .color-overlay{
		background-color: rgba(255, 255, 255, 0.75);
	}
}
#thanks-message{
	padding: 2% 2% 5%;
    position: relative;
    top: 0px;
    left: 15px;
    height: 100%;
    background-color:#ffffff;
    overflow: hidden;
    -moz-transition:opacity 0.45s 0s linear;
	-webkit-transition:opacity 0.45s 0s linear;
	transition:opacity 0.45s 0s linear;
	& h3{
		margin-top:0px;
		color:#FEA34B;
		text-transform:uppercase;
		font-weight:normal;
		text-align:center;
	}
	& p{
		text-align:center;
	}
	&.on{
		opacity:1;
		display:block;
		z-index: 2;
	}
}
ul#tab-menu{
	display: flex; 
	flex-grow: 1; 
	width: 100%; 
	padding: 10px; 
	list-style-type: none;
	& li{
		flex-grow: 1; 
		padding: 25px; 
		margin: 10px; 
		text-align: center;
		background:rgba(255,255,255,0.45);
		border-radius:0px 0px 0px 0px;
		border:1px solid #ffffff;
		display:table-cell;
		& a {
			text-decoration:none;
			color:$orange;
			text-transform:uppercase;
		}
		&:last-child{
			margin-right:0px;
		}
	}
}
table.dataTable thead .sorting_desc{
	background-image:url("../images/global/sort_desc.png")
}
table.dataTable thead .sorting_asc {
    background-image: url(../images/global/sort_asc.png);
}
table.dataTable thead .sorting {
    background-image: none;
}
table.dataTable thead .sorting:after{
	opacity:0;
	content:'';
	display:none;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
	opacity:0;
}
table.dataTable tr > th:focus{
	outline: none;
}
.table > thead > tr > th {
    vertical-align: middle;
    padding:10px 10px;
}
.pagination > li > a, .pagination > li > span{
	color:$grey-blue;
}
.load_spinner{
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
	background:rgba(255,255,255,0.85);
	width:100%;
	height:100%;
	box-shadow:2px 2px 10px #f0ad4e, -2px -2px 10px #f0ad4e;
	display:none;
	opacity:0;
	-mox-transition:opacity 0.25s 0s linear;
	-webkit-transition:opacity 0.25s 0s linear;
	transition:opacity 0.25s 0s linear;
	&.active{
		display:block;
		opacity:1;
	}
}
.new-spinner{
    width: 20px;
    height: 20px;
    position: relative;
    margin: 49% auto 20px;
    color:black
}
.errors, .errors p{
	margin-top:5px!important;
	color: #ff0000!important;
	font-size:14px;
	font-weight:bold;
	text-align:right;
	margin-bottom: 5px;
}
.success, .success p{
	margin-top:5px!important;
	color: #5db9be!important;
	font-size:14px;
	font-weight:bold;
	text-align:right;
	margin-bottom: 5px;
}
.disabled {
    opacity: 0.5;
    cursor:default;
}
.disabled:hover{
	opacity:0.5;
}
#spin-outside{
    position: absolute;
    top: -6px;
    left: -6px;
}
#spin-inside{
    position: absolute;
    top: 0px;
    left:0px;
}
.half-circle{
    background: transparent;
    border-top:2px solid #f0ad4e;
    border-right:2px solid #f0ad4e;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#spin-inside.half-circle{
    width: 20px;
    height: 20px;
}
.fa-spin-reverse{-webkit-animation:fa-spin-reverse 2s infinite linear;animation:fa-spin-reverse 2s infinite linear}
@-webkit-keyframes "fa-spin-reverse"{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(-359deg);
        transform:rotate(-359deg);
    }
}
@keyframes "fa-spin-reverse"{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(-359deg);
        transform:rotate(-359deg);
    }
}

@import "mobile/shared-mobile";