<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TempoTrip - Profile</title>
    <!--favoicon calls-->
    <link rel="apple-touch-icon" sizes="180x180" href="https://d25lpdpogv53oe.cloudfront.net/0/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://d25lpdpogv53oe.cloudfront.net/0/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://d25lpdpogv53oe.cloudfront.net/0/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://d25lpdpogv53oe.cloudfront.net/0/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://d25lpdpogv53oe.cloudfront.net/0/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c"><meta name="theme-color" content="#ffffff">
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700" rel="stylesheet">
    <!-- Our CDN global css -->
    <?php require_once(MODEL_PATH."commonCss.css.php");?>
    <!-- Our CDN custom css -->
    <link href="css/profile.modules.css" rel="stylesheet">
    <!-- Our CDN global js -->
    <?php require_once(MODEL_PATH."commonJs.js.php");?>
    <!-- Our CDN custom js -->
    <script src="js/profile.modules.js"></script>
  </head>

  <body id="all-trips-page">
    <div class="container-fluid">
        <div class="row">
            <!-- Global Header ============================== -->
            @@include('../../renderings/components/global-header.html')
            <!-- / Global Header ============================ --> 
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="errors"><?php echo $app->output->errorstr ?></div></div>
            <div class="col-sm-12"><div class="success"><?php echo $app->output->successstr ?></div></div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="tripsDataMessage"></div>
        </div>
        <div class="row" id="timeRow">
            <div class="col-sm-12" id="rangePicker">
                <form id="tripDates" method="POST" autocomplete="off">
                    <input type='hidden' name='p' value="alltrips">
                    <div class="col-sm-12 col-md-8">
                        <div class="cbs-date form-group field-trip-start-date">
                            <input type="text" class="form-control input-sm" name="from_departure_datetime" autocomplete="off" id="trip-start-date" placeholder="Start Date">
                            <label for="from_departure_datetime" class="cbs-date-label">Trips Start Date</label>
                            <span class="focus-border"><i></i></span>
                        </div>
                        <div class="cbs-date form-group field-trip-start-date">
                            <input type="text" class="form-control input-sm" name="to_departure_datetime" id="trip-end-date" autocomplete="off" placeholder="End Date">
                            <label for="to_departure_datetime" class="cbs-date-label">Trips End Date</label>
                            <span class="focus-border"><i></i></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <input type="submit" class="form-control input-sm" name="submit" value="Submit">
                        <label for="submit" class="cbs-date-label">&nbsp;</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <!-- Trips Table ============================== -->
                @@include('../../renderings/components/alltrips-content.html')
                <!-- / Trip Table ============================ --> 
            </div>
            <div class="col-sm-12 col-md-5" id="tripsSideBar">
                <!-- Trips Side Bar Details ============================== -->
                @@include('../../renderings/components/right-side-alltrips.html')
                <!-- / Trips Side Bar Details ============================ --> 
            </div>

        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-sm-12" id="printContent"> 
                <!-- Trips Side Bar Details ============================== -->
                @@include('../../renderings/components/print-alltrips.html')
                <!-- / Trips Side Bar Details ============================ --> 
            </div>
        </div>
    </div> 
     @@include('../../renderings/components/global-footer.html')
    <!-- JS ============================== -->
   
    </body>
</html>