<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TempoTrip - Login</title>
    <link href="css/vendors/plugins.css" rel="stylesheet">
    <link href="css/tempotrip.css" rel="stylesheet">
    <?php require_once("../model/commonJs.js.php");?>
  </head>

  <body id="password-page">
    <div class="container-fluid body-content" id="password">
            <!-- Left Side bar ============================== -->
              @@include('../../renderings/components/change-password.html')
            <!-- / Left Side Bar ============================ --> 
    </div>
    
    <!-- JS ============================== -->
    <script src="js/tempotrip.globals.js"></script>
    <?php echo $app->classes->js->get_dynamic_js($app,'global-navigation'); ?>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/js-library.js"></script>
    <script src="js/tempotrip.modules.js"></script>
    <!-- / JS ============================ -->
  </body>
</html>