<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TempoTrip - Profile</title>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="css/vendors/plugins.css" rel="stylesheet">
    <link href="css/tempotrip.css" rel="stylesheet">
    <?php require_once("../model/commonJs.js.php");?>
      
  </head>

  <body id="events-page">
    <div class="container-fluid">
        <div class="row">
            <!-- Profile ============================== -->
            @@include('../../renderings/components/global-header.html')
            <!-- / Profile ============================ --> 
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-sm-12">
                <!-- Profile ============================== -->
                @@include('../../renderings/components/events-content.html')
                <!-- / Profile ============================ --> 
            </div>

        </div>
    </div>  
    @@include('../../renderings/components/global-footer.html')
    <!-- JS ============================== -->
   
    <?php echo $app->classes->js->get_dynamic_js($app,'global-navigation'); ?>
    </body>
</html>