<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Traveler Help Center</title>

    <!-- Styles -->
    <link href="css/tt-faq-all.css" rel="stylesheet">
    <link href="css/tt-faq-custom.css" rel="stylesheet">
    <link href="css/tempotrip-helpers.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>
    <link href="vendors/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png">
    <style>
        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%
        }

        html {
            margin-bottom: 1em;
            line-height: 1.875em;
            font-weight: 300
        }

        h1 a:before,
        h2 a:before,
        h3 a:before {
            margin-left: -30px;
            margin-right: 8px;
            font-family: 'Glyphicons Halflings';
            font-size: 22px;
            color: #5cc7b2;
            opacity: .3;
            content: "";
            transition: .3s ease
        }

        .main-content {
            padding: 0px 50px 50px 0;
            font-size: 16px;
            line-height: 27px;
        }

        h2 {
            font-size: 36px;
            line-height: 33px;
            margin-bottom: 35px;
            margin-top: 50px;
            font-weight: 300;
        }

        article img {
            display: block;
            height: auto;
            max-width: 100%;
        }

        img {
            vertical-align: middle;
        }

        blockquote p {
            font-style: normal;
            font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".sidebar" data-offset="200">


    <!-- Sidebar -->
    <aside class="sidebar sidebar-boxed sidebar-dark">

        <a class="sidebar-brand m-b-20" href="/"><img src="images/helpcenter/TTLogo-New.svg" alt="logo" width="200"></a>
        <p class="text-white text-center"><em>TempoTrip Help Center</em></p>
        <ul class="nav sidenav dropable">
            <li>
                <a href="#how_to_guide">Getting Started</a>
                <ul>
                    <li><a href="#technical_site_requirements">Technical Requirements</a></li>
                    <li><a href="#traveler_profile">Traveler Profile</a></li>
                    <li>
                        <a href="#booking_atrip">Booking a Trip</a>
                        <ul>
                            <li><a href="#booking_flights-1">Book a Flight</a></li>
                            <li><a href="#booking_flights-2">Canceling a Flight</a></li>
                            <li><a href="#booking_flights-3">Changing a Flight </a></li>
                            <li><a href="#booking_flights-4">Viewing Booked Trips</a></li>
                        </ul>
                    </li>
                    <li><a href="#subtitle3">Subtitle 3</a></li>
                    <li><a href="#subtitle4">Subtitle 4</a></li>
                </ul>
            </li>
            <li><a href="#travel_support">Travel Support</a></li>
            <!-- <li><a href="faq-page-theme-2.html">Frequently Asked Questions </a></li>-->
            <!--        <li><a href="#variations">Variations</a></li>-->
        </ul>

    </aside>
    <!-- END Sidebar -->


    <header class="site-header navbar-transparent">

        <!-- Top navbar & branding -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- Toggle buttons and brand -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
<span class="glyphicon glyphicon-option-vertical"></span>
</button>

                    <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

                </div>
                <!-- END Toggle buttons and brand -->

                <!-- Top navbar -->
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li class="active"><a href="/">Help Center</a></li>-->
                        <!--              <li><a href=""></a></li>-->
                        <!--<li><a href="faq-page.html">FAQ</a></li>
                        <li><a href="#">Travel Resources</a></li>-->
                        <li class="hero"><a href="mailto:support@tempotrip.com" target="_blank">Contact Support</a></li>
                        <!--              <li class="hero"><a href="http://"></a></li>-->
                    </ul>
                </div>
                <!-- END Top navbar -->

            </div>
        </nav>
        <!-- END Top navbar & branding -->

        <!-- Banner -->
        <div class="banner auto-size" style="background-color: #ffffff">
            <div class="container-fluid text-grey-blue">
                <h1><strong>Traveler&nbsp;<i class="fa fa-book"></i> Help Center &amp; User Guide</strong></h1>
                <h5></h5>
            </div>
        </div>
        <!-- END Banner -->

    </header>

    <main class="container-fluid">

        <!-- Main content -->
        <article class="main-content" role="main">
            <section>
                <h2 id="how_to_guide">Getting Started <small>TempoTrip Traveler</small></h2>
                <p>Below you will find instructions on how to use TempoTrip </p>
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
                <ul>
                    <li><a href="#traveler_profile">Traveler Profile</a></li>
                    <li><a href="#booking_flights">Searching and Booking a Flight</a></li>
                    <li><a href="#booking_flights-2">Canceling or Changing a Trip</a></li>
                    <li><a href="#travel_support">Traveler Support and Resources</a></li>
                </ul>
<div>
                <h3 id="technical_site_requirements">Technical Requirements</h3>
                <p>The following are the minimum and recommended technical requirements for using the TempoTrip website and application.</p>
                <h4>Supported Browser Versions</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><strong>Chrome</strong> (newest three&nbsp;versions). Please note:
                                    <ul>
                                        <li>Use the default settings, which include cookies and JavaScript enabled.</li>
                                        <li>See <a href="https://support.google.com/chrome?vid=1-635779350393419917-1212209554#topic=3227046" class="external-link" rel="nofollow">Chrome Help</a> for&nbsp;instructions on how to change settings if you need to.</li>
                                    </ul>
                                </li>
                                <li><strong>Safari</strong> (versions 6.0, 7.0, and 8.0). Please note:
                                    <ul>
                                        <li>Use the default settings, which include cookies and JavaScript enabled.&nbsp;</li>
                                        <li>See <a href="http://www.apple.com/support/mac-apps/safari/" class="external-link" rel="nofollow">Apple Support for Safari</a> for&nbsp;instructions on how to change settings if you need to.</li>
                                    </ul>
                                </li>
                            </ul>
                            <!--                    https://support.google.com/chrome?vid=1-635779350393419917-1212209554#topic=7438008-->

                        </div>
                        <div class="col-md-6">
                            <ul>

                                <li>Internet Explorer 11.0</li>
                                <li><span><span><strong>Firefox</strong> (newest three versions). Please note:</span></span>
                                    <ul>
                                        <li><span><span>Use the default settings, which include cookies and JavaScript enabled.</span></span>
                                        </li>
                                        <li><span><span>See <a href="https://support.mozilla.org/en-US/products/firefox" class="external-link" rel="nofollow">Mozilla Support</a> for instructions on how to change settings if you need to.</span></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-12">
                            <p>
                                <b>*Note:</b> Cookies and JavaScript must be enabled in any of the browsers you use.
                            </p>
                            <p><strong>Warning:&nbsp;</strong> Users should not open multiple tabs or windows of the browser for a single session when logged into your tempotrip acount and either in profile or searching for a flight. When multiple tabs or windows are open, actions in one tab or window can change the session, and the other tabs or windows may effect each other.</p>
                        </div>
                    </div>
    
    <h3 id="traveler_profile">Traveler Profile</h3>
                <p>Your profile contains personal identification needed to book services. It also allows you to store preferences for services and communications. Using information in your profile reduces the time it takes you to arrange for services, because you don't have to enter them each time you purchase a flight.</p>
                <div>
                    <h4>To Update Profile</h4>

                    <ol>
                        <li>Log In to your TempoTrip Account</li>
                        <li>Click&nbsp;<strong>Profile</strong>&nbsp;on the left sidebar Navigation<em><br></em></li>
                        <li>Complete all required fields and any other&nbsp;fields that you want. </li>
                        <li>When you are finished, click&nbsp;<strong>Save Button</strong>&nbsp;located at bottom of the page .</li>
                    </ol>
                </div>
                <p></p>

                <h3 id="booking_atrip">Booking a Trip</h3>
                <p>Follow these instructions for searching and purchasing flight services as well as reviewing, canceling or modifying any booked flights.</p>
                
                <h4 id="booking_flights-1"><small>Book a Flight</small></h4>
               <p></p>
                <ol>
                   <li><strong>Log In</strong> to your TempoTrip account</li>
                   <li>Click&nbsp;<strong>Book Flights Icon&nbsp;<i class="fa fa-plane fa-lg"></i></strong>&nbsp;on the left sidebar Navigation<em><br></em></li>
                   <li>In the flight search box form, enter your<strong> From and To
                       airports / cities</strong>, select your <strong>Leave and Return
                       dates and times</strong>.</li>
                   <li>Click&nbsp;<strong>Search</strong></li>
                    <div class="admonition-block tip-block conf-macro output-block conf-macro output-inline m-b-20" data-hasbody="false" data-macro-name="excerpt-include">
                        <svg xmlns="http://www.w3.org/2000/svg" class="admonition-icon" width="18" height="18" viewBox="0 0 18 18"> 
                    <path d="M0 9c0-5 4-9 9-9s9 4 9 9-4 9-9 9-9-4-9-9zm8-1v5c0 .6.4 1 1 1s1-.4 1-1V8c0-.6-.4-1-1-1s-1 .4-1 1zm1-2c.6 0 1-.4 1-1s-.4-1-1-1-1 .4-1 1 .4 1 1 1z" fill="#0052CC" fill-rule="evenodd"> 
                    </path> 
                    </svg><b>NOTE:</b>
                        <p>For a One-way flight search click the <b>"One Way"</b> tab.&nbsp; For a Round-trip flight search click the <strong>"Round Trip"</strong> tab. You can search for different Classes / Fare Types from the <strong>"Seat Class"</strong> drop down. To book for more than one person change <strong>"Traveler(s)"</strong> drop down to the desired amount of traveling adults.</p>

                    </div>
                   <li>
                       Sort all the displayed results by the <em>lowest Total Fare</em>, <em>earliest Departure Time</em>, <em>earliest Arrival Time</em>, <em>least number of stops</em> or the <em>shortest duration</em> by clicking the <strong>"Sorting By:"</strong> button.
                   </li>
                   <li>
                       Filter your results by Stops, Airline, AM / PM Depart and Arrive times, or min and max price by using the left side filter bar. 
                   </li>
                   <li>
                       Click the <strong>"BOOK IT"</strong> button on the results flight card to choose that departure and return trip.
                   </li>
                   <li>
                       Review your selected trip details and complete the <strong>Traveler Details</strong> and <strong>Billing Information</strong> forms below to purchase your ticket(s). 
                   </li>
                   <div class="admonition-block tip-block conf-macro output-block conf-macro output-inline m-b-20" data-hasbody="false" data-macro-name="excerpt-include">
                        <svg xmlns="http://www.w3.org/2000/svg" class="admonition-icon" width="18" height="18" viewBox="0 0 18 18"> 
                        <path d="M0 9c0-5 4-9 9-9s9 4 9 9-4 9-9 9-9-4-9-9zm8-1v5c0 .6.4 1 1 1s1-.4 1-1V8c0-.6-.4-1-1-1s-1 .4-1 1zm1-2c.6 0 1-.4 1-1s-.4-1-1-1-1 .4-1 1 .4 1 1 1z" fill="#0052CC" fill-rule="evenodd"> 
                        </path> 
                        </svg>
                       <b>NOTE:</b>
                       <p>If the Billing Information Form is not shown that means your company or group administrator has added the payment method for you and you can finish booking your trip still by clicking submit payment button.</p>
                       
                    </div>
                   <li>Before purchasing, you must click the checkbox for the "* I hereby agree to the TempoTrip terms and conditions for this purchase." statement above the Submit Payment button. (You can click the terms and conditions link in the statement to see what they are.)</li>
                    <li>Click the <strong>Submit Payment if you are ready to complete your booking reservation.</strong></li>
                </ol>

    <h4 id="booking_flights-2"><small><strong>Canceling a Flight</strong></small></h4>
                    <p>To cancel a previously booked flight reservation, follow these steps:</p>
    <ol>
        <li>On the <strong>My Trips&nbsp;</strong>page, click on the upcoming trip that you want to cancel.</li>
        <li>Click the&nbsp;<strong>Cancel this trip</strong>&nbsp;button at the bottom of the right trip details column.&nbsp;<span>The&nbsp;</span>Cancel Trip Assistant&nbsp;<span>page appears.&nbsp;</span></li><li><span>Click the checkbox for "I acknowledge and accept" to accept the terms for canceling the booking.</span></li><li><span>Click&nbsp;</span><strong>Confirm Cancellation </strong>or<strong> Keep Original Trip.</strong></li><li>Click <strong>Done</strong> to finish.&nbsp;</li></ol><p>An email is sent to the traveler with the trip cancellation details. The status of the trip in the Upcoming Reservations section<strong>&nbsp;</strong>of the Home page is changed to “Cancelled”.</p><p>&nbsp;</p>
                
                <h4 id="booking_flights-3"><small>Changing a Flight</small></h4>
    <div class="changing a trip">
<p>To make changes to a trip, follow the steps below:</p>
<ol>
    <li>On the <strong>My Trips&nbsp;</strong>page, click on the upcoming trip that you want to change.</li>
<!--    <li>Click the <strong>Change this trip</strong> link under Travel Tools in the right column.&nbsp;<span style="line-height: 1.4285715;">The&nbsp;</span>Change Trip Assistant&nbsp;<span style="line-height: 1.4285715;">page appears.&nbsp;</span></li>-->
    
<!--    <li><span style="line-height: 1.4285715;">Click the radio button for&nbsp;</span>Change,<span style="line-height: 1.4285715;">&nbsp;</span>Add, or Cancel part of the trip, or click <strong>Keep Original Trip</strong>.</li>-->
    
<!--    <li><span style="line-height: 1.4285715;">Click the&nbsp;</span><strong style="line-height: 1.4285715;">Continue&nbsp;</strong><span style="line-height: 1.4285715;">button.</span></li>-->
    
<!--    <li><span style="line-height: 1.4285715;">Click the checkbox next to the appropriate options for "What would you like to do to this trip?" and "What would you like to change?"</span></li>-->
    
<!--    <li>Click&nbsp;<strong>Continue</strong>. The "Review your trip" page appears.&nbsp;</li>-->
    
<!--    <li><span style="line-height: 1.4285715;">Review the information and click </span><strong style="line-height: 1.4285715;">Continue</strong><span style="line-height: 1.4285715;"> or click the </span><strong style="line-height: 1.4285715;">Compare to Original</strong><span style="line-height: 1.4285715;"> button.</span>
            <li><span style="line-height: 1.4285715;">If you click </span><strong style="line-height: 1.4285715;">Compare to Original</strong><span style="line-height: 1.4285715;">, the Compare to Original page appears so that you can compare.&nbsp;</span></li>
            <li>Click<span style="line-height: 1.4285715;">&nbsp;<strong>Back to Trip Review Page</strong> when you are finished comparing.</span></li>
        </ul>
    </li>-->
<!--    <li><span style="line-height: 1.4285715;">Under Change Penalties and Fees, click the checkbox for "I acknowledge and accept" to accept the terms for changing a booking.</span></li>-->
<!--    <li><span style="line-height: 1.4285715;">Click&nbsp;</span><strong style="line-height: 1.4285715;">Continue</strong><span style="line-height: 1.4285715;">.&nbsp;</span></li>-->
<!--    <li><span style="line-height: 1.4285715;">Follow the steps to search for and select a flight, hotel, or car rental, and click <strong>Purchase</strong>.</span></li>-->
</ol>
<p><span style="line-height: 1.4285715;"><strong>Note</strong>:&nbsp;If you used a single-use card for a purchase, the card information will be used for any changes. There is no need to reenter this information. If you add new services, you can select a card from your profile or the single-use card.</span></p>
<p><strong>Warning</strong>: &nbsp;Some trip elements can't be changed after purchase:</p>
<!--
<ul>
    <li>Multi-carrier itinerary</li>
    <li>International itineraries (Non-US)</li>
    <li>Multi-city itinerary</li>
    <li>Trips originally booked offline</li>
    <li>Any passive segment</li>
    <li>Paper ticket booking</li>
    <li>Trips with more than one ticket (e.g. split ticketed)</li>
    <li>Itineraries with more than one passenger</li>
    <li>Any portion of a trip that has already commenced</li>
    <li>PNR locator if changing destination</li>
    <li><span style="line-height: 1.4285715;">Carriers for the same destination of original carrier if available</span></li>
    <li>Number of travelers in a booking</li>
</ul>
-->
<p>&nbsp;</p>
<p>&nbsp;</p>
    </div>
                
                <h4 id="booking_flights-4"><small>Viewing Booked Trips</small></h4>
                    <p>To view previously booked trips, follow the steps below:</p>
    <ol>
    <li>While logged into your profile click on the <strong><i class="fa fa-suitcase fa-lg"></i>&nbsp;My Trips </strong> link on the left side navigation.</li>
    <li>On the My Trips page you will see a list of all your previously booked trips.</li>
    <li>Click on a trip to view more details or take action on that trip. More details will show up in the right hand column when clicked.</li>    
    
    </ol>

                <h3 id="subtitle3">Subtitle 3</h3>
                <p>Fusce porttitor diam mauris, in fringilla elit euismod non. Aliquam non justo suscipit, pellentesque felis quis, egestas ante. Nunc quis imperdiet mauris, vitae cursus ante. Aenean vel efficitur ante, ullamcorper tempus massa. Integer ornare urna vitae quam semper fermentum. Mauris in dolor tempus, ultricies quam ac, lacinia nisl. Donec vitae ante sem.</p>
                <p>Ut vitae sagittis ex. In porttitor ante in nunc ultrices malesuada. Praesent iaculis odio vitae volutpat tempus. Nullam a sodales lorem, nec pellentesque odio. Praesent ullamcorper nisl commodo justo imperdiet dignissim. Duis purus magna, congue sit amet varius condimentum, dapibus tristique urna. Aliquam congue molestie tempor. Curabitur vel arcu vel nibh euismod porttitor. Sed a dolor maximus ex tempus pharetra rhoncus et nulla. Integer dolor ex, lobortis ac leo non, dapibus cursus ligula. Fusce sed ultrices urna, vel tincidunt mi. Nullam neque dolor, tempor nec lorem vitae, scelerisque consectetur quam.</p>

                <h3 id="subtitle4">Subtitle 4</h3>
                <p></p>
                </div></section>

            <section>
                <h2 id="travel_support">Travel Support</h2>
                <p>Integer egestas ante id justo mollis feugiat ac vel metus. Nunc pulvinar scelerisque faucibus. Aenean at libero hendrerit, feugiat felis suscipit, facilisis justo. Praesent laoreet rutrum velit vitae facilisis. Fusce ac consectetur leo. Praesent dapibus interdum arcu, et hendrerit mi imperdiet eget. Morbi volutpat, leo id interdum aliquet, massa justo vestibulum nisl, eget posuere velit diam ac nibh. Duis tellus enim, porttitor id lectus vitae, tristique congue odio. Duis elementum porttitor nibh et porta. Suspendisse potenti.</p>
                <p>Ut vitae sagittis ex. In porttitor ante in nunc ultrices malesuada. Praesent iaculis odio vitae volutpat tempus. Nullam a sodales lorem, nec pellentesque odio. Praesent ullamcorper nisl commodo justo imperdiet dignissim. Duis purus magna, congue sit amet varius condimentum, dapibus tristique urna. Aliquam congue molestie tempor. Curabitur vel arcu vel nibh euismod porttitor. Sed a dolor maximus ex tempus pharetra rhoncus et nulla. Integer dolor ex, lobortis ac leo non, dapibus cursus ligula. Fusce sed ultrices urna, vel tincidunt mi. Nullam neque dolor, tempor nec lorem vitae, scelerisque consectetur quam.</p>
            </section>
            
            <section>
                <h2 id=""></h2>
            </section>

        </article>
        <!-- END Main content -->
    </main>


    <!-- Footer -->
    <footer class="site-footer">
        <div class="container-fluid">
            <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p>Copyright &copy; 2017. All right reserved</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="footer-menu">
                        <li><a href="page_changelog.html">Changelog</a></li>
                        <li><a href="page_credits.html">Terms &amp; Conditions</a></li>
                        <li><a href="mailto:support@tempotrip">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- END Footer -->

    <!-- Scripts -->
    <script src="js/tt-faq-all-min.js"></script>
   

  </body>
</html>
