<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TempoTrip - Profile</title>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="css/vendors/plugins.css" rel="stylesheet">
    <link href="css/tempotrip.css" rel="stylesheet">
    <script src="js/tempotrip.globals.js"></script>
    <script src="js/vendors/plugins.js"></script>
    <?php require_once("../model/commonJs.js.php");?>
    <script src="js/tempotrip.modules.js"></script>
    <script src="js/js-library.js"></script>
    <script src="js/global-navigation.js"></script>
    
      
  </head>

  <body id="profile-page">
    <div class="container-fluid">
        <div class="row">
            <!-- Profile ============================== -->
            @@include('../../renderings/components/global-header.html')
            <!-- / Profile ============================ --> 
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-sm-12">
                <!-- Profile ============================== -->
                @@include('../../renderings/components/profile-form.html')
                <!-- / Profile ============================ --> 
            </div>
            

        </div>
    </div>  
    @@include('../../renderings/components/global-footer.html')
    <!-- JS ============================== -->
    </body>
</html>