<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TempoTrip - Profile</title>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
      
    <link href="vendors/bootstrap-form-helpers/dist/css/bootstrap-formhelpers.css" rel="stylesheet">
    <link href="css/tempotrip.css" rel="stylesheet">
    
      
  </head>

  <body id="profile-page">
    <div class="container-fluid">
        <div class="row">
            <!-- Profile ============================== -->
            @@include('../../renderings/components/global-header.html')
            <!-- / Profile ============================ --> 
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-sm-8">
                <!-- Profile ============================== -->
                @@include('../../renderings/components/profile-form.html')
                <!-- / Profile ============================ --> 
            </div>
            <div class="col-sm-4">
                <!-- Profile ============================== -->
                @@include('../../renderings/components/profile-form.html')
                <!-- / Profile ============================ --> 
            </div>
        </div>
    </div>    
 
    <!-- JS ============================== -->
    <script src="js/tempotrip.globals.js"></script>
    <!--PLUGIN JS-->
    <script src="vendors/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.min.js"></script>
    <script src="js/tempotrip.modules.js"></script>
    
    <!-- / JS ============================ -->
  <script src="vendors/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.min.js"></script>
    </body>
</html>