@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(xl) {
    
}
@include max-screen(large) {

}
@include max-screen(mediumLarge){
	
}
@include max-screen(medium) {
	#add-travelers-page .body-content{
		padding-top:15px;
	}
	#add-travelers-page .body-content .row .col-md-7 .row .col-sm-12 .success, #add-travelers-page .body-content .row .col-md-7 .row .col-sm-12 .errors{
		margin-bottom:5px
	}
	#add-travelers-page .body-content .row .col-md-5 .row .col-sm-12{
		padding-right:0px;
		padding-left:0px;
	}
}
@include max-screen(smallMedium){

}
@include max-screen(small) {
	table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before{
		top: 20px;
    	left: 8px;
    	background-color:$orange;
	}
	#add-travelers-page .body-content .row #addTravelers_wrapper .col-sm-12 table.dataTable tbody th, #add-travelers-page .body-content .row #addTravelers_wrapper .col-sm-12 table.dataTable tbody td, #add-travelers-page .body-content .row .addTravelerWrapper .col-sm-12 table.dataTable tbody th, #add-travelers-page .body-content .row .addTravelerWrapper .col-sm-12 table.dataTable tbody td{
		padding:15px 10px 15px 38px;
	}
	#add-travelers-page .body-content .row #addTravelers_wrapper .col-sm-12 table.dataTable tbody td.child{
			padding:15px 10px 15px 10px;
			background-color:#f1f1f1;
			box-shadow:inset 0px -2px 2px #cccccc;
	}
	table.dataTable>tbody>tr.child ul.dtr-details li{
		border-bottom:1px solid #cccccc;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button{
		padding:0.5em 0.5em;
	}
	table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting{
		padding-right:10px;
	}
	table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting{
		text-align:left;
	}
	table.dataTable>tbody>tr.child span.dtr-title, table.dataTable>tbody>tr.child ul.dtr-details{
		display:block;
		width:100%;
	}
	#add-travelers-page .body-content .row .col-md-5 .row .col-sm-12{
		padding-right:0px;
		padding-left:0px;
	}
	#add-travelers-page .body-content .row .col-md-5 .row .col-sm-12 .card .content .col-md-6:first-child {
    	margin-right: 0%;
	}
	#add-travelers-page .body-content .row .col-md-5 .row .col-sm-12 .card .content .col-md-6 {
    	width: 100%;
	}
	#add-travelers-page .body-content .row .col-md-5 .row .col-sm-12 .card .content label a{
		display:none;
	}
	#add-travelers-page .body-content .row .col-md-7 .row .col-sm-12 .success, #add-travelers-page .body-content .row .col-md-7 .row .col-sm-12 .errors{
		margin-bottom:5px
	}
}