@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(xl) {
    #all-trips-page .body-content .col-md-7 table.dataTable .dateBooked, #all-trips-page .body-content .col-md-7 table.dataTable .status, #all-trips-page .body-content .col-md-7 table.dataTable .departure{
    	
    }
    #all-trips-page .body-content .col-md-5 #approvals .content .row #sites .card-title, #ad-reports-page .body-content .col-md-5 #approvals .content .row #sites .card-title{
    	font-size:12px;
    }
    #all-trips-page .body-content .col-md-5 .col-md-6, #all-trips-page .body-content .col-md-5 #approvals .content .row #costs, #ad-reports-page .body-content .col-md-5 #approvals .content .row #costs{
    	width:100%;
    }
    #all-trips-page .body-content .col-md-5 .travellerName, #all-trips-page .body-content .col-md-5 #costs{
    	border-bottom:1px solid #dddddd;
    }
    #all-trips-page .body-content .col-md-5 #approvals .content .row #flightInfo .deptHeader, #all-trips-page .body-content .col-md-5 #itinerary .content .row #flightInfo2 .deptHeader, #ad-reports-page .body-content .col-md-5 #itinerary .content .row #flightInfo2 .deptHeader{
    	width:60%;
    }
    #all-trips-page .body-content .col-md-5 #approvals .content .row #flightInfo .deptHeader.Oneway:after, #ad-reports-page .body-content .col-md-5 #approvals .content .row #flightInfo .deptHeader.Oneway:after, #all-trips-page .body-content .col-md-5 #itinerary .content .row #flightInfo2 .deptHeader.Oneway:after, #ad-reports-page .body-content .col-md-5 #itinerary .content .row #flightInfo2 .deptHeader.Oneway:after{
    	width:45px;
    	height:35px;
    }
    #all-trips-page .body-content .col-md-5 #approvals .content .row #flightInfo #departTime, #ad-reports-page .body-content .col-md-5 #approvals .content .row #flightInfo #departTime, #all-trips-page .body-content .col-md-5 #itinerary .content .row #flightInfo2 #departTime2, #ad-reports-page .body-content .col-md-5 #itinerary .content .row #flightInfo2 #departTime2 {
    	margin-top:-10px;
    }
    #approvalID{
    	width:auto;
    	margin-bottom:5px;
    }
    #all-trips-page .body-content .col-md-5 #approvals .content .row #status .row #clock .approval-card-title, #ad-reports-page .body-content .col-md-5 #approvals .content .row #status .row #clock .approval-card-title{
    	text-align:left;
    }
    #all-trips-page .body-content .col-md-5 #approvals .content .row#app-status .col-sm-12:first-child, #all-trips-page .body-content .col-md-5 #approvals .content .row#app-status .col-sm-12:last-child{
    	padding-left:15px;
    	padding-right:15px;
    }
}
@include max-screen(large) {

}
@include max-screen(mediumLarge) {
	#all-trips-page .body-content{
		padding-left:15px;
	}
	#all-trips-page .body-content .col-md-7 table.dataTable .departure{
    	
    }
    #all-trips-page .body-content .col-md-7 table.dataTable td, #all-trips-page .body-content .col-md-7 table.dataTable th{
    	width:14.2857%!important;
    }
    #all-trips-page .body-content .col-md-5#tripsSideBar{
		margin-top:15px;
	}
}
@include max-screen(medium) {
	#all-trips-page .body-content #timeRow{
		padding:0px;
	}
	#all-trips-page .body-content .col-md-5#tripsSideBar{
		margin-top:15px;
	}
	#all-trips-page .body-content #tripsSideBar .row .col-sm-12{
		padding-right:0px;
		padding-left:0px;
	}
	#all-trips-page .body-content{
		padding-left:1em!important;
		padding-right:1em!important;
		& .row{
			&:nth-child(4){
				& .col-sm-12{
					padding:0px;
				}
			}
		}
	}
	#all-trips-page .body-content .col-md-7 #allTrips_wrapper .row:first-child .col-sm-6:last-child, #all-trips-page .body-content .col-md-5 #allTrips_wrapper .row:first-child .col-sm-6:last-child{
		padding-left:15px;
		width:100%;
	}
	#all-trips-page .body-content .col-md-7 #allTrips_wrapper .row:first-child .col-sm-6:last-child .filterSelect, #all-trips-page .body-content .col-md-5 #allTrips_wrapper .row:first-child .col-sm-6:last-child .filterSelect{
		float:right;
	}
	#all-trips-page .body-content .col-md-7 #allTrips_wrapper .row:first-child .col-sm-6:last-child #table-filter, #all-trips-page .body-content .col-md-5 #allTrips_wrapper .row:first-child .col-sm-6:last-child #table-filter{
		padding:10px 5px;
		text-align:center;
	}
	#all-trips-page .body-content .col-md-7 #allTrips_wrapper .row:first-child .col-sm-6:last-child #allTrips_filter label, #all-trips-page .body-content .col-md-5 #allTrips_wrapper .row:first-child .col-sm-6:last-child #allTrips_filter label{
		float:left;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #costs{
		padding:15px!important;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #status .col-sm-12{
		display:block;
		margin-top:15px;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row .airConfirm{
		padding:15px!important;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row#app-status .col-sm-12:first-child{
		padding-left:15px!important;
	}
}
@include max-screen(smallMedium) {
	#all-trips-page .body-content{
		padding-top:40px!important;
	}
	
}
@include max-screen(small) {
	#all-trips-page .body-content .row:first-child .col-sm-12:first-child{
		padding:5px!important;
	}
	#all-trips-page .body-content #timeRow #rangePicker .cbs-date{
		width:100%;
		float:left;
	}
	#all-trips-page .body-content .col-md-7 table.dataTable tbody th, #all-trips-page .body-content .col-md-7 table.dataTable tbody td:first-child, #all-trips-page .body-content .col-md-5 table.dataTable tbody th:first-child, #all-trips-page .body-content .col-md-5 table.dataTable tbody td:first-child{
		padding:15px 10px 15px 38px;
		text-align:left;
	}
	#all-trips-page .body-content .col-md-7 table.dataTable tbody th, #all-trips-page .body-content .col-md-7 table.dataTable tbody td:first-child, #all-trips-page .body-content .col-md-5 table.dataTable tbody th:first-child, #all-trips-page .body-content .col-md-5 table.dataTable tbody td:first-child{
		padding:15px 10px 15px 38px;
		text-align:left;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #costs, #all-trips-page .body-content .col-md-5 #approvals .content .row #status{
		width:100%;
		border-right:none;
		border-left:none;
	} 
	#all-trips-page .body-content .col-md-5 .row .col-sm-12{
		padding:0px 0px;
	}
	#all-trips-page .body-content #tripsSideBar{
		margin-top:15px;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #flightInfo .deptHeader.Roundtrip:before{
	}
	
	#all-trips-page .body-content .col-md-5 #approvals .content #app-status .col-md-6{
		float:left;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #approvalID{
		float:left;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #status .row #clock{
		margin-top:10px;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row#comments .col-sm-12{
		padding:15px!important;
	}
}