@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(xl) {
    
}
@include max-screen(large) {

}
@include max-screen(mediumLarge){
	
}
@include max-screen(medium) {
	#all-trips-page .body-content #timeRow{
		padding:0px;
	}
	#all-trips-page .body-content #tripsSideBar{
		margin-top:15px;
	}
	#all-trips-page .body-content #tripsSideBar .row .col-sm-12{
		padding-right:0px;
		padding-left:0px;
	}
	#all-trips-page .body-content{
		& .row{
			&:nth-child(4){
				& .col-sm-12{
					padding:0px;
				}
			}
		}
	}
	#all-trips-page .body-content .col-md-7 #allTrips_wrapper .row:first-child .col-sm-6:last-child, #all-trips-page .body-content .col-md-5 #allTrips_wrapper .row:first-child .col-sm-6:last-child{
		padding-left:15px;
		width:100%;
	}
	#all-trips-page .body-content .col-md-7 #allTrips_wrapper .row:first-child .col-sm-6:last-child .filterSelect, #all-trips-page .body-content .col-md-5 #allTrips_wrapper .row:first-child .col-sm-6:last-child .filterSelect{
		float:right;
		margin-top:0.5em;
	}
	#all-trips-page .body-content .col-md-7 #allTrips_wrapper .row:first-child .col-sm-6:last-child #table-filter, #all-trips-page .body-content .col-md-5 #allTrips_wrapper .row:first-child .col-sm-6:last-child #table-filter{
		padding:10px 5px;
		text-align:center;
	}
	#all-trips-page .body-content .col-md-7 #allTrips_wrapper .row:first-child .col-sm-6:last-child #allTrips_filter label, #all-trips-page .body-content .col-md-5 #allTrips_wrapper .row:first-child .col-sm-6:last-child #allTrips_filter label{
		float:left;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #costs{
		padding:15px!important;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #status .col-sm-12{
		display:block;
		margin-top:15px;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row .airConfirm{
		padding:15px!important;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row#app-status .col-sm-12:first-child{
		padding-left:15px!important;
	}
}
@include max-screen(smallMedium){

}
@include max-screen(small) {
	#all-trips-page .body-content #timeRow #rangePicker .cbs-date{
		width:100%;
		float:left;
	}
	#all-trips-page .body-content .col-md-7 table.dataTable tbody th, #all-trips-page .body-content .col-md-7 table.dataTable tbody td:first-child, #all-trips-page .body-content .col-md-5 table.dataTable tbody th:first-child, #all-trips-page .body-content .col-md-5 table.dataTable tbody td:first-child{
		padding:15px 10px 15px 38px;
		text-align:left;
	}
	#all-trips-page .body-content .col-md-7 table.dataTable tbody th, #all-trips-page .body-content .col-md-7 table.dataTable tbody td:first-child, #all-trips-page .body-content .col-md-5 table.dataTable tbody th:first-child, #all-trips-page .body-content .col-md-5 table.dataTable tbody td:first-child{
		padding:15px 10px 15px 38px;
		text-align:left;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #costs, #all-trips-page .body-content .col-md-5 #approvals .content .row #status{
		width:100%;
		border-right:0px solid #ddd;
	} 
	#all-trips-page .body-content .col-md-5 .row .col-sm-12{
		padding:0px 0px;
	}
	#all-trips-page .body-content #tripsSideBar{
		margin-top:15px;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #flightInfo .deptHeader.Roundtrip:before{
		margin:-5px 95px 0px;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #sites{
		display:none;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content #app-status .col-md-6{
		float:left;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #approvalID{
		float:left;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row #status .row #clock{
		margin-top:10px;
	}
	#all-trips-page .body-content .col-md-5 #approvals .content .row#comments .col-sm-12{
		padding:15px!important;
	}
}