@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(small) {
	#approvals-page{
		& .body-content{
			padding-top:90px;
			& .col-sm-8, & .col-sm-4{
				width:100%;
				padding-right:0px;
				padding-left:0px;
			}
			& #approvals_wrapper{
				width:100%;
				& .dataTables_length, & .dataTables_filter{
					display:none;
				}
			}
		}
	}
}