@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(xl) {
    
}
@include max-screen(large) {
    #dashboard-page{
        & .body-content{
            & #content-dashboard{
                & .card{
                    & .row{
                        display:block!important;
                        & .col-md-4{
                            width:32%;
                            & h3{
                                font-size:18px!important;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
@include max-screen(mediumLarge) {
	#dashboard-page{
        & .body-content{
            padding-left:15px!important;
            & #content-dashboard{
                & .card{
                    & .row{
                        display:block!important;
                        & .col-md-4{
                            &#profileList, &#tripLink{
                                padding-top:15px;
                                padding-bottom:15px;
                            }
                            &#searchList{
                                margin-top:15px!important;
                                margin-bottom:15px!important;
                                margin-right:0px!important;
                                margin-left:0px!important;
                                padding-top:15px;
                                padding-bottom:15px;

                            }
                            width:100%;
                            & h3{
                                margin-top:0px;
                                font-size:18px!important;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
@include max-screen(medium) {
    #dashboard-page .body-content #content-dashboard #topBar .col-md-4{
        padding:0px 0px;
    }
	#dashboard-page .body-content #content-dashboard #topBar .col-md-4 ul li{
        padding-left:35px;
        height:auto;
        padding-bottom:10px;
        font-size:14px;
        &:before{
            margin-left:-35px;
        }
    }
}
@include max-screen(smallMedium) {
    #dashboard-page .body-content #content-dashboard .card .row .col-md-4#tripLink ul{
        padding-left:15px;
        padding-right:15px;
    }
}
@include max-screen(small) {
	
}