@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(xl) {
    
}
@include max-screen(large) {
	
}
@include max-screen(mediumLarge) {
	body{
		& #global-header{
			& .nav{
				& .row{
					& .col-sm-3, & .col-sm-6{
						width:100%;
						& .navCase{
						    float:right!important;
						    position:absolute;
						    right:0px;
						}
						& .userName{
			   				
			   			}
					}
					& .col-sm-6{
						width:50%;
						&:last-child{
							
						}
						& .dropdown{
							
						}
					}
					
				}	
			}
		}
		& .sideBarNav {
			top: 0%!important;
		    left:-55px!important;
		    position:absolute!important;
		    width:55px!important;
		    height:100%!important;
		    & a#logOut{
		    	display:block!important;;
		    }
		    & #adminNav, #travellerNav{
		    	height:auto!important;
		    }
		    & p, & a, li{
		    	font-size:16px!important;
		    	text-align:center!important;
		    	width:100%;
		    }
		    & ul{
		    	&#productMenuItem{
					& li{
						& .caret{
							display:none;
						}
						&.active{
							height:50px!important;
						}
					}
				}
		    }
		    & li{
		    	border-bottom: 1px solid #a3bfd2 !important;
		    	& .caret{
		    		display:none;
		    	}
		    	&:before{
		    		display:none;
		    	}
		    	&:last-child{
		    		position:relative!important;
		    		margin-top:0%!important;
		    		& a{
		    			&:before{
		    				left:0px !important;
		    				top:0px !important;
		    			}
		    		}
		    	}
		    	&#dashboard-page, &#events-management-page {
    				padding-top: 15px!important;
				}
		    	&#profile-page{
		    		padding-top:15px!important;
		    		margin-top:0px!important;
			    	&:before{
	    				top:-30px!important;
	    				border-top:0px solid #a3bfd2 !important;
	    				height:30px!important;
	    				padding:5px 0px!important;
			    	}
		    	}
		    	&#alltrips-page{
		    		padding-top:15px!important;
		    		margin-top:0px!important;
		    		&:before{
		    			top:-33px!important;
		    		}
		    	}
		    }
		    
		    & a{
		    	padding:10px 0px!important;
		    }
		    & a#adminAccordian, & a#travellerAccordian, & a#logOut{
		    	border-top:2px solid #1a4666!important;
		    	border-bottom:2px solid #1a4666!important;
		    	&:before {
				  top: 20px!important;
				}
				&:after {
				  top: 20px!important;
				}  	
		    }
		}
		&.hamburgerNavActive .sideBarNav{
			width:50%!important;
			& ul{
				width:calc(100%);
				padding-left:0px;
				padding-bottom:0px;
				margin-bottom:0px;
				& li{
					border-top:1px solid $grey-blue;
					padding:0px;
					& .caret{
						display:none;
					}
					& a{
						width:100%!important;
					}
					&:last-child{
						width:100%!important;
						& a{
							width:100%!important;
							position:relative!important;
						}
					}
					&.active{
						background-color: $orange;
						padding-top:15px;
						height:15px;
						& a{
							color:$white;
							border-bottom:0px solid $white;
							margin-left:15px;
							padding-top:0px!important;
						}
					}
					& ul{
						width:calc(100%);
						margin-top:0px!important;
						margin-left:0px!important;
						& li{
							padding:0px;
							width:100%;
							& a{
								padding-top:0px!important;
								margin-left:0px!important;
							}
							&:active{
								padding-top:0px;
							}
							&:last-child{
								width:100%!important;
								& a{
									width:100%!important;
									position:relative!important;
								}
							}
						}
					}
					& i{
						display:none;
					}
				}
			}
		}
		&.hamburgerNavActive .body-content{
			left:0px!important;
		}
	}
}
@include max-screen(medium) {
	body{
		& #global-header{
			& .nav{
				& .row{
					& .col-sm-3, & .col-sm-6{
						
						& .navCase{
						    float:right!important;
						    position:absolute;
						    right:0px;
						}
						& .userName{
			   				display:none;
			   			}
					}
					& .col-sm-6{
						&:last-child{
							
						}
						& .dropdown{
							
						}
					}
					
				}	
			}
		}
		& .sideBarNav {
			top: -100%!important;
		    left: 0px!important;
		    position:absolute!important;
		    width:100%!important;
		    height:0!important;
		    background-color:#65879c !important;
		    & a#logOut{
		    	display:block!important;;
		    }
		    & #adminNav, #travellerNav{
		    	height:auto!important;
		    }
		    & p, & a, li{
		    	font-size:16px!important;
		    	text-align:center!important;
		    	width:100%;
		    }
		    & li{
		    	&:before{
		    		display:none;
		    		left:0px!important;
		    		color: #ddd!important;
    				text-align:center!important;
    				border-top:1px solid #a3bfd2!important;
    				background: rgba(255,255,255,0.45)!important;
    				color: #333!important;
		    	}
		    	&:last-child{
		    		position:relative!important;
		    		margin-top:0%!important;
		    		padding-top:15px;
		    		& a{
		    			&:before{
		    				display:none;
		    				left:0px !important;
		    				top:0px !important;
		    			}
		    		}
		    	}
		    	&#profile-page{
		    		padding-top:13px!important;
		    		margin-top:00px!important;
			    	&:before{
	    				top:-30px!important;
	    				border-top:0px solid #a3bfd2 !important;
	    				height:30px!important;
	    				padding:5px 0px!important;
			    	}
		    	}
		    	&#alltrips-page{
		    		padding-top:13px!important;
		    		margin-top:0px!important;
		    		&:before{
		    			display:none;
		    			top:-33px!important;
		    		}
		    	}
		    }
		    
		    & a{
		    	padding:10px 0px!important;
		    }
		    & a#adminAccordian, & a#travellerAccordian, & a#logOut{
		    	border-bottom:2px solid #1a4666!important;
		    	&:before {
				  top: 20px!important;
				}
				&:after {
				  top: 20px!important;
				}  	
		    }
		}
		&.hamburgerNavActive .sideBarNav{
			top:0px!important;
			height:auto!important;
			padding:55px 0px 0px!important;
			box-shadow: 0px 1px 0px $grey-blue;
			width:100%!important;
			& ul{
				width:100%;
				padding-left:0px;
				padding-bottom:0px;
				margin-bottom:0px;
				& li{
					border-top:1px solid $grey-blue;
					&.active{
						background-color: $orange;
						& a{
							color:$white;
							border-bottom:0px solid $white;
						}
					}
					& i{
						display:none;
					}
				}
			}
		}
		&.hamburgerNavActive .body-content{
			left:0px!important;
		}
	}
	
}
@include max-screen(small) {
	body {
		& .sideBarNav {
			ul{
				padding-left:0px;
				padding-bottom:0px;
				margin-bottom:0px;
				width:100%;
				& li{
					border-top:0px solid $grey-blue;
					&.active{
						background-color: $orange;
						& a{
							color:$white;
							border-bottom:0px solid $white;
						}
					}
				}
			}
		}
	}
	body .sideBarNav ul li a{
		line-height:24px;
	}
	& body #global-header #header{
		
	}
	& body #global-header {
		& #header{
			& .nav{
				& .row{
					& .col-sm-6{
			   			& .userName{
			   				display:none;
			   			}
			   		}
				}
			}
		}
	}
}
