@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(medium) {
	#profile-page{
		& .body-content{
			& .col-sm-12{
				width:100%;
				padding-left:0px;
				padding-right:0px;
				& .content-profile-form{
					& .container-fluid{
						padding-left:15px;
						padding-right:15px;
						& .col-md-12{
							padding-left:0px;
							padding-right:0px;
							& .row{
								& .success{
									margin-bottom:5px;
								}
								& .card{
									& .header{
										& .title{
											font-size:20px;
										}
									}
									& .content {
										& .form-group{
											& label{
												& a{
													display:none;
												}
											}
										}
										& .col-md-6:last-child{
											margin-left:0%;

										}
									}
								}
							}
						}
					}

				}
				& .btn-primary{
					height:44px;
					float:left;
					top:0px;
				}
			}
		}
	}
}
@include max-screen(small) {
	body .ui-tooltip{display:none;}
	#profile-page{
		& .body-content{
			& .col-sm-12{
				width:100%;
				padding-left:0px;
				padding-right:0px;
				& .content-profile-form{
					& .container-fluid{
						padding-left:15px;
						padding-right:15px;
						& .col-md-12{
							padding-left:0px;
							padding-right:0px;
							& .row{
								& .success{
									margin-bottom:5px;
								}
								& .card{
									& .header{
										& .title{
											font-size:20px;
											padding-bottom:5px;
										}
									}
									& .content{
										& .form-group{
											& label{
												& a{
													display:none;
												}
											}
										}
										& .col-md-6:last-child{
											margin-left:0%;
										}
									}
								}
							}
							
						}
					}
				}
				& .btn-primary{
					height:44px;
					float:left;
					top:0px;
				}
			}
		}
	}
}