@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(xl) {
    
}
@include max-screen(large) {

}
@include max-screen(mediumLarge){

}
@include max-screen(medium) {

}
@include max-screen(small) {
	.col-sm-8{
		padding-left:0px;
		padding-right:0px;
	}
	#forgot-password h5{
		text-align:center;
	}
	.image-bg{
		display:none;
	}
	.body-content{
		padding-top:0px;
	}
}
