/*Import BASE*/
body {
    background-color:#eff3f6!important;
    overflow-x: hidden;
    font-family:'Source Sans Pro', Helvetica, Arial, sans-serif!important;
}
p, ul { 
	font-family:'Source Sans Pro', Helvetica, Arial, sans-serif!important;
	font-style: normal;
	font-stretch: normal;
	line-height:inherit;
	letter-spacing:inherit;
	letter-spacing: 1.2px;
    line-height: 1.5em;
	
}
/*tooltip*/
.ui-tooltip,  .tootlip {
    background:transparent!important;
    border:0px solid $orange;
}
.ui-tooltip, .tooltip {
}
.tooltip-inner{
	padding: 10px 20px;
	position:relative;
	z-index: 999;
	color: $orange;
	min-width:200px;
	border-radius: 4px;
	background-color: $white!important;
	text-transform: uppercase;
	box-shadow: 2px 2px 0px $orange, -2px -2px 0px $orange, 2px -2px 0px $orange, -2px 2px 0px $orange;
	border: 2px solid $orange;
}
.tooltip-arrow{
	border-top-color:$orange!important;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: none;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}
.modal{
	& .modal-box{
		position:relative;
		padding:2% 5%;
		margin:10% auto;
		background:#ffffff;
		border-radius:3px;
		border:1px solid #e3e3e3;
		box-shadow: none;
		display:block;
		width:40%;
		height:auto;
		& .logo{
			width:58%;
			height:60px;
			font-size:3em;
			&::after{
				width:30px;
				height:30px;
				top:25%
			}
		}
	}
	& .modal-dialog{
		position:relative;
		padding:0% 0%;
		margin:10% auto;
		box-shadow: none;
		display:block;
		width:40%;
		height:auto;
		& .close{
			width:30px;
			height:30px;
			border-radius:50%;
			background:#ffffff;
			border:1px solid #333333;
			position:absolute;
			color:#333333;
			top:-15px;
			right:-15px;
			padding:10px 9px;
			box-sizing:border-box;
			line-height:7px;
			cursor:pointer;
			opacity:1;
			&:focus{
				outline:none;
			}
			&:hover{
				opacity:1;
			}
		}
		& .success, & .errors{
			text-align:left;
		}
		& p, span{
			text-transform:uppercase;
			font-size:16px;
			color:$grey-blue;
		}
	}
}
.close-btn{
	width:30px;
	height:30px;
	border-radius:50%;
	background:#ffffff;
	border:1px solid #1a4666;
	position:absolute;
	color:#1a4666;
	top:-20px;
	right:-10px;
	padding:11px 10px;
	box-sizing:border-box;
	line-height:7px;
	cursor:pointer;
	&:focus{
		outline:none;
	}
	&:hover{
		opacity:1;
	}
}
input[type=text], input[type=password], input[type=email], input[type=select], input[type=radio],input[type=date], input[type=tel], input[type=number], select{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
   	border: 1px solid #E3E3E3;
    color: #1a4666;
    box-sizing: border-box;
    border-radius:3px;
    letter-spacing: 1.2px;
    line-height: 1.5em;
    margin-bottom:10px!important;
    &::after{
    	content:'';
    	position:absolute;
    	top:0px;
    	right:0px;
    	display:none;
    }
    &:focus{
    	outline-color:$grey-blue;
    	&:invalid{ /* when a field is considered invalid by the browser */
		    outline-color: #b03535;
		}
 
    }
}
input[type=checkbox]{
    width: auto;
    padding: 12px 20px;
    margin: 8px 5px 0 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    &:focus{
    	outline-color:#666666;
    	&:invalid{ /* when a field is considered invalid by the browser */
		    outline-color: #b03535;
		}
 
    }
}
select{
	margin:0px;
}
button, input[type=submit], a#submit, input[type=file] {
    background-color:$orange;
    text-align:center;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display:inline-block;
    border-radius:2px;
    letter-spacing: 1.2px;
    line-height: 1.5em;
    &:hover {
		opacity: 0.8;
	}
	&:focus{
		outline:white;
	}
}
.btn-primary{
	background-color: #5DB9BE;
	border-color:#5DB9BE;
	opacity:0.75;
	&:hover{
		background-color: #5DB9BE;
		border-color:#5DB9BE;
		opacity:1;
	}
}

/*Common Styles based on Style Guide*/
h1{
	font-family:$Source-Sans-Pro-Bold;
	font-size: 40px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 1.2px;
	color: $beige;
}
h2{
	font-family:$Source-Sans-Pro-Bold;
	font-size: 36px;
	font-weight: bold;
	line-height: 1.17;
	letter-spacing: 0.8px;
	color: $black;
}
h3{
	font-family:$Source-Sans-Pro-Bold;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: 0.2px;
	color: $black;

}
h4{
	font-family:$Source-Sans-Pro-Bold;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.25;
	letter-spacing: 0.5px;
	color: $black;

}
h5{
	font-family:$Source-Sans-Pro-Bold;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.56;
	letter-spacing: 0.2px;
	color: #65879c;
}
p{
	font-family:$Source-Sans-Pro;
	font-size:14px;
	color:$slate-grey;
}
b, strong{
	font-family:$Source-Sans-Pro-Bold;
	font-weight:bold;
}
i{
	font-style:italic;
}

a {
	color:#1a4666;
	transition:all 0.25s 0s linear;
	letter-spacing: 1.2px;
    line-height: 1.5em;
    &:hover {
    	text-decoration:none;
    	color:$slate-grey;
        
    }
    &:visited {

    }
    &:focus {
		color:$blue;
		outline:none;
		text-decoration:none;
    }
}
.disabled{
	pointer-events: none;
}
a.disabled{
	&:hover{
		text-decoration:none !important;
	}
	&:visited {
		text-decoration:none;
    }
    
}
a.tertiary{
	color:$black;
	text-decoration:underline;
	&:hover{
		text-decoration:none !important;
	}
	&:visited {

    }
}
a.tertiary.disabled{
	color:$black;
	text-decoration:none !important;
	&:hover{
		text-decoration:none !important;
	}
	&:visited {

    }
}
a.btn, li a.btn{
	border:1px solid $black;
	border-radius:0px;
	color:$black;
	display:block;
	text-align:center;
	height:50px;
	width:200px;
	padding:20px 0px;
	font-family:$Source-Sans-Pro;
	font-size:14px;
	letter-spacing:1px;
	text-transform:uppercase;
	margin:10px 0px;
	&:hover{
		border:1px solid $skyblue;
		color:$skyblue;
		text-decoration:none!important;
	}
	&:visited{

	}


}
a.cta{
	border:1px solid $skyblue;
	background-color:transparent;
	color:$white;
	display:block;
	text-align:center;
	width:200px;
	height:50px;
	padding:20px 0px;
	margin:10px 0px;
	font-family:$Source-Sans-Pro;
	font-size:14px;
	letter-spacing:0.8px;
	text-transform:uppercase;
	transition:all 0.25s 0s linear;
	&:hover{
		border:1px solid $skyblue;
		background-color:$white;
		color:$skyblue;
		text-decoration:none!important;
	}
	&:focus{
		text-decoration:none;
	}
}