/* -----------------------------------------------------------------------------
Import BASE
----------------------------------------------------------------------------- */
@import "variables";
@import "mixins";


body {
    background-color:#eff3f6;
    overflow-x: hidden;
    font-family:'Source-Sans-Pro', Helvetica, Arial, sans-serif;
}
p, ul { 
	font-family:'Source-Sans-Pro', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-stretch: normal;
	line-height:inherit;
	letter-spacing:inherit;
	letter-spacing: 1.2px;
    line-height: 1.5em;
	
}
/*Body content slider*/
.body-content{
	position:relative;
	left:0px;
	transition: 0.5s;
	padding-top:130px;
	& .row{
		max-width:1280px;
		margin:0px auto;
	}
}
.logo{
	margin-top: 0px;
    width: auto;
    height: 60px;
    float: left;
    margin-left: 0rem;
    cursor: pointer;
    color: #119672;
    position: relative;
    z-index: 5;
    background: url(../images/global/tempotrip-logo-new.svg) no-repeat;
    background-size: contain;
    padding-left: 65px;
    font-family:$Raleway;
}
.logo:before {
    content: 'Tempo';
    color: #65879c;
    font-size: 20px;
    float: left;
    letter-spacing: 4px;
    margin-top: 10%;
}
.logo:after {
    content: 'TRIP';
    color: #FEA34B;
    font-size: 16px;
    float: left;
    letter-spacing: 4px;
    margin-top: 11%;
    font-weight: bold;
}
.continental-logo{
	margin-top: 13px;
    width: 150px;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: #119672;
    position: relative;
    z-index: 5;
    background: url(../images/logos/continental-logo.png) no-repeat;
    background-size: contain;
    padding-left: 65px;
}
.newWindowIcon{
	background: url('../images/global/new-window.svg') center center no-repeat;
    background-size: contain;
    width:35px;
    height:35px;
    float:right;
    padding:10px;
    border-radius:5px;
    background-color: #FEA34B;
    border:1px solid #ffffff;
    position:absolute;
    top:-40px;
    right:0px;
    z-index: 101;
    &:before{
    	content:'open in a new window';
    	color:#7f8fa4;
    	font-size:10px;
    	position:absolute;
    	top:20%;
    	right:40px;
    	width:130px;
    }
}
.tab-content{
	position:relative;
}
.nav-tabs{
	border-bottom:1px solid transparent;
}
.wait-spinner{
	position: absolute;
	left:0%;
	z-index: 100;
	margin:0% auto;
	width:100%;
	height:100%;
	display:none;
	opacity:0;
	border-radius:0px 3px 3px 3px;
	background-color:rgba(255,255,255,1);
	transition:opacity .45s 0s linear;
	-webkit-transition:opacity .45s 0s linear;
	-moz-transition:opacity .45s 0s linear;
	&.active{
		display:block;
		opacity:1;
	}
  & .spinner{
    background: url('../images/global/logo-spinner.svg') center center no-repeat;
    background-size: contain;
    width:60px;
    height:60px;
    margin:45% auto 10px;
    position:relative;
    #spin-inside.half-circle{
      width:60px;
      width:60px;
    }
    & .half-circle{
      width:70px;
      height:70px;
    }
  }
  & p{
    text-align:center;
    & span{
      clear:both;
      display:block;
    }
  }
}
/*tooltip*/
.ui-tooltip, .arrow:after {
    background:$white;
    border: 2px solid $orange;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: $orange;
    border-radius: 0px;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px $orange, -2px -2px 0px $orange, 2px -2px 0px $orange, -2px 2px 0px $orange;
    border: 2px solid $orange;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: none;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
& .modal{
		& .modal-box{
			position:relative;
			padding:2% 5%;
			margin:10% auto;
			background:#ffffff;
			border-radius:3px;
			border:1px solid #e3e3e3;
			box-shadow: none;
			display:block;
			width:40%;
			height:auto;
			& .logo{
				width:58%;
				height:60px;
				font-size:3em;
				&::after{
					width:30px;
					height:30px;
					top:25%
				}
			}
		}
		& .modal-dialog{
			position:relative;
			padding:0% 0%;
			margin:10% auto;
			box-shadow: none;
			display:block;
			width:40%;
			height:auto;
			& .close{
				width:30px;
				height:30px;
				border-radius:50%;
				background:#ffffff;
				border:1px solid #333333;
				position:absolute;
				color:#333333;
				top:-20px;
				right:-10px;
				padding:10px 9px;
				box-sizing:border-box;
				line-height:7px;
				cursor:pointer;
				opacity:1;
				&:focus{
					outline:none;
				}
				&:hover{
					opacity:1;
				}
			}
			& .success, & .errors{
				text-align:left;
			}
		}
	}
.close-btn{
	width:30px;
	height:30px;
	border-radius:50%;
	background:#ffffff;
	border:1px solid #1a4666;
	position:absolute;
	color:#1a4666;
	top:-20px;
	right:-10px;
	padding:11px 10px;
	box-sizing:border-box;
	line-height:7px;
	cursor:pointer;
	&:focus{
		outline:none;
	}
	&:hover{
		opacity:1;
	}
}
& input[type=text], & input[type=password], & input[type=email], input[type=select], input[type=radio],input[type=date],& input[type=tel], select{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
   	border: 1px solid #E3E3E3;
    color: #1a4666;
    box-sizing: border-box;
    border-radius:3px;
    letter-spacing: 1.2px;
    line-height: 1.5em;
    margin-bottom:10px!important;
    &::after{
    	content:'';
    	position:absolute;
    	top:0px;
    	right:0px;
    	display:none;
    }
    &:focus{
    	outline-color:#666666;
    	&:invalid{ /* when a field is considered invalid by the browser */
		    outline-color: #b03535;
		}
 
    }
}
& input[type=checkbox]{
    width: auto;
    padding: 12px 20px;
    margin: 8px 5px 0 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    &:focus{
    	outline-color:#666666;
    	&:invalid{ /* when a field is considered invalid by the browser */
		    outline-color: #b03535;
		}
 
    }
}
& select{
	margin:0px;
}
& button, & input[type=submit], & a#submit, & input[type=file] {
    background-color:$teal;
    text-align:center;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display:inline-block;
    border-radius:2px;
    letter-spacing: 1.2px;
    line-height: 1.5em;
    &:hover {
		opacity: 0.8;
	}
	&:focus{
		outline:white;
	}
}
.btn-primary{
	background-color: #5DB9BE;
	border-color:#5DB9BE;
	opacity:0.75;
	&:hover{
		background-color: #5DB9BE;
		border-color:#5DB9BE;
		opacity:1;
	}
}
/*Common Styles based on Style Guide*/
h1{
	font-family:$Source-Sans-Pro-Bold;
	font-size: 40px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 1.2px;
	color: $beige;
}
h2{
	font-family:$Source-Sans-Pro-Bold;
	font-size: 36px;
	font-weight: bold;
	line-height: 1.17;
	letter-spacing: 0.8px;
	color: $black;
}
h3{
	font-family:$Source-Sans-Pro-Bold;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: 0.2px;
	color: $black;

}
h4{
	font-family:$Source-Sans-Pro-Bold;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.25;
	letter-spacing: 0.5px;
	color: $black;

}
h5{
	font-family:$Source-Sans-Pro-Bold;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.56;
	letter-spacing: 0.2px;
	color: #65879c;
}
p{
	font-family:$Source-Sans-Pro;
	font-size:14px;
	color:$slate-grey;
}
b, strong{
	font-family:$Source-Sans-Pro-Bold;
	font-weight:bold;
}
i{
	font-style:italic;
}

a {
	color:#1a4666;
	transition:all 0.25s 0s linear;
	letter-spacing: 1.2px;
    line-height: 1.5em;
    &:hover {
    	text-decoration:none;
    	color:$slate-grey;
        
    }
    &:visited {

    }
    &:focus {
		color:$blue;
		outline:none;
		text-decoration:none;
    }
}
a.disabled{
	&:hover{
		text-decoration:none !important;
	}
	&:visited {
		text-decoration:none;
    }
    
}
a.tertiary{
	color:$black;
	text-decoration:underline;
	&:hover{
		text-decoration:none !important;
	}
	&:visited {

    }
}
a.tertiary.disabled{
	color:$black;
	text-decoration:none !important;
	&:hover{
		text-decoration:none !important;
	}
	&:visited {

    }
}
a.btn, li a.btn{
	border:1px solid $black;
	border-radius:0px;
	color:$black;
	display:block;
	text-align:center;
	height:50px;
	width:200px;
	padding:20px 0px;
	font-family:$Source-Sans-Pro;
	font-size:14px;
	letter-spacing:1px;
	text-transform:uppercase;
	margin:10px 0px;
	&:hover{
		border:1px solid $skyblue;
		color:$skyblue;
		text-decoration:none!important;
	}
	&:visited{

	}


}
a.cta{
	border:1px solid $skyblue;
	background-color:transparent;
	color:$white;
	display:block;
	text-align:center;
	width:200px;
	height:50px;
	padding:20px 0px;
	margin:10px 0px;
	font-family:$Source-Sans-Pro;
	font-size:14px;
	letter-spacing:0.8px;
	text-transform:uppercase;
	transition:all 0.25s 0s linear;
	&:hover{
		border:1px solid $skyblue;
		background-color:$white;
		color:$skyblue;
		text-decoration:none!important;
	}
	&:focus{
		text-decoration:none;
	}
}
/*IE10 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	a.cta{
		padding-top:15px;
	}
	a.btn{
		padding-top:15px;
	}



}
