/* -----------------------------------------------------------------------------
Import FONTS
----------------------------------------------------------------------------- */

/* Then use elsewhere */
/*Raleway*/
@font-face {
    font-family:'Raleway-Thin';
    src: url('../fonts/raleway/Raleway Thin.eot');
	src: url('../fonts/raleway/Raleway Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway Thin.woff2') format('woff2'),
		url('../fonts/raleway/Raleway Thin.woff') format('woff'),
		url('../fonts/raleway/Raleway Thin.svg#Raleway Thin') format('svg');
    font-weight: 250;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Raleway-ExtraLight';
    src: url('../fonts/raleway/Raleway ExtraLight.eot');
	src: url('../fonts/raleway/Raleway ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway ExtraLight.woff2') format('woff2'),
		url('../fonts/raleway/Raleway ExtraLight.woff') format('woff'),
		url('../fonts/raleway/Raleway ExtraLight.svg#Raleway ExtraLight') format('svg');
    font-weight: 275;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Raleway-Light';
    src: url('../fonts/raleway/Raleway Light.eot');
	src: url('../fonts/raleway/Raleway Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway Light.woff2') format('woff2'),
		url('../fonts/raleway/Raleway Light.woff') format('woff'),
		url('../fonts/raleway/Raleway Light.svg#Raleway Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Raleway';
    src: url('../fonts/raleway/Raleway.eot');
	src: url('../fonts/raleway/Raleway.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway.woff2') format('woff2'),
		url('../fonts/raleway/Raleway.woff') format('woff'),
		url('../fonts/raleway/Raleway.svg#Raleway') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Raleway-Italic';
    src: url('../fonts/raleway/Raleway Italic.eot');
	src: url('../fonts/raleway/Raleway Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway Italic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway Italic.woff') format('woff'),
		url('../fonts/raleway/Raleway Italic.svg#Raleway Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Raleway-Medium';
    src: url('../fonts/raleway/Raleway Medium.eot');
	src: url('../fonts/raleway/Raleway Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway Medium.woff2') format('woff2'),
		url('../fonts/raleway/Raleway Medium.woff') format('woff'),
		url('../fonts/raleway/Raleway Medium.svg#Raleway Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Raleway-Bold';
    src: url('../fonts/raleway/Raleway Bold.eot');
	src: url('../fonts/raleway/Raleway Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway Bold.woff2') format('woff2'),
		url('../fonts/raleway/Raleway Bold.woff') format('woff'),
		url('../fonts/raleway/Raleway Bold.svg#Raleway Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/*Source Sans Pro*/
@font-face {
    font-family:'Source-Sans-Pro-Bold';
    src: url('../fonts/source-sans-pro/Source Sans Pro Bold.eot');
	src: url('../fonts/source-sans-pro/Source Sans Pro Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/source-sans-pro/Source Sans Pro Bold.woff2') format('woff2'),
		url('../fonts/source-sans-pro/Source Sans Pro Bold.woff') format('woff'),
		url('../fonts/source-sans-pro/Source Sans Pro Bold.svg#Source Sans Pro Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}
@font-face {
    font-family:'Source-Sans-Pro-Italic';
    src: url('../fonts/source-sans-pro/Source Sans Pro Italic.eot');
	src: url('../fonts/source-sans-pro/Source Sans Pro Italic.woff2') format('woff2'),
		url('../fonts/source-sans-pro/Source Sans Pro Italic.woff') format('woff'),
		url('../fonts/source-sans-pro/Source Sans Pro Italic.svg#Source Sans Pro Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}
@font-face {
    font-family:'Source-Sans-Pro';
    src: url('../fonts/source-sans-pro/Source Sans Pro Regular.eot');
	src: url('../fonts/source-sans-pro/Source Sans Pro Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/source-sans-pro/Source Sans Pro Regular.woff2') format('woff2'),
		url('../fonts/source-sans-pro/Source Sans Pro Regular.woff') format('woff'),
		url('../fonts/source-sans-pro/Source Sans Pro Regular.svg#Source Sans Pro Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}
/*Font Awesome*/
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/font-awesome/font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


