<table id="addTravelers" class="table table-striped table-bordered" cellspacing="0" width="100%" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Email Address</th>
            <th>Phone</th>
            <th>City</th>
            <th>State</th> 
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<!-- Modal -->
<div id="confirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to remove these travelers</p>
        <button type="button" class="no" data-dismiss="modal">No</button>
        <button type="button" class="yes">Yes</button>
      </div>
    </div>

  </div>
</div>