<table id="addTravelers" class="table table-striped table-bordered" cellspacing="0" width="100%" style="width:100%">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<!-- Modal -->
<div id="confirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <p>Are you sure you want to remove these travelers</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form method="POST" role="form">
          <input type='hidden' id="userID2" name='user_id' value="">
          <input type='hidden' name='status' value="5">
          <input type='hidden' name='a' value="delete_user">
          <input type='hidden' name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
          <button type="button" class="no" data-dismiss="modal">No</button>
          <button type="submit" class="yes">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="groupModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <p>Create a new Traveler Group</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form method="POST" role="form">
          <input type='hidden' name='status' value="5">
          <input type='hidden' name='a' value="create_group">
          <input type="text" class="form-control">
          <span class="focus-border"><i></i></span>
          <button type="submit" class="yes">Create Group</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1200px;">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-body">
                <div class="container-fluid">      
                    <div class="row">
                        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <!-- Tip 1-->
                                <div class="item active" style="min-height: 500px;">
                                    <div class="row mb-3">
                                        <div class="col-6 text-center"></div>
                                        <div class="col-6 text-center">
                                            <a class="btn btn-lg btn-secondary" href="#demo" data-slide="next">
                                            Show Me &nbsp;<span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <section class="">
                                    <div class="card" style="">
                                        <div class="card-header">
                                            <div class="row p-5 align-items-center">
                                                <div class="col-4 col-sm-6 col-md-1 align-self-center d-none d-sm-block"><img src="https://res.cloudinary.com/options-travel/image/upload/v1528905638/manage-travelers-icon.svg" class="img-fluid rounded-circle" style="max-height: 125px" alt="">
                                                </div>
                                                <div class="col-4 col-sm-6 col-md-3 align-self-center border-right">
                                                    <h4 class="font-weight-light">Traveler Profiles<br><small><span class="font-weight-light">Address Book</span></small></h4>
                                                </div>
                                                <div class="col-4 col-sm-12 col-md-8">
                                                    <p>As an administrator or support person with access to Traveler Profiles, you can perform the basic functions of administering and managing your accounts users. Your <b>address book</b> is where the administrator or support person, can manually add and invite a users to the account.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </section>
                                </div>
                                <!-- TIP 2-->
                                <div class="item" style="min-height: 500px;">
                                    <div class="row mb-3">
                                        <div class="col-sm-6 text-center">
                                            <a class="btn btn-lg btn-secondary" href="#demo" data-slide="prev">
                                                <span class="carousel-control-prev-icon align-middle"></span><span class="align-middle">&nbsp;Previous</span>
                                            </a>
                                        </div>
                                        <div class="col-sm-6 text-center">
                                            <a class="btn btn-lg btn-secondary" href="#demo" data-slide="next">
                                                <span class="align-middle">Next Tip &nbsp;</span><span class="carousel-control-next-icon align-middle"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <section class="">
                                        <div class="card" style="">
                                            <div class="card-header p-4">
                                            <div class="row align-items-center">
                                                <div class="col-sm-4 col-md-1"><img src="https://res.cloudinary.com/options-travel/image/upload/v1528905638/manage-travelers-icon.svg" class="img-fluid rounded-circle" alt="">
                                                </div>
                                                <div class="col-sm-4 col-md-3 align-self-center border-right">
                                                    <h4 class="font-weight-light">Traveler Profiles<br><small><span class="font-weight-light">Address Book</span></small></h4>
                                                </div>
                                                <div class="col-sm-4 col-md-8 align-self-center">
                                                    <h3>Activating a User to Your Account.</h3>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="card-body">
                                                <p class="lead">Activating a user to your account</p>
                                                <p>As a site administrator or support person with access to the Traveler Profiles page, you can add a user to create a traveler profile. You add the initial profile information, and the user enters the rest of the profile information after receiving the activation email. Once the user has activated their account they will then be a part of your address book and can then be invited/added to any event site that you have created. </p>
                                                <dl class="row">
                                                    <dt class="col-sm-3 text-truncate">THINGS TO REMEMBER:</dt>
                                                    <dd class="col-sm-9">
                                                        <p>* Once added to your account you will still need to assign/invite them to any event site you have created that you have set to private "login only"</p>
                                                        <p>* When you activate a user, the process sends out an activation email with a log-in link to the user as an initial invitation
                                                        </p>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <!-- TIP 3-->
                                <div class="item" style="min-height: 500px;">
                                    <div class="row mb-3">
                                        <div class="col-sm-6 text-center">
                                            <a class="btn btn-lg btn-secondary" href="#demo" data-slide="prev">
                                            <span class="carousel-control-prev-icon align-middle"></span><span class="align-middle">&nbsp;Previous Tip
                                                </span></a>
                                        </div>
                                        <div class="col-sm-6 text-center align-middle">
                                            <a class="btn btn-lg btn-secondary" href="#demo" data-slide="next">
                                            Next Tip &nbsp;<span class="carousel-control-next-icon align-middle"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <section class="">
                                        <div class="card" style="">
                                        <div class="card-header p-4">
                                            <div class="row align-items-center">
                                                <div class="col-4 col-md-1"><img src="https://res.cloudinary.com/options-travel/image/upload/v1528905638/manage-travelers-icon.svg" class="img-fluid rounded-circle" alt="">
                                                </div>
                                                <div class="col-sm-4 col-md-3 align-self-center border-right">
                                                    <h4 class="font-weight-light">Traveler Profiles<br><small><span class="font-weight-light">Address Book</span></small></h4>
                                                </div>
                                                <div class="col-sm-4 col-md-8 align-self-center">
                                                    <h3>Editing a Travelers Profile | Changing User Role</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <dl class="row">
                                                <dt class="col-sm-3"><p class="lead">Traveler Profile</p></dt>
                                                <dd class="col-sm-9">The Traveler profile contains personal identification needed to book services. It also allows you to store preferences for services and communications. Using information in your profile reduces the time it takes you to arrange for services, because you don't have to enter them each time you purchase a flight. It also expedites when dealing with any post ticketing support requests.</dd>
                                            </dl>
                                            <p class="lead">Editing a User / Changing a Role</p>
                                            <p>As an Admin you can edit/modify an individual traveler’s profile information and their role from the Traveler Profiles Address Book. Simply select a user from your address book and view/modify/update any editable information avaiable under their travler profile tab on the right hand side bar. <b>NOTE:</b>&nbsp;Roles/Permissions can only be changed after they have been added as a traveler and done by the account admin.</p>
                                        </div>
                                        </div>  
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>