<div class="row" id="password-change">
	<div class="col-sm-12">
		<div class="logo"></div>
		<h4>Change Your Password</h4>
        <p>You have 24 hours to change your temporary password</p>
        <div><?php echo $app->output->errorstr ?></div>
		<form action="/" id="password-form" onsubmit="return checkPasswords()" method="POST">
                    <input type="hidden" name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                    <input type="hidden" name='change_password' value="true">
                    <input type="hidden" name='status' value="2">
                    <input type="hidden" name='reset_token' value="<?php echo $app->constants->request['reset_token'] ?>">
		  	<div class="container-fluid">
		  		<div class="row">
		  			<div class="col-sm-12">
		  				<div class="form-group">
		    				<input type="password" name="password" class="password" id="pass1" value="<?php echo $app->constants->request['password'] ?>">
		    				<label>New Password</label>
		    				<div class="userImage"></div>
                        	<span class="focus-border"><i></i></span>
                        </div>
                        <div class="form-group">
				    		<input type="password" name="password-confirm" class="password" id="pass2" value="<?php echo $app->constants->request['password-confirm'] ?>">
				    		<label>Confirm New Password</label>
				    		<div class="passwordImage"></div>
				    		<span class="focus-border"><i></i></span>
				    	</div>
		  			</div>
		  		</div>
		    	<div class="row">
                            <button type="submit" id="save-btn" class="enabled">Save</button>
		    	</div>
		  	</div>
		</form>
		<p>Over 24 hours since registration? <a href="#">Request a new temporary password</a>.</p>
	</div>
	
	

</div>
<div class="row">
	<div class="col-sm-12 image-bg">
		<div class="color-overlay"></div>
	</div>	
</div>

