<div class="row" id="password-change">
	<div class="col-sm-12">
		<div class="logo"></div>
		<h4>Change Your Password</h4>
        <p>You have 24 hours to change your temporary password</p>
		<form action="" id="password-form" onsubmit="return checkPasswords()" method="POST">
            <input type="hidden" name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
		  	<div class="container-fluid">
		  		<div class="row">
		  			<div class="col-sm-12">
		  				<div class="form-group">
		    				<input value="" type="password" name="password" class="password" id="pass1" >
		    				<label>New Password</label>
		    				<div class="userImage"></div>
                        	<span class="focus-border"><i></i></span>
                        </div>
                        <div class="form-group">
				    		<input value="" type="password" name="password-confirm" class="password" id="pass2">
				    		<label>Confirm New Password</label>
				    		<div class="passwordImage"></div>
				    		<span class="focus-border"><i></i></span>
				    	</div>
		  			</div>
		  		</div>
		        
		    	<!--<button type="submit" id="login" data-toggle="modal" data-target="#password-modal">Login</button>-->
		    	<div class="row">
		    		<input type="submit" id="save-btn" class="disabled" value="Save">
		    	</div>
		  	</div>
		</form>
		<p>Having issues registering? <a href="mailto:technical@tempotrip.com">Request help with registering</a>.</p>
	</div>
	
	

</div>
<div class="row">
	<div class="col-sm-12 image-bg">
		<div class="color-overlay"></div>
	</div>	
</div>

