<div class="row" id="flip-form">
	<div class="col-sm-8" id="landing-login">
		<div class="logo"></div>
		<h4>Change You Passord</h4>
        <p>You have 24 to change your temporary password</p>
        <a href="#">Request new temp password</a>
		<form action="" id="password-form" method="POST">
            <input type="hidden" name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
		  	<div class="container-fluid">
		  		<div class="row">
		  			<div class="col-sm-12">
		  				<div class="form-group">
		    				<input value="New Password" type="password" placeholder="Enter New Password" name="password" class="password" >
		    				<label>New Password</label>
		    				<div class="userImage"></div>
                        	<span class="focus-border"><i></i></span>
                        </div>
                        <div class="form-group">
				    		<input value="confirm password" type="password" placeholder="Confirm New Password" name="password-confirm" class="password" >
				    		<label>Confirm New Password</label>
				    		<div class="passwordImage"></div>
				    		<span class="focus-border"><i></i></span>
				    	</div>
		  			</div>
		  		</div>
		        
		    	<!--<button type="submit" id="login" data-toggle="modal" data-target="#password-modal">Login</button>-->
		    	<div class="row">
		    		<button>Save</button>
		    	</div>
		  	</div>
		</form>
		
	</div>
	
	

</div>
<div class="row">
	<div class="col-sm-12 image-bg">
		<div class="color-overlay"></div>
	</div>	
</div>

