    <div class="row" id="content-dashboard">
        <div class="col-sm-12" id="topBar">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Welcome to Tempotrip Profile Dashboard</h1>
                </div>
                <div class="col-sm-12adminBox">
                    <p>Tempotrip Profile is an efficient way to manage travelers within your <span>Address Book</span>. You can make changes to their profile accounts, change their roles, create and manage categories so you can tag your travelers and make it easy to sort and find find them when you need to set up travel arrangements for them.</p>
                    <p>Tempotrip Profiles also has an <span>All Trips</span> page so you can manage all the trips booked by your travelers, and approve, deny and see the details of each flight and manage itineraries.</p>
                    <p>You also have access to your personal travel <span>Profile Settings</span> and <span>Booking Sites</span> to setup your travel preferences, ie: travel discount, knowntraveler &amp; redress numbers and book flights with your booking tool with all the preferences passed through to the booking tool.</p>
                </div>
                <div class="col-sm-12 travelerBox">
                    <p>Tempotrip Profile is an efficient way to manage your personal travel <span>Profile Settings</span> and <span>Booking Sites</span> to setup your travel preferences, ie: travel discount, knowntraveler &amp; redress numbers and book flights with your booking tool with all the preferences passed through to the booking tool.</p>
                    <p>Tempotrip Profiles also has a<span>My Trips</span> page so you can manage all your upcoming trips and previous trips and costs to manage travel exspenses</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" id="secondRow">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12 col-md-4" id="profileList">
                        <h3></h3>
                        <ul>
                            <li id="completedProfile">Completed Profile</li>
                            <li id="emergencyContact">Emergency Contact</li>
                            <li id="travelPreferences">Travel Preferences</li>
                        </ul>
                        <a href="?p=profile" class="btn">Go To Profile</a>
                    </div>
                    <div class="col-sm-12 col-md-4" id="searchList">
                        <h3></h3>
                        <ul id="bookingSites">
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4" id="tripLink">
                        <h3></h3>
                        <ul id="dynamicQuickNav"></ul>
                    </div>
                </div>
            </div> 
        </div>
    </div>