    <div class="row" id="content-dashboard">
        <div class="col-sm-12" id="topBar">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h1>Welcome to Tempotrip Dashboard</h1>
                    <p>You can see the status of the completion of your profile, see the events you have set up and utilize links to navigate to tools.</p>
                </div>
                <!--<div class="col-sm-12 col-md-4">
                    <h3>Need Assistance?</h3>
                    <ul>
                        <li>Click the chat icon <img src="images/global/intercom_icon.jpg" style="width:25px;height:25px;margin-top:-10px;"/> in the lower right corner</li>
                        <li>Visit TempoTrip’s <a href="?p=helpcenter-admin">Help Center</a></li>
                        <li>Email us at <a href="mailto:support@tempotrip.com">support@tempotrip.com</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="col-sm-12" id="secondRow">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12 col-md-4" id="profileList">
                        <h3></h3>
                        <ul>
                            <li id="completedProfile">Completed Profile</li>
                            <li id="emergencyContact">Emergency Contact</li>
                            <li id="travelPreferences">Travel Preferences</li>
                        </ul>
                        <a href="?p=profile" class="btn">Go To Profile</a>

                    </div>
                    <div class="col-sm-12 col-md-4" id="searchList">
                        <h3></h3>
                        <ul id="bookingSites">
                            
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4" id="tripLink">
                        <h3></h3>
                        <!--<a href="?p=address-book" id="bt1" class="btn">Travelers</a>
                        <a href="?p=alltrips" id="bt2" class="btn">TRIPS</a>
                        <a href="?p=events" id="bt3" class="btn">Book Flights</a>
                        <a href="https://apps.grasptechnologies.com/WebReporting/Public/login.aspx?small=1" id="bt4" class="btn" target="_blank">Reports</a>
                        <a href="?p=helpcenter-admin" id="bt5" class="btn">FAQ</a>-->
                        <ul id="dynamicQuickNav"></ul>
                    </div>
                </div>
            </div> 
        </div>
    </div>