<div class="content-events">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="tabs">
            
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="wait-spinner">
            	<div class="spinner">
            		<i class="half-circle fa-spin" id="spin-outside"></i>
            	</div>
            	<p>Loading Event <span>Please wait</span></p>
            </div>
            
        </div>
    </div>
</div>
