<div class="col-sm-12" id="breadcrumbs">
	<ul class="breadcrumb">
		
	</ul>
</div>
<table id="eventDetails" class="table table-striped table-bordered" cellspacing="0" width="100%" style="width:100%">
    <thead>
        <tr>
        </tr>
    </thead>
</table>
<div id="eventDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    	<div class='row'>
    		<div class="col-sm-12">
    			<div class="card">
					<div class="col-sm-12">
						<p class="title">Event Details</p>
						<h5 class="display_name"></h5>
						<p class="hostedhostname"></p>
						<p class="bar_record_name"></p>
						<p class="servicefee"></p>
						<p class="event_type_id"></p>
						<p class="login_type_id"></p>
						<p class="company_cc"></p>
						<p class="title">Event Contact</p>
						<p class="contact_fname"></p>
						<p class="contact_lname"></p>
						<p class="contact_email"></p>
						<p class="contact_phone"></p>
						<p class="affiliate_id"></p>
						<p class="id"></p>
					</div>
				</div>
    		</div>
    	</div>
    </div>

  </div>
</div>