<div class="row">
	<div class="col-sm-8">
		<div class="row" id="forgot-password">
			<div class="col-sm-6">
				<div class="logo"></div>
			</div>
			<div class="col-sm-6">
				<h5>Forgot Password</h5>
			</div>
		    <div class="col-sm-12">
				<p class="errors"><?php echo $app->output->errorstr ?></p>
				<p class="success"><?php echo $app->output->successstr ?></p>
		    </div>
			<div class="col-sm-12">
				<form method="post"  id="passord-form">
			        <input type="hidden" name="p" class="username" value='forgot-password'>
				    <input type="text" name="email" value="<?php echo $app->constants->request['email'] ?>" class="username" placeholder="Username | Email address">
			        <input type="hidden" name="request_reset" class="username" value='true'>
				    <input name="submit" type="submit" id="submit" value="Submit">
				    <!--<input name="submit" type="submit" id="submit" value="Submit">-->
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 image-bg">
		<div class="color-overlay"></div>
	</div>	
</div>

