<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 image-bg">
            <div class="color-overlay"></div>
            <!--<div id="videoBG">
            	<video id="bgvid" src="/images/global/clouds.mp4" class="splash-video" preload="auto" loop="" autoplay="" muted=""></video>
            </div>-->
        </div>
    </div>
</div>
<footer>
	<div class="row">
		<div class="col-sm-6">
			<!--<a href="?p=helpcenter-traveler" target="_blank">Help Center</a>-->
			<!--<a href="#" data-toggle="tooltip" data-placement="top" title="Phone Number must be 10 numerical digits and contain no other characters like (-+#.%$&*)"><i class="fa fa-info-circle"></i></a>
			<div class="col-sm-12 col-md-4">
                    <h3>Need Assistance?</h3>
                    <ul>
                        <li>Click the chat icon <img src="images/global/intercom_icon.jpg" style="width:25px;height:25px;margin-top:-10px;"/> in the lower right corner</li>
                        <li>Visit TempoTrip’s <a href="?p=helpcenter-admin">Help Center</a></li>
                        <li>Email us at <a href="mailto:support@tempotrip.com">support@tempotrip.com</a></li>
                    </ul>
                </div>-->
		</div>
		<div class="col-sm-6">
			<div class="logo"><span>Powered by</span></div>
		</div>
	</div>
</footer>
