<div class="row" id="flip-form">
	<div class="col-sm-8" id="landing-login">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="logo"></div>
			</div>
			<div class="col-sm-12 col-md-6">
				<h4>Log in</h4>
			</div>
		</div>
        <div class="row errors">
			<p class="errors"><?php echo $app->output->errorstr ?></p>                               
        </div> 
		<form action="" id="login-form" method="POST">
                    <input type="hidden" name='p' value="<?php echo $app->constants->user['DEFAULT_USER_HOME_PAGE'] ?>">
		  	<div class="container-fluid">
		  		<div class="row">
		  			<div class="col-sm-12">
		  				<div class="form-group">
		    				<input value="<?php echo $app->constants->request['username'] ?>" type="text" placeholder="Enter Username" name="username" class="username" >
		    				<div class="userImage"></div>
		    				<label>Username</label>
                        	<span class="focus-border"><i></i></span>
                        </div>
                        <div class="form-group">
				    		<input value="<?php echo $app->constants->request['password'] ?>" type="password" placeholder="Enter Password" name="password" class="password" >
				    		<div class="passwordImage"></div>
				    		<label>Password</label>
				    		<span class="focus-border"><i></i></span>
				    	</div>
		  			</div>
		  		</div>
		        
		    	<!--<button type="submit" id="login" data-toggle="modal" data-target="#password-modal">Login</button>-->
		    	<div class="row">
		    		<button>Log in</button>
		    	</div>
		    	<div class="row">
		  			<div class="col-sm-12">
				    	<span class="psw"><a href="/?p=forgot-password">Forgot password?</a></span>
				    </div>
				</div>
		    	
		  	</div>
		</form>
		<div class="col-sm-8" id="register-slider">
			<!--Register form modal-->
			<form action="" id="register-form">
                    <input type="hidden" name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                    <input type="hidden" name='new_registration' value="true">
                    <input type="hidden" name='change_password_page' value="change-password">
				  	<div class="container-fluid">
				  		<div class="row">
				  			<div class="col-sm-12"><div class="text-stay"><h4>Register Now</h4></div></div>
				  			<div class="col-sm-6">
				  				<div class="form-group">
							    	<input type="text" required placeholder="Enter your first name" name="fname" class="firstname" >
							    	<label>First name</label>
							    	<span class="focus-border"><i></i></span>
						    	</div>
				  			</div>
				  			<div class="col-sm-6">
				  				<div class="form-group">
							    	<input type="text" required placeholder="Enter your last name" name="lname" class="lastname" >
							    	<label>Last name</label>
							    	<span class="focus-border"><i></i></span>
							    </div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="form-group">
							    	<input type="text" required placeholder="Enter your email" name="email" class="email" >
							    	<label>Email address</label>
							    	<span class="focus-border"><i></i></span>
							    </div>
				  			</div>
				  			<div class="col-sm-12">
						    	<button name="submit" type="submit" id="submit">Submit</button>
				  			</div>
				 
                            <div class="col-sm-12">
				  				<div class="errors"><p><?php echo $app->output->errorstr ?></p></div>
			    				<div class="success"><p><?php echo $app->output->sucessstr ?></p></div>
				  			</div>    
                                                        
				    	</div>
				  	</div>
			</form>		
		</div>
	</div>
	<div class="col-sm-4">
		<div id="landing-register" >
			<div class="register-title">
				<div class="col-sm-12">
					<div class="logo"></div>
				</div>
				<div class="col-sm-12"><h4 id="register-side-title"><!--Not Registered?--></h4></div>
				<p id="register-side-text"><!--Sign up is quick and easy and then you can start all your advanced travel arrangments.--></p>
			</div>
			<div class="button-switch">
				<button id="login-register" class="hide">REGISTER</button>
			</div>
		</div>
		<div id="login-slider">
			<div class="register-title">
				<div class="logo"></div>
				<h4>Already Registered?</h4>
				<p>Just login to see you travel arrangements.</p>
			</div>
			<div class="button-switch">
				<button id="login-return">Login</button>
			</div>
		</div>
	</div>
	

</div>
<div class="row">
	<div class="col-sm-12 image-bg">
		<div class="color-overlay"></div>
	</div>	
</div>
<div class="row">
	<!--change password modal-->
	<div class="modal" id="password-modal">
		<div div class="modal-box">
			<button type="button" class="close-btn" data-dismiss="modal">X</button>
			<h5>Change Password</h5>
			<form method="post"  id="passord-form">
			    <input type="password" name="password1" class="password" placeholder="New Password" >
			    <input type="password" name="password2" class="password" placeholder="Confirm password" >
			    <a href="#" name="submit" id="submit" onclick=\"updatePassword(document.getElementById(\"passord-form\").elements[\"password1\"],"<?php $app->constants->request['reset_token']?>")\">Submit</a>
			</form>
		</div>
	</div>
	
	<!--forgot username modal-->
	<div class="modal" id="username-modal">
		<div div class="modal-box">
			<button type="button" class="close-btn" data-dismiss="modal">X</button>
			<h5>Forgot Username</h5>
			<form method="post" action="" id="passord-form">
			    <input type="text" name="username" class="username" placeholder="Email Address" >
			    <!--<input name="submit" type="submit" id="submit" value="Submit">-->
			    <a href="/?p=profile" name="submit" type="submit" id="submit" value="Submit">Submit</a>
			</form>
		</div>
	</div>
</div>
