<div class="row">
	<div class="col-sm-8">
		<div class="row" id="forgot-password">
			<div class="col-sm-6">
				<div class="logo"></div>
			</div>
			<div class="col-sm-6">
				<h5>Login Notification</h5>
			</div>
			<div class="col-sm-12">
				<p>Please enter your tempotrip profile page through your companies portal url. (You can find the url in a previous email sent when registering or ask your tempotrip representative for the url to login to your tempotrip portal. )</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 image-bg">
		<div class="color-overlay"></div>
	</div>	
</div>

