<div class="row" id="flip-form">
	<div class="col-sm-8" id="landing-login">
		<div class="logo"></div>
		<h4>Log in</h4>
		<form action="" id="login-form">
		  	<div class="container-fluid">
		  		<div class="row">
		  			<div class="col-sm-12">
		  				<label><b>Username</b></label>
		    			<input type="text" placeholder="Enter Username" name="uname" class="username" >

				    	<label><b>Password</b></label>
				    	<input type="password" placeholder="Enter Password" name="psw" class="password" >	
		  			</div>
		  		</div>
		        
		    	<!--<button type="submit" id="login" data-toggle="modal" data-target="#password-modal">Login</button>-->
		    	<div id="login" data-toggle="modal" data-target="#password-modal">Log in</div>
		  	</div>

		  	<div class="container-fluid">
			  		<div class="row">
			  			<div class="col-sm-12">
					   		<span style="display:none;"><input type="checkbox">Remember me</span>
					   		<span class="psw"><a href="#" data-toggle="modal" data-target="#username-modal">Forgot username?</a></span><br/>
					    	<span class="psw"><a href="#" data-toggle="modal" data-target="#forgot-password-modal">Forgot password?</a></span>
					    </div>
					</div>
		  	</div>
		</form>
		<div class="col-sm-8" id="register-slider">
			<!--Register form modal-->
			<form action="" id="register-form">
				  	<div class="container-fluid">
				  		<div class="row">
				  			<div class="col-sm-12"><div class="text-stay"><h4>Register Now</h4></div></div>
				  			<div class="col-sm-6">
				  				<label><b>First name</b></label>
						    	<input type="text" placeholder="Enter your first name" name="fname" class="firstname" >
				  			</div>
				  			<div class="col-sm-6">
				  				<label><b>last name</b></label>
						    	<input type="text" placeholder="Enter your last name" name="lname" class="lastname" >
				  			</div>
				  			<div class="col-sm-12">
				  				<label><b>Email address</b></label>
						    	<input type="text" placeholder="Enter your email" name="email" class="email" >
				  			</div>
				  			<div class="col-sm-6">
				  				<label><b>Password *</b></label>
						    	<input type="password" placeholder="Enter a password" name="psw" class="password" >
						    </div>
				  			<div class="col-sm-6">
				  				<label><b>Comfirm Password *</b></label>
						    	<input type="password" placeholder="Confirm password" name="cpsw" class="confirm-password" >
				  			</div>
				  			<div class="col-sm-12">
				  				<!--<button type="submit" id="login" data-toggle="modal" data-target="#password-modal">Submit</button>-->
						    	<a href="profile.html" name="submit" type="submit" id="submit" value="Submit">Submit</a>
				  			</div>
				    		
				    	</div>
				  	</div>
			</form>		
		</div>
	</div>
	<div class="col-sm-4">
		<div id="landing-register">
			<div class="register-title">
				<div class="logo"></div>
				<h4>Not Registered?</h4>
				<p>Sign up is quick and easy and then you can start all your advanced travel arrangments.</p>
			</div>
			<div class="button-switch">
				<button id="login-register">REGISTER</button>
			</div>
		</div>
		<div id="login-slider">
			<div class="register-title">
				<div class="logo"></div>
				<h4>Already Registered?</h4>
				<p>Just login to see you travel arrangments.</p>
			</div>
			<div class="button-switch">
				<button id="login-return">Login</button>
			</div>
		</div>
	</div>
	

</div>
<div class="row">
	<div class="col-sm-12 image-bg">
		<div class="color-overlay"></div>
	</div>	
</div>
<div class="row">
	<!--change password modal-->
	<div class="modal" id="password-modal">
		<div div class="modal-box">
			<button type="button" class="close-btn" data-dismiss="modal">X</button>
			<h5>Change Password</h5>
			<form method="post"  id="passord-form">
			    <input type="text" name="username" class="username" placeholder="Username" >
			    <input type="password" name="password1" class="password" placeholder="New Password" >
			    <input type="password" name="password2" class="password" placeholder="Confirm password" >
			    <!--<input name="submit" type="submit" id="submit" value="Submit">-->
			    <a href="profile.html" name="submit" type="submit" id="submit" value="Submit">Submit</a>
			</form>
		</div>
	</div>
	<!--forgot-password-modal-->
	<div class="modal" id="forgot-password-modal">
		<div div class="modal-box">
			<button type="button" class="close-btn" data-dismiss="modal">X</button>
			<h5>Forgot Password</h5>
			<form method="post"  id="passord-form">
			    <input type="text" name="username" class="username" placeholder="Username">
			    <a href="profile.html" name="submit" type="submit" id="submit" value="Submit">Submit</a>
			    <!--<input name="submit" type="submit" id="submit" value="Submit">-->
			</form>
		</div>
	</div>
	<!--forgot username modal-->
	<div class="modal" id="username-modal">
		<div div class="modal-box">
			<button type="button" class="close-btn" data-dismiss="modal">X</button>
			<h5>Forgot Username</h5>
			<form method="post" action="" id="passord-form">
			    <input type="text" name="username" class="username" placeholder="Email Address" >
			    <!--<input name="submit" type="submit" id="submit" value="Submit">-->
			    <a href="profile.html" name="submit" type="submit" id="submit" value="Submit">Submit</a>
			</form>
		</div>
	</div>
</div>
