<div class="container">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    <input type="file" id="fileinput" />
</div>
<script>
	var table = $('#example').DataTable({
    columns: [{
        "title": "ID",
        "data": "ID"
    }, {
        "title": "Name",
        "data": "Name"
    }, {
        "title": "Position",
        "data": "Position"
    }]
});
$("#fileinput").on("change", function(evt) {
    var f = evt.target.files[0];
    if (f) {
        var r = new FileReader();
        r.onload = function(e) {
            table.rows.add($.csv.toObjects(e.target.result)).draw();
        }
        r.readAsText(f);
    } else {
        alert("Failed to load file");
    }
});
</script>