<table id="myTrips" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
            <tr>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Trip Type</th>
                <th>Departure Date</th>
                <th>Return date</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Trip Type</th>
                <th>Departure Date</th>
                <th>Return date</th>
                <th>Cost</th>
            </tr>
        </tfoot>
</table>