<div class="print">
    <div id="printdiv">
        <div id="hidden_div">
            <div class="row print-wrapper">
                <div class="col-sm-12 print-header">
                    <div class="logo"></div>
                    <h1>Flight Itinerary Details</h1>
                </div>
                <div class="col-sm-12 departureHeader">
                    <h3 class="col-sm-6">Traveller</h3>
                    <h3 class="col-sm-6">Flight Number</h3>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 travellerName">
                            <h4 class="card-title"><span class="traveller_name" id="f_name"></span> <span class="traveller_name" id="l_name"></span></h4>
                            <div class="col-sm-12">
                                <a href="mailto:" class="traveller_email"></a>
                            </div>
                        </div>
                        <div class="col-sm-6" id="flightInfo">
                            <div class="City deptHeader"></div>
                            <div class="City arrvHeader"></div>
                            <div class="col-sm-12">
                                <p class="traveller_email" id="departTime"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 departureHeader">
                    <h3>Departure Fight Details</h3>
                </div>
                <div class="col-sm-12 departureDetails">
                    <div class="row">
                        
                    </div>
                </div>
                <div class="col-sm-12 returnHeader">
                    <h3>Return Fight Details</h3>
                </div>
                <div class="col-sm-12 returnDetails">
                    <div class="row">
                        
                    </div>
                </div>
                <div class="col-sm-12 print-footer">
                    <div class="logo"></div>
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>
</div>
      