<div class="content-profile-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="POST" role="form" autocomplete="off">
                    <input type='hidden' name='p' value="profile">
                    <input type='hidden' name='a' value="save_profile">
                    <input type='hidden' name='status' value="3">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12"><div class="errors"><?php echo $app->output->errorstr ?></div></div>
                                <div class="col-sm-12"><div class="success"><?php echo $app->output->successstr ?></div></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12" id="leftColumn">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Traveler Profile</h4>
                                        <hr class="p-o m-0">
                                    </div>
                                    <div class="content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                        <input type="text" name="f_name" id="f-name" class="form-control" value="<?php echo $app->constants->request['f_name'];?>" required="required" title="" placeholder="First Name">
                                                        <label>First Name</label>
                                                        <span class="focus-border"><i></i></span>
                                                    
                                                </div>
                                                <div class="col-sm-12">
                                                        <input type="text" name="m_initial" id="m-name" class="form-control" value="<?php echo $app->constants->request['m_initial'];?>" title="" placeholder="Middle Name">
                                                        <label for="input-id">Middle Name</label>
                                                        <span class="focus-border"><i></i></span>
                                                </div>
                                                <div class="col-sm-12">
                                                        <input type="text" name="l_name" id="l-name" class="form-control" value="<?php echo $app->constants->request['l_name'];?>" required="required" title="" placeholder="Last Name">
                                                        <label for="l-name">Last Name</label>
                                                        <span class="focus-border"><i></i></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                        <input type="text" id="datepicker" autocomplete="off" value="<?php echo $app->constants->request['dob'];?>" name="dob" class="form-control form-control-sm" required="required" placeholder="mm/dd/yyyy" title="dob">
                                                        <label for="dob">Date of Birth</label>
                                                        <span class="focus-border"><i></i></span>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                        <div id="gender_select_carrier"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    
                                                        <input type="text" name="email" autocomplete="off" id="email" class="form-control" readonly value="<?php echo $app->constants->request['email'];?>" required="required" title="" placeholder="">
                                                        <label for="email">Primary Email Address</label>
                                                        <span class="focus-border"><i></i></span>
                                                    
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    
                                                        <input type="tel" name="phone" id="phone" class="form-control" pattern=".{10,14}" value="<?php echo $app->constants->request['phone'];?>" title="" placeholder="Cell Phone Number" maxlength="10">
                                                        <label for="phone-number">Cell Phone Number
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Phone Number must be 10 numerical digits and contain no other characters like (-+#.%$&*)"><i class="fa fa-info-circle"></i></a></label>
                                                        <span class="focus-border"><i></i></span>
                                                    
                                                </div>
                                            </div>
                                            <!-- EMERGENCY CONTACT INFORMATION -->
                                            <div class="row">
                                                <div class="header">
                                                    <h4 class="title">Emergency Contact Information</h4>
                                                    <hr class="m-t-0">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-sm-12">
                                                    
                                                        <input type="text" name="ec_f_name" id="ec_f_name" class="form-control" value="<?php echo $app->constants->request['ec_f_name'];?>"  title="" placeholder="Contact First Name">
                                                        <label>First Name</label>
                                                        <span class="focus-border"><i></i></span>
                                                    
                                                </div>
                                                <div class="col-sm-12 col-sm-12">
                                                        <input type="text" name="ec_l_name" id="ec_l_name" class="form-control" value="<?php echo $app->constants->request['ec_l_name'];?>"  title="" placeholder="Contact Last Name">
                                                         <label>Last Name</label>
                                                        <span class="focus-border"><i></i></span>
                                                    
                                                </div>
                                                <div class="col-sm-12 col-sm-12">
                                                    
                                                        <input type="tel" name="ec_phone" id="ec_phone" class="form-control" pattern=".{10,14}" value="<?php echo $app->constants->request['ec_phone'];?>"  title="" placeholder="Contact Phone Number" maxlength="10">
                                                        <label for="phone-number">Contact Phone Number</label>
                                                        <span class="focus-border"><i></i></span>
                                                    
                                                </div>
                                            </div>
                                      </div>
                                </div> 
                            </div>
                            <div class="col-md-6 col-sm-12" id="rightColumn">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Traveler Preferences</h4>
                                        <hr class="p-o m-0">
                                    </div>
                                    <div class="content">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group" id='seat_select_carrier'>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group" id="special_assistance_carrier">
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            <!--
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input type="email" name="s_email" id="s_email" class="form-control form-control-sm" value="<?php echo $app->constants->request['s_email'];?>" title="Email">
                                                        <label for="input-id">Secondary Email</label>
                                                        <span class="focus-border"><i></i></span>
                                                        <p class="help-block small m-t-0">&nbsp;*(Secondary emails will receive a copy of travel itinerary)</p>

                                                    </div>
                                                </div>
                                            </div>-->
                                            <hr class="m-t-5">
                                            <div class="row" id="travelNumbers">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" id="tsaInput" name='known_number' class="form-control" value="<?php echo $app->constants->request['known_number'];?>" pattern=".{10}" placeholder="Enter your 10 Digit TSA Number" maxlength="10">
                                                        <label class="">Known Traveler Number <img class="img" style="max-height: 18px;" src="images/logos/precheck-logo-small.png"><span> <a href="#" data-toggle="tooltip" data-placement="top" title="The Known Traveler Number is a 10 digit unique number issued by the U.S Government to identify customers who participate in a known traveler program (e.g Global Entry, SENTRI, NEXUS, TSA, PreCheck Application Process)."><i class="fa fa-info-circle"></i></a></span></label>
                                                        <span class="focus-border"><i></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter Number" name='redress_number' class="form-control" value="<?php echo $app->constants->request['redress_number'];?>">
                                                        <label class="">Redress Number <span> <a href="#" data-toggle="tooltip" data-placement="top" title="This is a unique number the Department of Homeland Security (DHS) assigns to a passenger to promote resolution with previous watch list alerts."><i class="fa fa-info-circle"></i></a></span></label>
                                                        <span class="focus-border"><i></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 points">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <a class="" role="button" data-toggle="collapse" href="#RewardsAccordian" aria-expanded="false" aria-controls="collapseExample">
                                                                <label>Airline Travel Rewards Points</label>
                                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="row travel-points-row collapse" id="RewardsAccordian">
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-sm-12">
                                                                <div class="thirty30 as"></div>
                                                                <label>Alaskan – Mileage Plan</label>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12">
                                                                <input type="text" id="AS" name="rewards_as_8" class="airline-points form-control" value="" placeholder="Airline Rewards Number">
                                                                <span class="focus-border"><i></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-sm-12">
                                                                <div class="thirty30 aa"></div>
                                                                <label>American – AAdvantage</label>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12">
                                                                <input type="text" id="AA" name="rewards_aa_1" class="airline-points form-control" value="" placeholder="Airline Rewards Number">
                                                                <span class="focus-border"><i></i></span>
                                                            </div>
                                                        </div>   
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-sm-12">
                                                                <div class="thirty30 dl"></div>
                                                                <label>Delta – SkyMiles</label>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12">
                                                                <input type="text" id="DL" name="rewards_dl_3" class="airline-points form-control" value="" placeholder="Airline Rewards Number">
                                                                <span class="focus-border"><i></i></span>
                                                            </div>
                                                        </div>   
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-sm-12">
                                                                <div class="thirty30 f9"></div>
                                                                <label>Frontier – EarlyReturns</label>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12">
                                                                <input type="text" id="F9" name="rewards_f9_7" class="airline-points form-control" value="" placeholder="Airline Rewards Number">
                                                                <span class="focus-border"><i></i></span>
                                                            </div> 
                                                        </div> 
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-sm-12">
                                                                <div class="thirty30 ha"></div>
                                                                <label>Hawaiian  – TrueBlue</label>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12">
                                                                <input type="text" name="rewards_ha_10" class="airline-points form-control" id="HA" value="" placeholder="Airline Rewards Number">
                                                                <span class="focus-border"><i></i></span>
                                                            </div> 
                                                        </div>    
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-sm-12">
                                                                <div class="thirty30 b6"></div>
                                                                <label>JetBlue – TrueBlue</label>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12">
                                                                <input type="text" name="rewards_b6_9" class="airline-points form-control" id="B6" value="" placeholder="Airline Rewards Number">
                                                                <span class="focus-border"><i></i></span>
                                                            </div>
                                                        </div>   
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-sm-12">
                                                                <div class="thirty30 wn"></div>
                                                                <label>Southwest – Rapid Rewards</label>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12">
                                                                <input type="text" name="rewards_wn_4" class="airline-points form-control" id="WN" value="" placeholder="Airline Rewards Number"> 
                                                                <span class="focus-border"><i></i></span>
                                                            </div> 
                                                        </div>   
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-sm-12">
                                                                <div class="thirty30 nk"></div>
                                                                <label>Spirit – FREE SPIRIT</label>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12">
                                                                <input type="text" name="rewards_nk_6" class="airline-points form-control" id="NK" value="" placeholder="Airline Rewards Number"> 
                                                                <span class="focus-border"><i></i></span>
                                                            </div> 
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-sm-12">
                                                                <div class="thirty30 ua"></div>
                                                                <label>United – MileagePlus</label>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12">
                                                                <input type="text" name="rewards_ua_2" class="airline-points form-control" id="UA" value="" placeholder="Airline Rewards Number"> <span class="focus-border"><i></i></span>
                                                            </div> 
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-sm-12">
                                                                <div class="thirty30 vx"></div>
                                                                <label>Virgin – eleVAte</label>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12">
                                                                <input type="text" name="rewards_vx_5" class="airline-points form-control" id="VX" value="" placeholder="Airline Rewards Number">
                                                                <span class="focus-border"><i></i></span>
                                                            </div>
                                                              
                                                        </div>         
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="submit-col">
                                        <button type="submit" class="">Save</button>    
                                    </div>
                                     <div class="col-sm-12">
                                        <p id="profileReminder">Remember to complete filling out your profile to have all the settings in place to begin booking travel arrangements.</p>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>