<div class="row">
    <div class="col-sm-12">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="tabs">
                <li role="presentation" class="active">
                    <a href="#add-travelers" aria-controls="home" role="tab" data-toggle="tab">Add Traveler(s)</a>
                </li>
                <li role="presentation" id="personal-form">
                    <a href="#personal-info"  aria-controls="tab" role="tab" data-toggle="tab">Traveler Profile</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="wait-spinner">
                    <div class="spinner">
                        <i class="half-circle fa-spin" id="spin-outside"></i>
                    </div>
                    <p>Loading Event <span>Please wait</span></p>
                </div>
                <!--Add Traveler TAB-->
                <div role="tabpanel" class="tab-pane active" id="add-travelers">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                 <form action="" method="POST" role="form">
                                    <input type='hidden' name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                                    <input type='hidden' name='a' value="add_traveler">
                                    <input type='hidden' name='status' value="3">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input id="firstname" name="fname" title="First Name" type="text" size="28" />
                                            <label for="fname">First Name</label>
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-sm-12">
                                            <input id="lastname" name="lname" title="Last Name" type="text" size="28" />
                                            <label for="lname">Last Name</label>
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-sm-12">
                                            <input id="email" name="e_address" title="email address" type="text" size="28" />
                                            <label for="e_address">Email</label>
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-sm-12">
                                            <button type="submit" id="addTravelerButton"/>Add Traveler</button>
                                            <p>An email will be sent to this traveler welcoming them to TempoTrip. Travelers can login in, update thier profile and book travel arrangments.</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr/>
                            <div class="row">
                                <form method="POST">
                                    <input type='hidden' name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                                    <input type='hidden' name='a' value="add_csv_travelers">
                                    <div class="col-sm-12">
                                        <p>Bulk load travelers from a csv file.</p>
                                    </div>
                                    <div class="col-sm-12" id="template">
                                        <p><a href="js/ajax/template.csv">Download</a> a template csv file.</p>
                                    </div>
                                    <div class="col-sm-12" id="bulk">
                                        <input type="file" id="fileUpload" />
                                        <p class="file-return"></p>
                                        
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" id="addBulkTravelersButton"/>Upload Travelers</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--PERSONAL INFORMATION TAB-->
                <div role="tabpanel" class="tab-pane" id="personal-info">
                    <div class="card">
                        <div class="content">
                            <form action="" method="POST" role="form">
                                <input type='hidden' name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                                <input type='hidden' name='a' value="save_profile">
                                <input type='hidden' name='status' value="3">
                                <input type='hidden' id="userID" name='user_id' value="">
                                <!--Create js to change user id vaue when selected-->
                                <input type='hidden' name='a' value="add_traveler">
                                <div role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                            <input type="text" name="f_name" id='firstName' value="" required="required" title="" placeholder="">
                                            <label for="f_name">First Name</label>
                                            <span class="focus-border"><i></i></span>
                                    </div>
                                    <div class="col-md-12">
                                            <input type="text" name="m_initial" id='middleName' value="" title="" placeholder="">
                                            <label for="m_initial">Middle Name</label>
                                            <span class="focus-border"><i></i></span>
                                    </div>
                                    <div class="col-md-12">
                                            <input type="text" name="l_name" id='lastName' value="" required="required" title="" placeholder="">
                                            <label for="l_name">Last Name</label>
                                            <span class="focus-border"><i></i></span> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                            <input type="text" name="birth-date" id="datepicker" value=""  required="required" title="date">
                                            <label for="birth-date">Date of Birth</label>
                                    </div>
                                    <div class="col-md-6">
                                            <div name="gender" id="gender_select_carrier"></div>
                                            <label for="gender">Gender</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                            <input type="text" name="email" id='email-address' readonly value="" required="required" title="" placeholder="">
                                            <label for="email">Email Address</label>
                                            <span class="focus-border"><i></i></span>
                                    </div>
                                    <div class="col-md-12">
                                            <input type="tel" name="phone" value="" id='phone' title="" required="required" placeholder="">
                                            <label for="phone-number">Phone Number</label>
                                            <span class="focus-border"><i></i></span>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" name='known_number' id="tsaNumber" value="" placeholder="">
                                        <label class="" for="tsaNumber" >Known Traveler Number <img class="img" style="max-height: 18px;" src="images/logos/precheck-logo-small.png"><span> <a href="#" data-toggle="tooltip" data-placement="top" title="The Known Traveler Number is a unique number issued by the U.S Government to identify customers who participate in a known traveler program (e.g Global Entry, SENTRI, NEXUS, TSA, PreCheck Application Process)."><i class="fa fa-info-circle"></i></a></span></label>
                                        <span class="focus-border"><i></i></span>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row" id="ffSection">
                                    <div class="plusBtn fa fa-plus-square fa-6"></div>
                                    <div class="col-md-12 airlineMiles">
                                        <select class="form-control" id="airlines" name='known_number' value="" placeholder="">
                                            <option base="Airline">Pick an Airline</option>
                                            <option value="1" id="1">Air Canada</option>
                                            <option value="2" id="2">Alaska Airlines</option>
                                            <option value="3" id="3">Aloha Airlines</option>
                                            <option value="4" id="4">American Airlines</option>
                                            <option value="5" id="5">Delta</option>
                                            <option value="6" id="6">Jet Blue</option>
                                            <option value="7" id="7">Frontier</option>
                                            <option value="8" id="8">Southwest</option>
                                            <option value="9" id="9">Spirit</option>
                                            <option value="10" id="10">United</option>
                                            <option value="11" id="11">Virgin America</option>
                                        </select>
                                        <input type="text" name='ff_number' id="ffNumber" value="" placeholder="">
                                        <label class="" for="ffNumber" >Airline Frequent Flyer Numbers</label>
                                        <span class="focus-border"><i></i></span>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="">Save</button>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-12" id="remove">
                                    <button type="submit" class="remove hide" data-toggle="modal" data-target="#confirmModal"/>Remove Traveler</button>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>