<style>
    #right-side-content {
        margin-top: 125px;
    }
    
    .card-profile,
    .card-testimonial {
        margin-top: 30px;
        text-align: center;
    }
    
    .wrapper {
        position: relative;
        top: 0;
        height: 100vh;
        background-color: #ffffff;
    }
    
    #overview-accordian .item {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #cfd8dc;
        text-align: left;
        padding: 15px;
    }
    
    #overview-accordian .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        float: right;
        margin-top: 7px;
    }
     .quick-facts-box {
        min-height: 70px;
        margin: 1.5rem;
        text-align: center;
        background: #fff;
        border: 1px solid #cfd8dc;
    }
    
    .quick-facts-box ul {
        padding: 10px 0;
        list-style: none;
    }
    
    .quick-facts-box ul li {
        display: block;
        float: left;
        width: 33%;
    }
    
    .quick-facts-box ul li:first-child {
        border-right: 1px solid #cfd8dc;
    }
    
    .quick-facts-box ul li:last-child {
        border-left: 1px solid #cfd8dc;
    }
    
    .quick-facts-box ul li strong {
        display: block;
        font-size: 20px;
    }
    
    .quick-facts-box ul li span {
        font-size: 8px;
        font-weight: 500;
        color: #cfd8dc;
        text-transform: uppercase;
    }
    
    .recent-flight-item {
        min-height: 85px;
        margin: 1.5rem;
        text-align: center;
        background: #fff;
        border: 1px solid #cfd8dc;
    }
    
    .recent-flight-item ul {
        padding: 10px 0;
        list-style: none;
        letter-spacing: 0.015em;
    }
    
    .recent-flight-item ul li {
        display: block;
        float: left;
        width: 33%;
    }
    
    .recent-flight-item ul li.recent-date-info {
        display: block;
        float: left;
        width: 50%;
    }
    
    .recent-flight-item ul li:first-child {
        border-right: 1px solid #cfd8dc;
    }
    
    .recent-flight-item ul li:last-child {
        border-left: 1px solid #cfd8dc;
    }
    
    .recent-flight-item ul li strong {
        display: block;
        font-size: 20px;
    }
    
    .recent-flight-item ul li span {
        font-size: 8px;
        font-weight: 500;
        color: #cfd8dc;
        text-transform: uppercase;
    }
    
    .card-footer {
        padding: 0.75rem 1.25rem;
        background-color: #eceff1;
        border-top: 1px solid #cfd8dc;
    }
    
    .bg-grey-light {
        background-color: #eceff1;
    }
</style>
<div class="wrapper">
    <div id="right-side-content">
        <div class="card card-profile">


            <div class="content">
                <h4 class="card-title">Vince Bufalino</h4>
                <h6 class="category text-gray"> Traveler |<span>&nbsp; Status: Active</span></h6>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block">Edit Profile</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-block">Book Travel</button>
                    </div>

                </div>
                <div class="row">
                    <div class="quick-facts-box">

                        <ul>
                            <li>
                                <strong>10</strong>
                                <span>Trips Booked</span>
                            </li>
                            <li>
                                <strong>2</strong>
                                <span>Upcoming Trips</span>
                            </li>
                            <li>
                                <strong>2</strong>
                                <span>Waiting Approval</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">



                    <div class="card-content">
                        <div id="overview-accordian" data-children=".item">
                            <div class="item p-0">
                                <div class="bg-grey-light p-15">
                                    <a data-toggle="collapse" data-parent="#overview-accordian" href="#recent-travel" aria-expanded="true" aria-controls="recent-travel">
                                          Recent Travel <i class="fa fa-angle-double-down float-right font-lg"></i>
                                                </a>
                                </div>
                                <div id="recent-travel" class="collapse" role="tabpanel">
                        <div class="list-group p-0">
                            

                                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start p-0">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="text-center m-t-5">Booked <small> 3 days ago</small></h6>
                                        </div>
                                        <div class="recent-flight-item">
                                            <ul>
                                                <li>
                                                    <span>Oct 02,2017</span>
                                                    <strong>ORD</strong>
                                                    <span>Depart</span>
                                                </li>
                                                <li>
                                                    <span>Oct 05,2017</span>
                                                    <strong>LAX</strong>
                                                    <span>Return </span>
                                                </li>
                                                <li class="p-10">
                                                    <strong>$200</strong>
                                                    <span>RoundTrip</span>
                                                </li>
                                            </ul>
                                        </div>

                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start p-0">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="text-center m-t-5">Booked <small> 23 days ago</small></h6>
                                        </div>
                                        <div class="recent-flight-item">
                                            <ul>
                                                <li>
                                                    <span>Sep 12,2017</span>
                                                    <strong>ORD</strong>
                                                    <span>Depart</span>
                                                </li>
                                                <li>
                                                    <span>Sep 15,2017</span>
                                                    <strong>ATL</strong>
                                                    <span>Return </span>
                                                </li>
                                                <li class="p-10">
                                                    <strong>$200</strong>
                                                    <span>RoundTrip</span>
                                                </li>
                                            </ul>
                                        </div>

                                    </a>
                                    </div></div>



                            </div>
                            <div class="item">
                                <a data-toggle="collapse" data-parent="#overview-accordian" href="#current-booking-sites" aria-expanded="false" aria-controls="current-booking-sites">
                                          Air Booking Sites
                                              <div class="caret"></div>   
                                        </a>
                                <div id="current-booking-sites" class="collapse" role="tabpanel">
                                    <p class="mb-3">
                                        Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>