<div class="row">
    <div class="col-sm-12">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="tabs">
                <li role="presentation" class="active">
                    <a href="#add-travelers" aria-controls="home" role="tab" data-toggle="tab">Add Traveler(s)</a>
                </li>
                <li role="presentation" id="personal-form" class="disabled">
                    <a href="#personal-info"  aria-controls="tab" role="tab" data-toggle="tab">Traveler Profile</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="wait-spinner">
                    <div class="spinner">
                        <i class="half-circle fa-spin" id="spin-outside"></i>
                    </div>
                    <p>Loading Event <span>Please wait</span></p>
                </div>
                <!--Add Traveler TAB-->
                <div role="tabpanel" class="tab-pane active" id="add-travelers">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Add Single Traveler</a>
                                        </h4>
                                      </div>
                                      <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <form action="" method="POST" role="form">
                                                <input type='hidden' name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                                                <input type='hidden' name='a' value="add_traveler">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input id="firstname" name="fname" title="First Name" type="text" size="28" required/>
                                                        <label for="fname">First Name</label>
                                                        <span class="focus-border"><i></i></span>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input id="lastname" name="lname" title="Last Name" type="text" size="28" required/>
                                                        <label for="lname">Last Name</label>
                                                        <span class="focus-border"><i></i></span>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input id="email" name="email" title="email address" type="text" size="28" required/>
                                                        <label for="email">Email</label>
                                                        <span class="focus-border"><i></i></span>
                                                    </div>
                                                    <div class="col-sm-12 addTravelerCheck" id="">
                                                        <div class="col-sm-12 col-md-4 float-right">
                                                            <div class="checkbox-inline">
                                                                <input type="checkbox" class="guestCheckBox" value="">Add as a Guests
                                                            </div>    
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 groups" id="">
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="group_select_carrier"></div>
                                                                <select class="groupSelect">
                                                                    <option base>Select a Group</option>
                                                                    <option value="admin">Admin</option>
                                                                    <option value="executive">Executives</option>
                                                                    <option value="guest">Guests</option>
                                                                    <option value="it">IT</option>
                                                                </select>
                                                            <label>Add Traveler(s) to a Group</label> 
                                                        </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <label>&nbsp;</label>
                                                            <a class="btn" data-toggle="modal" data-target="#groupModal">Make a New Group</a> 
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button type="submit" id="addTravelerButton"/>Add Traveler</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Add Bulk Travelers</a>
                                        </h4>
                                      </div>
                                      <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form enctype="multipart/form-data" method="POST">
                                            <input type='hidden' name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                                            <input type='hidden' name='a' value="add_csv_travelers">

                                            <div class="col-sm-12">
                                                <p>Bulk load travelers from a csv file.</p>
                                            </div>
                                            <div class="col-sm-12" id="template">
                                                <p><a href="docs/sample.csv">Download</a> a template csv file.</p>
                                            </div>
                                            <div class="col-sm-12" id="bulkTable"></div>
                                            <div class="col-sm-12" id="bulk">
                                                <input type="file" class="btn-sm" id="fileUpload" name='upfile[]' accept=".csv,.txt" />
                                                <p class="file-return"></p>
                                            </div>
                                            <div class="col-sm-12">
                                                <button type="submit" class="hide" id="addBulkTravelersButton"/>Upload Travelers</button>
                                            </div>
                                            <div class="col-sm-12 addTravelerCheck" id="">
                                                <div class="col-sm-12 col-md-4 float-right">
                                                    <div class="checkbox-inline">
                                                        <input type="checkbox" class="guestCheckBox" value="">Add all as Guests
                                                    </div>    
                                                </div>
                                            </div>
                                            <div class="col-sm-12 groups" id="">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="group_select_carrier"></div>
                                                        <select class="groupSelect">
                                                            <option base>Select a Group</option>
                                                            <option value="admin">Admin</option>
                                                            <option value="executive">Executives</option>
                                                            <option value="guest">Guests</option>
                                                            <option value="it">IT</option>
                                                        </select>
                                                    <label>Add Traveler(s) to a Group</label> 
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <label>&nbsp;</label>
                                                    <a class="btn" data-toggle="modal" data-target="#groupModal">Make a New Group</a> 
                                                </div>
                                            </div>
                                        </form>
                                        </div>
                                      </div>
                                    </div>
                                </div> 
                            </div>
                            <hr/>
                            <div class="row">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--PERSONAL INFORMATION TAB-->
                <div role="tabpanel" class="tab-pane" id="personal-info">
                    <div class="card">
                        <div class="content">
                            <form action="" method="POST" role="form">
                                <input type='hidden' name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                                <input type='hidden' name='a' value="save_profile">
                                <input type='hidden' id="userID" name='user_id' value="">
                                <input type='hidden' id="roleID" name='traveler_role_id' value="">
                                <div role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12">
                                                <input type="text" readonly name="f_name" id='firstName' value="" required title="" placeholder="">
                                                <label for="f_name">First Name</label>
                                                <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-md-12">
                                                <input type="text" name="m_initial" id='middleName' value="" title="" placeholder="">
                                                <label for="m_initial">Middle Name</label>
                                                <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-md-12">
                                                <input type="text" readonly name="l_name" id='lastName' value="" required title="" placeholder="">
                                                <label for="l_name">Last Name</label>
                                                <span class="focus-border"><i></i></span> 
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" name="group" id="user_group_select_carrier"></div>
                                        </div>
                                        <div class="col-md-12">
                                                <input type="text" name="role_name" class="role_name" readonly value="" placeholder="User Role">
                                                <label for="l_name">Role</label>
                                                <span class="focus-border"><i></i></span> 
                                        </div>
                                        <div class="col-md-12">
                                                <div class="form-group disabled" id="user_status_select_carrier"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                                <input type="text" name="dob" id="datepicker" required title="dob" value="">
                                                <label for="dob">Date of Birth</label>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div name="gender" id="gender_select_carrier"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                                <input type="text" name="email" id='email-address' readonly value="" title="" placeholder="">
                                                <label for="email">Email Address</label>
                                                <span class="focus-border"><i></i></span>
                                        </div>
                                        <div class="col-md-12">
                                                <input type="tel" name="phone" value="" id='phone' title="" placeholder="" maxlength="10" pattern=".{10,14}">
                                                <label for="phone-number">Phone Number <a href="#" data-toggle="tooltip" data-placement="top" title="Phone Number must be 10 numerical digits and contain no other characters like (-+#.%$&*)"><i class="fa fa-info-circle"></i></a></label>
                                                <span class="focus-border"><i></i></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name='known_number' id="tsaNumber" value="" placeholder="" pattern=".{10}">
                                            <label class="" for="tsaNumber" >Known Traveler Number <img class="img" style="max-height: 18px;" src="images/logos/precheck-logo-small.png"><span> <a href="#" data-toggle="tooltip" data-placement="top" title="The Known Traveler Number is a unique number issued by the U.S Government to identify customers who participate in a known traveler program (e.g Global Entry, SENTRI, NEXUS, TSA, PreCheck Application Process)."><i class="fa fa-info-circle"></i></a></span></label>
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name='redress_number' id="reddressNumber" value="" placeholder="">
                                            <label class="" for="redress_number" >Redress Number <span> <a href="#" data-toggle="tooltip" data-placement="top" title="This is a unique number the Department of Homeland Security (DHS) assigns to a passenger to promote resolution with previous watch list alerts."><i class="fa fa-info-circle"></i></a></span></label>
                                            <span class="focus-border"><i></i></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="submit" class="saveBtn disabled">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-12" id="remove">
                                    <button type="submit" class="remove" data-toggle="modal" data-target="#confirmModal"/>Remove Traveler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>