<div class="wrapper">
    <div id="right-side-content">
        <div class="card card-traveller">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Name: <span class="card-title"></span>
                        <p class="">Email: <span class="card-email"></span></p>
                        <p class="status">Status: <span class="card-status"></span></p> 
                        <p>Phone: <span class="card-phone"></span></p>
                        <p>Department: <span class="card-dept"></span></p>
                        <p class="costs">Total Costs: <span class="card-costs"></span></p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block">Edit Profile</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-block">Book Travel</button>
                    </div>

                </div>
                <div class="row">
                    <div class="quick-facts-box">
                        <ul>
                            <li>
                                <div class="totalTrips"><strong></strong></div>
                                <span>Booked</span>
                            </li>
                            <li>
                                <div class="upcomingTrips"><strong></strong></div>
                                <span>Upcoming</span>
                            </li>
                            <li>
                                <div class="approvalTrips"><strong></strong></div>
                                <span>Approved</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>