<div class="wrapper">
    <div id="right-side-content">
        <div class="card card-profile">


            <div class="content" style="text-align: left;">
             <h4 class="card-title">ORD <span><i class="fa fa-plane"></i> LAX</span></h4>
                <div class="">
         <div class="card-block">
             <h5 class="card-title">Depart <span class="small">- October 02, 2017</span></h5>
             <p class="card-text">Chicago - O'hare International</p>
             
         </div>
</div>

<!--
             <div class="row">
                 <div class="col-xs-5 col-sm-5"><div class=""><h4 class="text-center font-light">ORD<br><smaller>September 05</smaller></h4></div></div>
                 <div class="col-xs-2 col-sm-2"><div class=""><h4 class="text-center font-light"><i class="fa fa-plane"></i></h4></div></div>      
                 <div class="col-xs-5 col-sm-5"><div class=""><h4 class="text-center font-light">LAX</h4></div></div>
                
                    <div class="row">
                        <div class="col-sm-12"></div>
                        <div class="col-sm-6"><div class="">Departarture<div class="card"><h4 class="text-left">Sept</h4></div></div></div>
                            <div class="col-sm-6"><div class="">Return</div></div>
                    </div>
                </div>
-->
                
              
            </div>

         </div>
        </div>
            </div>
      