<div class="row">
    <div class="col-sm-12">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="tabs">
                <li role="presentation" class="active">
                    <a href="#approvals" aria-controls="home" role="tab" data-toggle="tab">Approvals</a>
                </li>
                <li role="presentation" id="">
                    <a href="#itinerary"  aria-controls="tab" role="tab" data-toggle="tab">Itinerary</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="wait-spinner">
                    <div class="spinner">
                        <i class="half-circle fa-spin" id="spin-outside"></i>
                    </div>
                    <p>Loading Data <span>Please wait</span></p>
                </div>
                <!--Add Traveler TAB-->
                <div role="tabpanel" class="tab-pane active" id="approvals">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-6 travellerName">
                                    <h4 class="card-title"><span class="traveller_name" id="f_name"></span> <span class="traveller_name" id="l_name"></span></h4>
                                    <div class="col-sm-12">
                                        <a href="mailto:" class="traveller_email"></a>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="flightInfo">
                                    <div class="City deptHeader"></div>
                                    <div class="City arrvHeader"></div>
                                    <div class="col-sm-12">
                                        <p class="traveller_email" id="departTime"></p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-12 col-md-6" id="costs">
                                    <h4 class="card-title"><span class="cost"></span></h4>
                                    <p>Price</p>
                                </div>
                                <div class="col-sm-12 col-md-6" id="status">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3" id="approvalID"></div>
                                        <div class="col-sm-9 col-md-9" id="clock">
                                            <p class="approval-card-title"></p>
                                            <p id="timer"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12" id="sites">
                                    <a href="" class="card-title site" target="_blank"></a>
                                    <p>Site used to purchase the flight.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 airConfirm">
                                    <p class="card-title" id="airConfirm_Number"></p>
                                </div>
                               
                                <div class="col-sm-12 pnr">
                                    <p class="card-title" id="pnr_Number"></p>
                                    <div id="pnr_table"></div>
                                </div>
                            </div>
                            <div class="row" id="app-status">
                                <div class="col-sm-12 col-md-6">
                                    <div class="approve">
                                        <form method="POST" action="">
                                            <input type='hidden' name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                                            <input type='hidden' id="pnr_id2" name='pnr_id' value="">
                                            <input type='hidden' id="universal_rec_loc" name='universal_rec_loc' value="">
                                            <input type='hidden' id="options_rec_loc" name='options_rec_loc' value="">
                                            <input type='hidden' name='a' value="approve">
                                            <button type="submit" id="approveBtn">Approve</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="deny">
                                        <form method="POST" action="">
                                            <input type='hidden' name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                                            <input type='hidden' id="pnr_id3" name='pnr_id' value="">
                                            <input type='hidden' id="universal_rec_loc" name='universal_rec_loc' value="">
                                            <input type='hidden' id="options_rec_loc" name='options_rec_loc' value="">
                                            <input type='hidden' name='a' value="deny">
                                            <button type="submit" id="denyBtn">Deny</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="comments">
                                <div class="col-sm-12">
                                    <form method="POST" action="">
                                        <input type='hidden' name='p' value="<?php echo $app->constants->user['PAGE_REQUEST'] ?>">
                                        <input type='hidden' id="pnr_id" name='pnr_id' value="">
                                        <input type='hidden' id="note_id" name='note_id' value="">
                                        <input type='hidden' id="traveler_user_id" name='traveler_user_id' value="">
                                        <input type='hidden' name='a' value="save_note">
                                        <div class="row">
                                            <textarea name="message" rows="5" cols="20" id="messages"></textarea>
                                            <p>Add a comment <a href="#" class="fa fa-eye fa-6" data-toggle="tooltip" data-placement="right" title="These comments will be visible by you and your travelers"></a></p>
                                        </div>
                                        <div class="row">
                                            <button type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                <!--PERSONAL INFORMATION TAB-->
                <div role="tabpanel" class="tab-pane" id="itinerary">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-6 travellerName">
                                    <h4 class="card-title"><span class="traveller_name" id="f_name"></span> <span class="traveller_name" id="l_name"></span></h4>
                                    <div class="col-sm-12">
                                        <a href="mailto:" class="traveller_email"></a>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="flightInfo2">
                                        <div class="City deptHeader"></div>
                                        <div class="City arrvHeader"></div>
                                        <div class="col-sm-12">
                                            <p class="traveller_email" id="departTime2"></p>
                                        </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="card-title recordLocator"></p>
                                </div>
                            </div>
                            <div class="row" id="departureDetails">
                                <div class="col-sm-12">
                                    <div id="itinerary-accordian" data-children=".item">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email Itinerary</a>
                                    </li>
                                    <li>
                                        <a href="#" class="printButton_alltrips"><i class="fa fa-print" aria-hidden="true"></i> Print Itinerary</a>
                                    </li>
                                </ul>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

      