
<div class="content-settings-form">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#account" aria-controls="home" role="tab" data-toggle="tab">Account</a>
                                </li>
                                <li role="presentation">
                                    <a href="#account-notifications" aria-controls="tab" role="tab" data-toggle="tab">Notifications</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!--PERSONAL INFORMATION TAB-->
                                <div role="tabpanel" class="tab-pane active" id="account">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Account Information</h4>
                                            <hr class="p-o m-0">
                                        </div>
                                        <div class="content">
                                            <form action="page.php" method="POST" role="form" enctype="multipart/form-data">
                                            <div class="panel-body">
                                 <form action="">
                                    <div class="form-group">
                                       <label>Current password</label>
                                       <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                       <label>New password</label>
                                       <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                       <label>Confirm new password</label>
                                       <input type="password" class="form-control">
                                    </div>
                                    <button type="button" class="btn btn-primary">Update password</button>
                                    <p>
                                       <small class="text-muted"></small>
                                    </p>
                                 </form>
                              </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="account-notifications">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Notification <span>|</span> Preferences</h4>
                                            <hr class="p-0 m-0 m-b-5">
                                        </div>
                                        <div class="content">
                                        <form action="page.php" method="POST" role="form" enctype="multipart/form-data">
                                        <div class="panel-body">
                                    <p>
                                       <strong>Interaction</strong>
                                    </p>
<div class="form-group">
        <div class="col-sm-6">Alert me when my flights status changes
        </div>    
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary toggler active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> On 
                </label>
                <label class="btn btn-primary toggler">
                    <input type="radio" name="options" id="option2" autocomplete="off"> off
                </label>
            </div>
        
 
</div>
                                    <div class="form-group">
                                        <div class="col-sm-6">Alert me when my flight gets approved
                                        </div>    
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary toggler active">
                                                    <input type="radio" name="notification-approvals" id="option1" autocomplete="off" checked> On 
                                                </label>
                                                <label class="btn btn-primary toggler">
                                                    <input type="radio" name="notification-approvals" id="option2" autocomplete="off"> off
                                                </label>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                    <div class="col-sm-6">Alert me when my flight gets approved
                                        </div>    
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary toggler active">
                                                    <input type="radio" name="notification-neweventsite" id="option1" autocomplete="off" checked> On 
                                                </label>
                                                <label class="btn btn-primary toggler">
                                                    <input type="radio" name="notification-neweventsite" id="option2" autocomplete="off"> off
                                                </label>
                                            </div>
                                    </div>
                                    
                                    <p>
                                       <strong>Marketing | Travel News</strong>
                                    </p>
                                    <div class="form-group">
                                    <div class="col-sm-6">Send me travel news and Intersting air travel updates
                                        </div>    
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary toggler active">
                                                    <input type="radio" name="notification-marketingnews" id="option1" autocomplete="off" checked> On 
                                                </label>
                                                <label class="btn btn-primary toggler">
                                                    <input type="radio" name="notification-marketingnews" id="option2" autocomplete="off"> off
                                                </label>
                                            </div>
                                    </div>
                                    <button type="button" class="btn btn-primary">Update notifications</button>
                                    <p>
                                       <small class="text-muted"></small>
                                    </p>
                                 </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>