<div class="content-settings-form">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#account" aria-controls="home" role="tab" data-toggle="tab">Account</a>
                                </li>
                                <li role="presentation">
                                    <a href="#account-notifications" aria-controls="tab" role="tab" data-toggle="tab">Notifications</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!--PERSONAL INFORMATION TAB-->
                                <div role="tabpanel" class="tab-pane active" id="account">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Account Information</h4>
                                            <hr class="p-o m-0">
                                        </div>
                                        <div class="content">
                                            <form action="page.php" method="POST" role="form" enctype="multipart/form-data">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="account-notifications">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Notification| Preferences</h4>
                                            <hr class="p-o m-0">
                                        </div>
                                        <div class="content">
                                        <form action="page.php" method="POST" role="form" enctype="multipart/form-data">
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>