<div class="row">
	<div class="col-sm-8">
		<div class="row" id="thanks-message">
			<div class="col-sm-12">
				<div class="logo"></div>
			</div>
			<div class="col-sm-12">
				<h3>Thank You</h3>
				<p><?php echo $app->output->successstr ?></p>
				<footnote style="text-align:center;font-size:12px; margin-top:10px;width:100%;display:block">Please check you junk mail for the reset password email if you do not see it in a couple of minutes.</footnote>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 image-bg">
		<div class="color-overlay"></div>
	</div>	
</div>

