<div class="row">
	<div class="col-sm-8">
		<div class="row" id="thanks-message">
			<div class="col-sm-12">
				<div class="logo"></div>
			</div>
			<div class="col-sm-12">
				<h3>Thank You</h3>
				<div class="row">
                    <div class="col-sm-12">
                        <div class="errors">
                            <?php echo $app->output->errorstr ?>  
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="success">
                            <?php echo $app->output->successstr ?>
                        </div>
                    </div>
                </div>  
				<footnote style="text-align:center;font-size:12px; margin-top:10px;width:100%;display:block">.</footnote>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 image-bg">
		<div class="color-overlay"></div>
	</div>	
</div>

