<div class="card">
	<div class="col-sm-12" id="returnSearch"><a href="/?p=traveler-search">&lt; Return to Traveler Search</a></div>
	<div class="col-sm-12">
		<p class="title">Traveler Details</p>
		<p class="f_name"></p>
		<p class="m_initial"></p>
		<p class="l_name"></p>
		<p class="email"></p>
		<p class="phone"></p>
		<p class="dob"></p>
		<p class="gender"></p>
		<p class="title">Travel Information</p>
		<p class="known_number"></p>
		<p class="redress"></p>
		<p class="role_name"></p>
	</div>
</div>